/* =========================================================================== *\
    Justification utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .justify-start-xl {
        justify-content: flex-start;
    }

    .justify-center-xl {
        justify-content: center;
    }

    .justify-end-xl {
        justify-content: flex-end;
    }

    .justify-between-xl {
        justify-content: space-between;
    }

    .justify-around-xl {
        justify-content: space-around;
    }
}
