/* =========================================================================== *\
    Order utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    .order-xl-3 {
        order: 3;
    }

    .order-xl-4 {
        order: 4;
    }

    .order-xl-5 {
        order: 5;
    }
}
