/* =========================================================================== *\
    Alignment Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .align-start-sm {
        align-items: flex-start;
    }
    
    .align-center-sm {
        align-items: center;
    }
    
    .align-end-sm {
        align-items: flex-end;
    }
}
