/* =========================================================================== *\
    Display utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .flex-sm {
        display: flex;
    }

    .flex-inline-sm {
        display: inline-flex;
    }

    .block-sm {
        display: block;
    }

    .inline-sm {
        display: inline;
    }

    .inline-block-sm {
        display: inline-block;
    }

    .hidden-sm {
        display: none;
    }
}
