/* =========================================================================== *\
    Layout options
\* =========================================================================== */

.clearfix::before,
.clearfix::after {
    content: ' ' !important;
    display: table !important;
}

.clearfix::after {
    clear: both !important;
}
