/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

@media (--c-bp-xl) {
    .pull-xl-1-10 {
        right: 10%;
    }

    .pull-xl-2-10 {
        right: 20%;
    }

    .pull-xl-3-10 {
        right: 30%;
    }

    .pull-xl-4-10 {
        right: 40%;
    }

    .pull-xl-5-10 {
        right: 50%;
    }

    .pull-xl-6-10 {
        right: 60%;
    }

    .pull-xl-7-10 {
        right: 70%;
    }

    .pull-xl-8-10 {
        right: 80%;
    }

    .pull-xl-9-10 {
        right: 90%;
    }

    .pull-xl-10-10 {
        right: 100%;
    }
}
