/* =========================================================================== *\
    Pull 7's
\* =========================================================================== */

@media (--c-bp-xl) {
    .pull-xl-1-7 {
        right: calc(100% / 7);
    }

    .pull-xl-2-7 {
        right: calc(100% / 7 * 2);
    }

    .pull-xl-3-7 {
        right: calc(100% / 7 * 3);
    }

    .pull-xl-4-7 {
        right: calc(100% / 7 * 4);
    }

    .pull-xl-5-7 {
        right: calc(100% / 7 * 5);
    }

    .pull-xl-6-7 {
        right: calc(100% / 7 * 6);
    }

    .pull-xl-7-7 {
        right: 100%;
    }
}
