/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-xl) {
    .pull-xl-1-4 {
        left: 25%;
    }

    .pull-xl-2-4 {
        left: 50%;
    }

    .pull-xl-3-4 {
        left: 75%;
    }

    .pull-xl-4-4 {
        left: 100%;
    }
}
