/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-xl) {
    .pull-xl-1-4 {
        right: 25%;
    }

    .pull-xl-2-4 {
        right: 50%;
    }

    .pull-xl-3-4 {
        right: 75%;
    }

    .pull-xl-4-4 {
        right: 100%;
    }
}
