/* =========================================================================== *\
    Pull 6's
\* =========================================================================== */

@media (--c-bp-xl) {
    .pull-xl-1-6 {
        right: calc(100% / 6);
    }

    .pull-xl-2-6 {
        right: calc(100% / 6 * 2);
    }

    .pull-xl-3-6 {
        right: 50%;
    }

    .pull-xl-4-6 {
        right: calc(100% / 6 * 4);
    }

    .pull-xl-5-6 {
        right: calc(100% / 6 * 5);
    }

    .pull-xl-6-6 {
        right: 100%;
    }
}
