/* ==========================================================================
   Tables
   ========================================================================== */

:root {
    --base-tables-heading-color: inherit;
    --base-tables-spacing: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: var(--base-tables-spacing);
}

td,
th {
    padding: 6px;
    vertical-align: top;
}

th {
    color: var(--base-tables-heading-color);
}

/**
 * Keep text alignment consistent, reset default centered text
 */

caption,
th {
    text-align: left;
}

caption {
    caption-side: bottom;
    margin-top: var(--base-tables-spacing);
}
