/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .gx-lg-0 {
        --gap: 0px;
    }
    
    .gx-lg-1 {
        --gap: 10px;
    }
    
    .gx-lg-2 {
        --gap: 20px;
    }
    
    .gx-lg-3 {
        --gap: 30px;
    }
    
    .gx-lg-4 {
        --gap: 40px;
    }
    
    .gx-lg-5 {
        --gap: 50px;
    }
    
    .gx-lg-0, .gx-lg-1, .gx-lg-2, .gx-lg-3, .gx-lg-4, .gx-lg-5 {
        column-gap: var(--gap);
    }
}
