/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .gx-lg-0 {
        column-gap: 0;
    }
    
    .gx-lg-1 {
        column-gap: 10px-lg;
    }
    
    .gx-lg-2 {
        column-gap: 20px-lg;
    }
    
    .gx-lg-3 {
        column-gap: 30px-lg;
    }
    
    .gx-lg-4 {
        column-gap: 40px-lg;
    }
    
    .gx-lg-5 {
        column-gap: 50px-lg;
    }
}
