/* =========================================================================== *\
    Vertical Gutter Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .gy-lg-0 {
        --gap: 0px;
    }
    
    .gy-lg-1 {
        --gap: 10px;
    }
    
    .gy-lg-2 {
        --gap: 20px;
    }
    
    .gy-lg-3 {
        --gap: 30px;
    }
    
    .gy-lg-4 {
        --gap: 40px;
    }
    
    .gy-lg-5 {
        --gap: 50px;
    }
    
    .gy-lg-0, .gy-lg-1, .gy-lg-2, .gy-lg-3, .gy-lg-4, .gy-lg-5 {
        row-gap: var(--gap);
    }
}
