/* =========================================================================== *\
    Vertical Gutter Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .gy-lg-0 {
        row-gap: 0;
    }
    
    .gy-lg-1 {
        row-gap: 10px;
    }
    
    .gy-lg-2 {
        row-gap: 20px;
    }
    
    .gy-lg-3 {
        row-gap: 30px;
    }
    
    .gy-lg-4 {
        row-gap: 40px;
    }
    
    .gy-lg-5 {
        row-gap: 50px;
    }
}
