/* =========================================================================== *\
    Horizontal gutter utilities
\* =========================================================================== */

.gx-0 {
    --gap: 0px;
}

.gx-1 {
    --gap: 10px;
}

.gx-2 {
    --gap: 20px;
}

.gx-3 {
    --gap: 30px;
}

.gx-4 {
    --gap: 40px;
}

.gx-5 {
    --gap: 50px;
}

.gx-0,
.gx-1,
.gx-2,
.gx-3,
.gx-4,
.gx-5 {
    column-gap: var(--gap);
}
