/* =========================================================================== *\
    Vertical aspect ratio utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .aspect-lg-1-1 {
        aspect-ratio: 1 / 1; /* 1.0:1 */
    }

    .aspect-lg-4-5 {
        aspect-ratio: 4 / 5; /* 1:1.25 */
    }

    .aspect-lg-3-4 {
        aspect-ratio: 3 / 4; /* 1:1.3 */
    }

    .aspect-lg-5-7 {
        aspect-ratio: 5 / 7; /* 1:1.4 */
    }

    .aspect-lg-2-3 {
        aspect-ratio: 2 / 3; /* 1:1.5 */
    }

    .aspect-lg-9-16 {
        aspect-ratio: 9 / 16; /* 1:1.7 */
    }

    .aspect-lg-1-2 {
        aspect-ratio: 1 / 2; /* 1:2 */
    }

    .aspect-lg-3-7,
    .aspect-lg-9-21 {
        aspect-ratio: 3 / 7; /* 1:2.3 */
    }

    .aspect-lg-1-3 {
        aspect-ratio: 1 / 3; /* 1:3.0 */
    }
}
