/* =========================================================================== *\
    All directions gutter utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .g-md-0 {
        --gap: 0px;
    }

    .g-md-1 {
        --gap: 10px;
    }

    .g-md-2 {
        --gap: 20px;
    }

    .g-md-3 {
        --gap: 30px;
    }

    .g-md-4 {
        --gap: 40px;
    }

    .g-md-5 {
        --gap: 50px;
    }

    .g-md-0,
    .g-md-1,
    .g-md-2,
    .g-md-3,
    .g-md-4,
    .g-md-5 {
        gap: var(--gap);
    }
}
