/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .gx-md-0 {
        column-gap: 0;
    }
    
    .gx-md-1 {
        column-gap: 10px-md;
    }
    
    .gx-md-2 {
        column-gap: 20px-md;
    }
    
    .gx-md-3 {
        column-gap: 30px-md;
    }
    
    .gx-md-4 {
        column-gap: 40px-md;
    }
    
    .gx-md-5 {
        column-gap: 50px-md;
    }
}
