/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .gx-md-0 {
        --gap: 0px;
    }
    
    .gx-md-1 {
        --gap: 10px;
    }
    
    .gx-md-2 {
        --gap: 20px;
    }
    
    .gx-md-3 {
        --gap: 30px;
    }
    
    .gx-md-4 {
        --gap: 40px;
    }
    
    .gx-md-5 {
        --gap: 50px;
    }
    
    .gx-md-0, .gx-md-1, .gx-md-2, .gx-md-3, .gx-md-4, .gx-md-5 {
        column-gap: var(--gap);
    }
}
