/* =========================================================================== *\
    Vertical Gutter Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .gy-md-0 {
        --gap: 0px;
    }
    
    .gy-md-1 {
        --gap: 10px;
    }
    
    .gy-md-2 {
        --gap: 20px;
    }
    
    .gy-md-3 {
        --gap: 30px;
    }
    
    .gy-md-4 {
        --gap: 40px;
    }
    
    .gy-md-5 {
        --gap: 50px;
    }
    
    .gy-md-0, .gy-md-1, .gy-md-2, .gy-md-3, .gy-md-4, .gy-md-5 {
        row-gap: var(--gap);
    }
}
