/* ==========================================================================
   Test
   ========================================================================== */

/**
 * Styles used on visual test pages
 * Namespaced to avoid collisions with the styles in the rest of the kit.
 */

/* Test
   ========================================================================== */

/**
 * Test page container
 */

.t-Test {
    counter-reset: test-describe;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 10px;
}

/**
 * Test page title
 */

.t-Test-title {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: initial;
    padding: 20px;
    margin: 20px 0;
    background: #eee;
    color: #999;
}

.t-Test-title > a {
    color: initial;
    text-decoration: underline;
}

/**
 * Test subjects, assertions, and lists
 */

.t-Test-list,
.t-Test-describe,
.t-Test-assert {
    background: #eee;
    border-left: 5px solid #666;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
    line-height: initial;
    margin: 20px 0;
    padding: .75em 20px;
}

.t-Test-list > li::before,
.t-Test-describe::before,
.t-Test-assert::before {
    color: #999;
    display: inline-block;
    margin-right: 10px;
    min-width: 30px;
    text-transform: uppercase;
}

.t-Test-describe {
    counter-reset: test-assert;
    font-size: 24px;
    margin: 60px 0 20px;
}

.t-Test-describe::before {
    content: counter(test-describe, decimal);
    counter-increment: test-describe;
}

.t-Test-list,
.t-Test-assert {
    font-size: 18px;
}

.t-Test-assert::before {
    content: counter(test-describe, decimal) "." counter(test-assert, decimal);
    counter-increment: test-assert;
}

.t-Test-list {
    line-height: 1.3;
    list-style: none;
}

.t-Test-list > li::before {
    content: 'â—';
    display: inline;
    min-width: 0;
}

/**
 * Test output
 */

.t-Test-run {
    margin-bottom: 20px;
}

/* clear floats */

.t-Test-run::before,
.t-Test-run::after {
    content: ' ';
    display: table;
}

.t-Test-run::after {
    clear: both;
}

/* Fixture
   ========================================================================== */

.t-Fixture {
    background: #90c3d4;
    border: 1px solid #000;
    font: initial;
    margin-bottom: 10px;
    padding: 10px;
}

