/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-4 {
        height: 25%;
    }

    .h-xxl-2-4 {
        height: 50%;
    }

    .h-xxl-3-4 {
        height: 75%;
    }

    .h-xxl-4-4 {
        height: 100%;
    }
}
