/* =========================================================================== *\
    Width 6's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-6 {
        height: calc(100% / 6);
    }

    .h-xxl-2-6 {
        height: calc(100% / 6 * 2);
    }

    .h-xxl-3-6 {
        height: 50%;
    }

    .h-xxl-4-6 {
        height: calc(100% / 6 * 4);
    }

    .h-xxl-5-6 {
        height: calc(100% / 6 * 5);
    }

    .h-xxl-6-6 {
        height: 100%;
    }
}
