/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-12 {
        height: calc(100% / 12);
    }

    .h-xxl-2-12 {
        height: calc(100% / 12 * 2);
    }

    .h-xxl-3-12 {
        height: 25%;
    }

    .h-xxl-4-12 {
        height: calc(100% / 12 * 4);
    }

    .h-xxl-5-12 {
        height: calc(100% / 12 * 5);
    }

    .h-xxl-6-12 {
        height: 50%;
    }

    .h-xxl-7-12 {
        height: calc(100% / 12 * 7);
    }

    .h-xxl-8-12 {
        height: calc(100% / 12 * 8);
    }

    .h-xxl-9-12 {
        height: 75%;
    }

    .h-xxl-10-12 {
        height: calc(100% / 12 * 10);
    }

    .h-xxl-11-12 {
        height: calc(100% / 12 * 11);
    }

    .h-xxl-12-12 {
        height: 100%;
    }
}
