/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-7 {
        height: calc(100% / 7);
    }

    .h-xxl-2-7 {
        height: calc(100% / 7 * 2);
    }

    .h-xxl-3-7 {
        height: calc(100% / 7 * 3);
    }

    .h-xxl-4-7 {
        height: calc(100% / 7 * 4);
    }

    .h-xxl-5-7 {
        height: calc(100% / 7 * 5);
    }

    .h-xxl-6-7 {
        height: calc(100% / 7 * 6);
    }

    .h-xxl-7-7 {
        height: 100%;
    }
}
