/* =========================================================================== *\
    Width 9's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-9 {
        height: calc(100% / 9);
    }

    .h-xxl-2-9 {
        height: calc(100% / 9 * 2);
    }

    .h-xxl-3-9 {
        height: calc(100% / 9 * 3);
    }

    .h-xxl-4-9 {
        height: calc(100% / 9 * 4);
    }

    .h-xxl-5-9 {
        height: calc(100% / 9 * 5);
    }

    .h-xxl-6-9 {
        height: calc(100% / 9 * 6);
    }

    .h-xxl-7-9 {
        height: calc(100% / 9 * 7);
    }

    .h-xxl-8-9 {
        height: calc(100% / 9 * 8);
    }

    .h-xxl-9-9 {
        height: 100%;
    }
}
