/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-10 {
        height: calc(10%);
    }

    .h-xxl-2-10 {
        height: calc(20%);
    }

    .h-xxl-3-10 {
        height: calc(30%);
    }

    .h-xxl-4-10 {
        height: calc(40%);
    }

    .h-xxl-5-10 {
        height: 50%;
    }

    .h-xxl-6-10 {
        height: calc(60%);
    }

    .h-xxl-7-10 {
        height: calc(70%);
    }

    .h-xxl-8-10 {
        height: calc(80%);
    }

    .h-xxl-9-10 {
        height: calc(90%);
    }

    .h-xxl-10-10 {
        height: 100%;
    }
}
