/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .h-xxl-1-5 {
        height: calc(20%);
    }

    .h-xxl-2-5 {
        height: calc(40%);
    }

    .h-xxl-3-5 {
        height: calc(60%);
    }

    .h-xxl-4-5 {
        height: calc(80%);
    }

    .h-xxl-5-5 {
        height: 100%;
    }
}
