/* =========================================================================== *\
    Text Transform Utilities - large screens
\* =========================================================================== */

@media (--c-bp-xs) {
    .text-lower-xs {
        text-transform: lowercase;
    }

    .text-upper-xs {
        text-transform: uppercase;
    }

    .text-capital-xs {
        text-transform: capitalize;
    }
}
