/* =========================================================================== *\
    All directions gutter utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .g-xs-0 {
        --gap: 0px;
    }

    .g-xs-1 {
        --gap: 10px;
    }

    .g-xs-2 {
        --gap: 20px;
    }

    .g-xs-3 {
        --gap: 30px;
    }

    .g-xs-4 {
        --gap: 40px;
    }

    .g-xs-5 {
        --gap: 50px;
    }

    .g-xs-0,
    .g-xs-1,
    .g-xs-2,
    .g-xs-3,
    .g-xs-4,
    .g-xs-5 {
        gap: var(--gap);
    }
}
