/* =========================================================================== *\
    Vertical Gutter Utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .gy-xs-0 {
        --gap: 0px;
    }

    .gy-xs-1 {
        --gap: 10px;
    }

    .gy-xs-2 {
        --gap: 20px;
    }

    .gy-xs-3 {
        --gap: 30px;
    }

    .gy-xs-4 {
        --gap: 40px;
    }

    .gy-xs-5 {
        --gap: 50px;
    }

    .gy-xs-0,
    .gy-xs-1,
    .gy-xs-2,
    .gy-xs-3,
    .gy-xs-4,
    .gy-xs-5 {
        row-gap: var(--gap);
    }
}
