/* =========================================================================== *\
    Vertical gutter utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .gy-xs-0 {
        --row-gap: 0px;
    }

    .gy-xs-1 {
        --row-gap: 10px;
    }

    .gy-xs-2 {
        --row-gap: 20px;
    }

    .gy-xs-3 {
        --row-gap: 30px;
    }

    .gy-xs-4 {
        --row-gap: 40px;
    }

    .gy-xs-5 {
        --row-gap: 50px;
    }

    .gy-xs-0,
    .gy-xs-1,
    .gy-xs-2,
    .gy-xs-3,
    .gy-xs-4,
    .gy-xs-5 {
        row-gap: var(--row-gap);
    }
}
