/* =========================================================================== *\
    Image Utilities
\* =========================================================================== */

.image-left,
.image-right {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

@media (--c-bp-sm) {
    .image-left,
    .image-right {
        width: unset;
        max-width: 100%;
        display: inline;
    }

    .image-left {
        float: left;
        margin-right: 20px;
    }

    .image-right {
        float: right;
        margin-left: 20px;
    }
}
