/* =========================================================================== *\
    Image Utilities
\* =========================================================================== */

.image-left {
    float: left;
    margin-right: 20px;
}

.image-right {
    float: right;
    margin-left: 20px;
}
