/* =========================================================================== *\
    Image utilities
\* =========================================================================== */

.image-left,
.image-right {
    display: block;
    height: auto;
    margin-bottom: var(--image-bottom-margin);
    max-width: var(--image-max-width);
}

@media (--m-sm) {
    .image-left,
    .image-right {
        display: inline;
        max-width: var(--image-max-width-sm);
    }

    .image-left {
        float: left;
        margin-right: var(--image-right-margin);
    }

    .image-right {
        float: right;
        margin-left: var(--image-left-margin);
    }
}

@media (--m-md) {
    .image-left,
    .image-right {
        max-width: var(--image-max-width-md);
    }
}
