<div class="section section-header">
  <div class="container container-header">

    <div class="header header-mid">
      <div class="header_logo header-mid_logo">

        <div class="logo"><a href="/">{{ site.title }}</a></div>

      </div>
    </div>

  </div>
</div>
