<div class="section section-footer">
  <div class="container container-footer">

    <div class="footer footer-mid">
      <div class="footer_copy footer-mid_copy">

          <p>Copyright &copy; 2014</p>

      </div>
    </div>

  </div>
</div>
