<div class="sidebar_item">
    <div class="h5 spaced-xs">Layouts</div>
    <ul class="milli">
        <li><a href="/grid.html">Grid</a></li>
        <li><a href="/media.html">Media Object</a></li>
        <li><a href="/lists.html">Lists</a></li>
    </ul>
</div>

<div class="sidebar_item">
    <div class="h5 spaced-xs">Modules</div>
    <ul class="milli">
        <li><a href="/breadcrumbs.html">Breadcrumbs</a></li>
        <li><a href="/pagination.html">Pagination</a></li>
    </ul>
</div>

