<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="layout/images/favicon-144.png"/>
  <link rel="shortcut icon" href="layout/images/favicon.png" >
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Pacifico|Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="layout/css/main.css" />
</head>
<body>
