/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

.col-1-4 {
    width: calc(25% - var(--gap));
}

.col-2-4 {
    width: calc(50% - var(--gap));
}

.col-3-4 {
    width: calc(75% - var(--gap));
}

.col-4-4 {
    width: calc(100% - var(--gap));
}
