/* =========================================================================== *\
   Positioning utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .absolute-xs {
        position: absolute;
    }

    .fixed-xs {
        position: fixed;
    }

    .relative-xs {
        position: relative;
    }

    .static-xs {
        position: static;
    }

    .sticky-xs {
        position: sticky;
    }
}
