{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-vendor-prefix": null,
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-closing-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-newline-before": null,
    "block-opening-brace-space-after": null,
    "block-opening-brace-space-before": "always",
    "block-no-empty": null,
    "color-hex-case": "lower",
    "color-hex-length": null,
    "color-named": "never",
    "color-no-hex": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": ["always", {
      ignore: ["stylelint-commands"]
    }],
    "comment-whitespace-inside": "always",
    "custom-media-pattern": null,
    "custom-property-pattern": null,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-after": null,
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": null,
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": null,
    "function-blacklist": null,
    "function-calc-no-unspaced-operator": true,
    "function-comma-newline-after": "always-multi-line",
    "function-comma-newline-before": null,
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-parentheses-newline-inside": null,
    "function-parentheses-space-inside": "never-single-line",
    "function-url-quotes": "always",
    "function-whitelist": null,
    "function-whitespace-after": "always",
    "indentation": 4,
    "max-empty-lines": 3,
    "max-line-length": null,
    "media-feature-colon-space-after": "always",
    "media-feature-colon-space-before": "never",
    "media-feature-name-no-vendor-prefix": null,
    "media-feature-range-operator-space-after": "always",
    "media-feature-range-operator-space-before": "always",
    "media-query-list-comma-newline-after": "always-multi-line",
    "media-query-list-comma-newline-before": "never-multi-line",
    "media-query-list-comma-space-after": "always-single-line",
    "media-query-list-comma-space-before": "never",
    "media-feature-parentheses-space-inside": "never",
    "no-eol-whitespace": null,
    "no-missing-end-of-source-newline": null,
    "number-leading-zero": "never",
    "number-max-precision": 6,
    "number-no-trailing-zeros": true,
    "length-zero-no-unit": true,
    "property-blacklist": null,
    "property-no-vendor-prefix": null,
    "declaration-property-unit-blacklist": null,
    "declaration-property-unit-whitelist": null,
    "property-whitelist": null,
    "rule-empty-line-before": ["always", {"except": ["first-nested"], "ignore": ["after-comment"]}],
    "selector-class-pattern": null,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-id-pattern": null,
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-list-comma-space-after": null,
    "selector-list-comma-space-before": null,
    "selector-no-vendor-prefix": null,
    "selector-pseudo-element-colon-notation": "double",
    "string-quotes": "single",
    "unit-blacklist": null,
    "unit-whitelist": null,
    "value-no-vendor-prefix": null,
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-newline-before": "never-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
    "order/properties-alphabetical-order": true
  }
}
