---
title: "Breadcrumbs"
layout: "sidebar.hbs"
---

<h1>Breadcrumbs</h1>

<p>A breadcrumbs module. Styles breadcrumbs.</p>
<p>States: -is-disabled, -is-current, :link states.</p>



<h2>Usage:</h2>

{{#markdown}}
```html
<div class="breadcrumbs">
    <a class="breadcrumbs_item -crumb" href="#">Home</a>
    <span class="breadcrumbs_item -separator micro"></span>
    <span class="breadcrumbs_item -crumb -is-disabled">Disabled</span>
    <span class="breadcrumbs_item -separator micro"></span>
    <a class="breadcrumbs_item -crumb" href="#">Page</a>
    <span class="breadcrumbs_item -separator micro"></span>
    <a class="breadcrumbs_item -crumb -is-current" href="#">Current Page</a>
</div>
```
{{/markdown}}



<h3>Example:</h3>

<div class="spaced-md milli">
    <div class="breadcrumbs">
        <a class="breadcrumbs_item -crumb" href="#">Home</a>
        <span class="breadcrumbs_item -separator micro"></span>
        <span class="breadcrumbs_item -crumb -is-disabled">Disabled</span>
        <span class="breadcrumbs_item -separator micro"></span>
        <a class="breadcrumbs_item -crumb" href="#">Page</a>
        <span class="breadcrumbs_item -separator micro"></span>
        <a class="breadcrumbs_item -crumb -is-current" href="#">Current Page</a>
    </div>
</div>



