{% extends 'layouts/default.html' %}

{% block page %}


<h1>Index</h1>

<p>Project scaffolding and build system for static sites using
<a href="http://gulpjs.com/">Gulp</a>,
<a href="https://github.com/postcss/postcss">PostCSS</a> and
<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.</p>


<h2>Resources & further reading</h2>

<ul>
  <li><a href="http://suitcss.github.io/">SUIT CSS</a></li>
  <li><a href="https://en.bem.info/">BEM</a></li>
  <li><a href="http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#javascript-namespaces-js-">UI Namespaces</a></li>
  <li><a href="https://speakerdeck.com/csswizardry/css-for-software-engineers-for-css-developers">CSS For Software Engineers</a></li>
  <li><a href="http://cssguidelin.es/#architectural-principles">CSS Architectural Principles</a></li>
  <li><a href="http://primercss.io/guidelines/">PrimerCSS Guidelines</a></li>
  <li><a href="http://v4-alpha.getbootstrap.com/getting-started/best-practices/">Bootstrap Best Practices</a></li>
</ul>


{% endblock %}
