---
title: "Lists"
layout: "sidebar.hbs"
---

<h1>Lists</h1>

<p>Generic list styles</p>

<h3>List Reset</h3>
{{#markdown}}
```html
<ul class="list">
    [...]
</ul>
```
{{/markdown}}
<ul class="list">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    <li>List Item 4</li>
</ul>
<p></p>

<h3>Inline List</h3>
{{#markdown}}
```html
<ul class="list-inline">
    [...]
</ul>
```
{{/markdown}}
<ul class="list-inline">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    <li>List Item 4</li>
</ul>
<p></p>

<h3>Spaced Inline List</h3>
{{#markdown}}
```html
<ul class="list-spaced">
    [...]
</ul>
```
{{/markdown}}
<ul class="list-spaced">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    <li>List Item 4</li>
</ul>
<p></p>

<h3>Barred Inline List</h3>
{{#markdown}}
```html
<ul class="list-barred">
    [...]
</ul>
```
{{/markdown}}
<ul class="list-barred">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    <li>List Item 4</li>
</ul>
<p></p>

<h3>Dotted Inline List</h3>
{{#markdown}}
```html
<ul class="list-dotted">
    [...]
</ul>
```
{{/markdown}}
<ul class="list-dotted">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
    <li>List Item 4</li>
</ul>
<p></p>


