/* =========================================================================== *
   First child horizontal margin and padding utilities
 * =========================================================================== */


.first-child-sx-7 > *:first-child {
    margin-left: var(--child-spacing-7);
    margin-right: var(--child-spacing-7);
    padding-left: var(--child-spacing-7);
    padding-right: var(--child-spacing-7);
}
