/* =========================================================================== *
   First child horizontal margin and padding utilities
 * =========================================================================== */


.first-child-sx-13 {
    margin-left: var(--child-spacing-13);
    margin-right: var(--child-spacing-13);
    padding-left: var(--child-spacing-13);
    padding-right: var(--child-spacing-13);
}
