/* =========================================================================== *
   First child horizontal margin and padding utilities
 * =========================================================================== */


.first-child-sx-9 {
    margin-left: var(--child-spacing-9);
    margin-right: var(--child-spacing-9);
    padding-left: var(--child-spacing-9);
    padding-right: var(--child-spacing-9);
}
