/*---------------------------------------------------------------------------*\
  BREADCRUMBS
\*---------------------------------------------------------------------------*/
/**
 * A breadcrumb trail that can be configured with separators.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Base settings applied to the wrapper.
 */
$crumbs-wrapper-padding: .25em !default;

/**
 * Margin between each breadcrumb_item (crumbs and separators)
 */
$crumbs-item-spacing: .5em !default;

/**
 * Padding on each crumb
 */
$crumbs-crumb-padding: .25em .5em !default;

/**
 * Separator settings.
 */
$crumbs-separator: ">>" !default;
$crumbs-separator-padding: 0 !default;





/*---------------------------------------------------------------------------*\
  MODULE
\*---------------------------------------------------------------------------*/

/**
 * Base wrapper.
 */
.breadcrumbs {
    display: block;
    padding: $crumbs-wrapper-padding;
}



/**
 * Generic item styles shared by the sub classed elements below.
 */
.breadcrumbs_item {
    display: inline-block;
    margin-right: $crumbs-item-spacing;
    vertical-align: middle;
}



/**
 * The "crumb" or "page".
 *
 * inherits breadcrumbs_item
 */
.breadcrumbs_item.-crumb {
    padding: $crumbs-crumb-padding;
}



/**
 * The crumb separator.
 *
 * inherits breadcrumbs_item
 */
.breadcrumbs_item.-separator {
    padding: $crumbs-separator-padding;
    &:after {
        content: $crumbs-separator;
    }
}



