/*---------------------------------------------------------------------------*\
  FOOTER
\*---------------------------------------------------------------------------*/
/**
 */





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

.footer {
}

.footer-mid {
    text-align: center;
}



.footer_copy {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: $micro;
}



