/*---------------------------------------------------------------------------*\
  LOGO
\*---------------------------------------------------------------------------*/
/**
 * CONTENTS
 * Introduction............... Description and other information.
 * Base....................... Base module.
 * Sub-modules................ 
 */





/*---------------------------------------------------------------------------*\
  INTRO
\*---------------------------------------------------------------------------*/
/**
 */





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

.footer {
}

.footer-mid {
    text-align: center;
}





/*---------------------------------------------------------------------------*\
  SUB-MODULES
\*---------------------------------------------------------------------------*/

.footer_copy {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: $micro;
}



