/*---------------------------------------------------------------------------*\
  HEADER
\*---------------------------------------------------------------------------*/
/**
 */





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

.header {
}

.header-mid {
    text-align: center;
}



.header_logo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $alpha;
}

.header-mid_logo {
}
