/*---------------------------------------------------------------------------*\
  HEADER
\*---------------------------------------------------------------------------*/
/**
 * CONTENTS
 * Introduction............... Description and other information.
 * Base....................... Base module.
 * Sub-modules................ 
 */





/*---------------------------------------------------------------------------*\
  INTRO
\*---------------------------------------------------------------------------*/
/**
 */





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

.header,
%header {
}

.header-mid {
    text-align: center;
}





/*---------------------------------------------------------------------------*\
  SUB-MODULES
\*---------------------------------------------------------------------------*/

.header_logo {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: $alpha;
}

.header-mid_logo {
}
