/*---------------------------------------------------------------------------*\
  LOGO
\*---------------------------------------------------------------------------*/
/**
 * CONTENTS
 * Introduction............... Description and other information.
 * Base....................... Base module.
 */





/*---------------------------------------------------------------------------*\
  INTRO
\*---------------------------------------------------------------------------*/
/**
 * A simple logo element. Wraps around text or an image tag.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

$logo-font-stack: $base-font-stack !default;
$logo-font-size: $alpha !default;;





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

/**
 * Base wrapper
 */
.logo {
    display: inline-block;
    font-family: $logo-font-stack;
    font-size: $logo-font-size;
}



