/*---------------------------------------------------------------------------*\
  LOGO
\*---------------------------------------------------------------------------*/
/**
 * A simple logo element. Wraps around text or an image tag.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

$logo-font-stack: $base-font-stack !default;
$logo-font-size: $alpha !default;;





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

.logo {
    display: inline-block;
    font-family: $logo-font-stack;
    font-size: $logo-font-size;
}



