/*---------------------------------------------------------------------------*\
  PAGINATION
\*---------------------------------------------------------------------------*/
/**
 *
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Base settings applied to the wrapper.
 */
$pagination-wrapper-padding: .25em !default;

/**
 * Margin between each pagination_item (page links and navigation items)
 */
$pagination-item-spacing: .5em !default;

/**
 * Padding on each page link
 */
$pagination-page-padding: .25em .5em !default;

/**
 * Padding on each navigation link
 */
$pagination-nav-padding: $pagination-page-padding !default;





/*---------------------------------------------------------------------------*\
  MODULE
\*---------------------------------------------------------------------------*/

/**
 * Base wrapper.
 */
.pagination {
    display: block;
    padding: $pagination-wrapper-padding;
}



/**
 * Generic item styles shared by the sub classed elements below.
 */
.pagination_item {
    display: inline-block;
    margin-right: $pagination-item-spacing;
    vertical-align: middle;
}



/**
 * The page links.
 *
 * inherits breadcrumbs_item
 */
.pagination_item.-page {
    padding: $pagination-page-padding;
}



/**
 * The navigation links.
 *
 * inherits breadcrumbs_item
 */
.pagination_item.-nav {
    padding: $pagination-nav-padding;
}



