/*===========================================================================*\
  LISTS
\*===========================================================================*/

/**
 * Generic list layouts and styles.
 */

@import "settings";





/*===========================================================================*\
  COMPONENT
\*===========================================================================*/

/**
 * List Reset
 *
 * Barebones list, no margins or styles.
 */

.List {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

/**
 * Inline List
 *
 * Creates an inline list with inline items.
 *
 * Extends the list reset.
 */

.List--inline {
    display: inline-block;
    > li {
        display: inline-block;
    }
}

/**
 * Spaced List
 *
 * Adds spacing between the inline items.
 *
 * Extends the inline list.
 */

.List--inline--spaced {
    margin-left: -$list-spaced-margin;
    > li {
        margin-left: $list-spaced-margin;
    }
}

/**
 * Barred List
 *
 * Adds vertical bars between the inline items.
 * White space will add extra spacing. Branch CMS navigation
 * templates are minified so this isn't accounted for.
 *
 * Extends the inline list.
 */

.List--inline--barred {
    > li {
        &:before {
            content: "|";
            margin-left: $list-barred-margin;
            margin-right: $list-barred-margin;
        }
        &:first-child:before {
            content: "";
            margin-left: 0;
            margin-right: 0;
        }
    }
}

/**
 * Dotted List
 *
 * Adds bullets between the inline items.
 * White space will add extra spacing. Branch CMS navigation
 * templates are minified so this isn't accounted for.
 *
 * Extends the inline list.
 */

.List--inline--dotted {
    > li {
        &:before {
            content: "•";
            margin-left: $list-dotted-margin;
            margin-right: $list-dotted-margin;
        }
        &:first-child:before {
            content: "";
            margin-left: 0;
            margin-right: 0;
        }
    }
}

