/*===========================================================================*\
  DEFAULTS
\*===========================================================================*/

/**
 * Margin between spaced list items.
 */

$list-spaced-margin: 1.5em !default;

/**
 * Margin between list items and the bar separator.
 */

$list-barred-margin: .65em !default;

/**
 * Margin between list items and the dot separator.
 */

$list-dotted-margin: .55em !default;

