/*---------------------------------------------------------------------------*\
  TYPOGRAPHY HELPERS
\*---------------------------------------------------------------------------*/



/**
 * Horizonal Alignment
 */
.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-upper {
    text-transform: uppercase;
}



/**
 * Weight and Style
 */
.t-normal {
    font-weight: normal;
}

.t-strong {
    font-weight: bold;
}

.t-unstyled {
    font-style: none;
}

.t-em {
    font-style: italics;
}



