/*---------------------------------------------------------------------------*\
  TYPOGRAPHY HELPERS
\*---------------------------------------------------------------------------*/



/**
 * Horizonal Alignment
 */
.t-alignLeft {
    text-align: left;
}

.t-alignRight {
    text-align: right;
}

.t-alignCenter {
    text-align: center;
}

.t-uppercase {
    text-transform: uppercase;
}



/**
 * Weight and Style
 */
.t-weightNormal {
    font-weight: normal;
}

.t-weightStrong {
    font-weight: bold;
}

.t-styleNone {
    font-style: none;
}

.t-styleEm {
    font-style: italics;
}



