/* =========================================================================== *\
    Flexbox Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .flex-reverse-lg {
        flex-direction: row-reverse;
    }
    
    .flex-col-lg {
        flex-direction: column;
    }
    
    .flex-col-reverse-lg {
        flex-direction: column-reverse;
    }
}
