/*---------------------------------------------------------------------------*\
  BREADCRUMBS
\*---------------------------------------------------------------------------*/
/**
 * A breadcrumb trail that can be configured with separators.
 */

@import "settings";





/*---------------------------------------------------------------------------*\
  COMPONENT
\*---------------------------------------------------------------------------*/

/**
 * Base wrapper.
 */
.Crumbs {
    display: block;
    padding: $crumbs-wrapper-padding;
}



/**
 * Generic item styles shared by the sub classed elements below.
 */
.Crumbs-item {
    display: inline-block;
    margin-right: $crumbs-item-spacing;
    vertical-align: middle;
}



/**
 * The "crumb" or "page".
 *
 * inherits breadcrumbs_item
 */
.Crumbs-item--page {
    padding: $crumbs-page-padding;
}



/**
 * The crumb separator.
 *
 * inherits breadcrumbs_item
 */
.Crumbs-item--separator {
    padding: $crumbs-separator-padding;
    &:after {
        content: $crumbs-separator;
    }
}



