/*===========================================================================*\
  DEFAULTS
\*===========================================================================*/

/**
 * Base settings applied to the wrapper.
 */

$crumbs-wrapper-padding: .25em !default;

/**
 * Margin between each breadcrumb_item (crumbs and separators)
 */

$crumbs-item-spacing: .5em !default;

/**
 * Padding on each crumb
 */

$crumbs-page-padding: .25em .5em !default;

/**
 * Separator settings.
 */

$crumbs-separator: ">>" !default;
$crumbs-separator-padding: 0 !default;

