/* =========================================================================== *\
    BREADCRUMB
\* =========================================================================== */


/** @define Breadcrumb **/

.Breadcrumb {
    font-size: 1.2rem;
    padding: 1em 0;
}

.Breadcrumb-link {
    color: #888;
    text-decoration: none;
}
