/* =========================================================================== *\
    Text transform utilities - large screens
\* =========================================================================== */

@media (--c-bp-xxl) {
    .text-lower-xxl {
        text-transform: lowercase;
    }

    .text-upper-xxl {
        text-transform: uppercase;
    }

    .text-capital-xxl {
        text-transform: capitalize;
    }
}
