/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-sm) {
    .w-sm-1-7 {
        width: calc(100% / 7);
    }

    .w-sm-2-7 {
        width: calc(100% / 7 * 2);
    }

    .w-sm-3-7 {
        width: calc(100% / 7 * 3);
    }

    .w-sm-4-7 {
        width: calc(100% / 7 * 4);
    }

    .w-sm-5-7 {
        width: calc(100% / 7 * 5);
    }

    .w-sm-6-7 {
        width: calc(100% / 7 * 6);
    }

    .w-sm-7-7 {
        width: 100%;
    }
}
