/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-sm) {
    .w-sm-1-12 {
        width: calc(100% / 12);
    }

    .w-sm-2-12 {
        width: calc(100% / 12 * 2);
    }

    .w-sm-3-12 {
        width: 25%;
    }

    .w-sm-4-12 {
        width: calc(100% / 12 * 4);
    }

    .w-sm-5-12 {
        width: calc(100% / 12 * 5);
    }

    .w-sm-6-12 {
        width: 50%;
    }

    .w-sm-7-12 {
        width: calc(100% / 12 * 7);
    }

    .w-sm-8-12 {
        width: calc(100% / 12 * 8);
    }

    .w-sm-9-12 {
        width: 75%;
    }

    .w-sm-10-12 {
        width: calc(100% / 12 * 10);
    }

    .w-sm-11-12 {
        width: calc(100% / 12 * 11);
    }

    .w-sm-12-12 {
        width: 100%;
    }
}
