/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-sm) {
    .w-sm-1-11 {
        width: calc(100% / 11);
    }

    .w-sm-2-11 {
        width: calc(100% / 11 * 2);
    }

    .w-sm-3-11 {
        width: calc(100% / 11 * 3);
    }

    .w-sm-4-11 {
        width: calc(100% / 11 * 4);
    }

    .w-sm-5-11 {
        width: calc(100% / 11 * 5);
    }

    .w-sm-6-11 {
        width: calc(100% / 11 * 6);
    }

    .w-sm-7-11 {
        width: calc(100% / 11 * 7);
    }

    .w-sm-8-11 {
        width: calc(100% / 11 * 8);
    }

    .w-sm-9-11 {
        width: calc(100% / 11 * 9);
    }

    .w-sm-10-11 {
        width: calc(100% / 11 * 10);
    }

    .w-sm-11-11 {
        width: 100%;
    }
}
