/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-sm) {
    .w-sm-1-8 {
        width: calc(100% / 8);
    }

    .w-sm-2-8 {
        width: 25%;
    }

    .w-sm-3-8 {
        width: calc(100% / 8 * 3);
    }

    .w-sm-4-8 {
        width: 50%;
    }

    .w-sm-5-8 {
        width: calc(100% / 8 * 5);
    }

    .w-sm-6-8 {
        width: 75%;
    }

    .w-sm-7-8 {
        width: calc(100% / 8 * 7);
    }

    .w-sm-8-8 {
        width: 100%;
    }
}
