/* =========================================================================== *\
    All sides padding utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .p-xl-0 {
        padding: 0;
    }

    .p-xl-1 {
        padding: 10px;
    }

    .p-xl-2 {
        padding: 20px;
    }

    .p-xl-3 {
        padding: 30px;
    }

    .p-xl-4 {
        padding: 40px;
    }

    .p-xl-5 {
        padding: 50px;
    }
}
