/* =========================================================================== *\
    Bottom padding utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .pb-xl-0 {
        padding-bottom: 0;
    }

    .pb-xl-1 {
        padding-bottom: 10px;
    }

    .pb-xl-2 {
        padding-bottom: 20px;
    }

    .pb-xl-3 {
        padding-bottom: 30px;
    }

    .pb-xl-4 {
        padding-bottom: 40px;
    }

    .pb-xl-5 {
        padding-bottom: 50px;
    }
}
