/* =========================================================================== *\
    Start padding utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .ps-xl-0 {
        padding-left: 0;
    }

    .ps-xl-1 {
        padding-left: 10px;
    }

    .ps-xl-2 {
        padding-left: 20px;
    }

    .ps-xl-3 {
        padding-left: 30px;
    }

    .ps-xl-4 {
        padding-left: 40px;
    }

    .ps-xl-5 {
        padding-left: 50px;
    }
}
