/*---------------------------------------------------------------------------*\
  LIST LAYOUTS
\*---------------------------------------------------------------------------*/

/**
 * List Reset
 *
 * Barebones list, no margins or styles.
 */
%list,
.list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}



/**
 * Inline List
 *
 * Creates an inline list with inline items.
 *
 * Extends the list reset.
 */
%list-inline,
.list-inline {
    @extend %list;
    display: inline-block;
    > li {
        display: inline-block;
    }
}



/**
 * Spaced List
 *
 * Adds spacing between the inline items.
 * 
 * Extends the inline list.
 */
.list-spaced {
    @extend %list-inline;
    margin-left: -1.5em;
    > li {
        margin-left: 1.5em;
    }
}



/**
 * Barred List
 *
 * Adds vertical bars between the inline items.
 * White space will add extra spacing. Branch CMS navigation 
 * templates are minified so this isn't accounted for.
 * 
 * Extends the inline list.
 */
.list-barred {
    @extend %list-inline;

    > li {
        &:before {
            content: "|";
            margin: 0 .65em;
        }
        &:first-child:before {
            content: "";
            margin: 0;
        }
    }
}



/**
 * Dotted List
 *
 * Adds bullets between the inline items.
 * White space will add extra spacing. Branch CMS navigation
 * templates are minified so this isn't accounted for.
 * 
 * Extends the inline list.
 */
.list-dotted {
    @extend %list-inline;

    > li {
        &:before {
            content: "•";
            margin: 0 .55em;
            line-height: 0;
        }
        &:first-child:before {
            content: "";
            margin: 0;
        }
    }
}



