/*---------------------------------------------------------------------------*\
  MEDIA OBJECT
\*---------------------------------------------------------------------------*/
/**
 * See: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * This media object is used to place a block of content next to some media.
 * It is important to know that the width of the media subject column will be
 * determined by it's contents. If an image 80px wide is placed inside the
 * .media_subject element, the column will be 80px wide.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

$media-gutter: 1em !default;





/*---------------------------------------------------------------------------*\
  BASE
\*---------------------------------------------------------------------------*/

.media {
}



/**
 * This is the media it self.
 * This generally contains an image but can be a wrapper for anything.
 */
.media_subject {
    float: left;
    margin-right: $media-gutter;
}



/**
 * The main section of the media element.
 * This is generally where the content goes.
 *
 * [1] http://www.stubbornella.org/content/2009/07/23/overflow-a-secret-benefit/
 */
.media_content {
    overflow: hidden; /* 1 */
}



