/*---------------------------------------------------------------------------*\
  SIDEBAR
\*---------------------------------------------------------------------------*/
/**
 * Sidebar layout.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

$sidebar-gutter: 20px !default;
$sidebar-padding-top: 40px !default;
$sidebar-padding-bottom: 20px !default;





/*---------------------------------------------------------------------------*\
  LAYOUT
\*---------------------------------------------------------------------------*/

.sidebar {
    padding-top: $sidebar-padding-top;
    padding-bottom: $sidebar-padding-bottom;
}



.sidebar_item {
    padding-left: $sidebar-gutter;
    padding-right: $sidebar-gutter;
}



