/* =========================================================================== *\
    Text Align Utilities - large screens
\* =========================================================================== */

@media (--c-bp-lg) {
    .text-center-lg {
        text-align: center;
    }

    .text-start-lg {
        text-align: start;
    }

    .text-end-lg {
        text-align: end;
    }

    .text-justify-lg {
        text-align: justify;
    }
}
