/* ===========================================================================
    Word wrapping and word break styles - large screens
=========================================================================== */

@media (--c-bp-lg) {
    /**
 * Break strings when their length exceeds the width of their container.
 */

    .break-word-lg {
        overflow-wrap: break-word !important;
    }

    /**
 * word-break breaks more aggressively than overflow-wrap and it best for URLS or long strings
 * that could be all "one word".
 */
    .break-all-lg {
        word-break: break-all;
    }

    /**
 * Prevent whitespace wrapping
 */

    .no-wrap-lg {
        white-space: nowrap !important;
    }
}
