/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-4 {
        right: 25%;
    }

    .push-md-2-4 {
        right: 50%;
    }

    .push-md-3-4 {
        right: 75%;
    }

    .push-md-4-4 {
        right: 100%;
    }
}
