/* =========================================================================== *\
    Grid 12's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-12 {
        right: calc(100% / 12);
    }

    .push-md-2-12 {
        right: calc(100% / 12 * 2);
    }

    .push-md-3-12 {
        right: 25%;
    }

    .push-md-4-12 {
        right: calc(100% / 12 * 4);
    }

    .push-md-5-12 {
        right: calc(100% / 12 * 5);
    }

    .push-md-6-12 {
        right: 50%;
    }

    .push-md-7-12 {
        right: calc(100% / 12 * 7);
    }

    .push-md-8-12 {
        right: calc(100% / 12 * 8);
    }

    .push-md-9-12 {
        right: 75%;
    }

    .push-md-10-12 {
        right: calc(100% / 12 * 10);
    }

    .push-md-11-12 {
        right: calc(100% / 12 * 11);
    }

    .push-md-12-12 {
        right: 100%;
    }
}
