/* =========================================================================== *\
    Push 10's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-10 {
        left: 10%;
    }

    .push-md-2-10 {
        left: 20%;
    }

    .push-md-3-10 {
        left: 30%;
    }

    .push-md-4-10 {
        left: 40%;
    }

    .push-md-5-10 {
        left: 50%;
    }

    .push-md-6-10 {
        left: 60%;
    }

    .push-md-7-10 {
        left: 70%;
    }

    .push-md-8-10 {
        left: 80%;
    }

    .push-md-9-10 {
        left: 90%;
    }

    .push-md-10-10 {
        left: 100%;
    }
}
