/* =========================================================================== *\
    Grid 7's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-7 {
        right: calc(100% / 7);
    }

    .push-md-2-7 {
        right: calc(100% / 7 * 2);
    }

    .push-md-3-7 {
        right: calc(100% / 7 * 3);
    }

    .push-md-4-7 {
        right: calc(100% / 7 * 4);
    }

    .push-md-5-7 {
        right: calc(100% / 7 * 5);
    }

    .push-md-6-7 {
        right: calc(100% / 7 * 6);
    }

    .push-md-7-7 {
        right: 100%;
    }
}
