/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-5 {
        right: 20%;
    }

    .push-md-2-5 {
        right: 40%;
    }

    .push-md-3-5 {
        right: 60%;
    }

    .push-md-4-5 {
        right: 80%;
    }

    .push-md-5-5 {
        right: 100%;
    }
}
