/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-9 {
        right: calc(100% / 9);
    }

    .push-md-2-9 {
        right: calc(100% / 9 * 2);
    }

    .push-md-3-9 {
        right: calc(100% / 9 * 3);
    }

    .push-md-4-9 {
        right: calc(100% / 9 * 4);
    }

    .push-md-5-9 {
        right: calc(100% / 9 * 5);
    }

    .push-md-6-9 {
        right: calc(100% / 9 * 6);
    }

    .push-md-7-9 {
        right: calc(100% / 9 * 7);
    }

    .push-md-8-9 {
        right: calc(100% / 9 * 8);
    }

    .push-md-9-9 {
        right: 100%;
    }
}
