/* =========================================================================== *\
    Push 4's
\* =========================================================================== */

@media (--c-bp-md) {
    .push-md-1-4 {
        left: 25%;
    }

    .push-md-2-4 {
        left: 50%;
    }

    .push-md-3-4 {
        left: 75%;
    }

    .push-md-4-4 {
        left: 100%;
    }
}
