/* =========================================================================== *\
    Pull 7's
\* =========================================================================== */

@media (--c-bp-xs) {
    .pull-xs-1-7 {
        right: calc(100% / 7);
    }

    .pull-xs-2-7 {
        right: calc(100% / 7 * 2);
    }

    .pull-xs-3-7 {
        right: calc(100% / 7 * 3);
    }

    .pull-xs-4-7 {
        right: calc(100% / 7 * 4);
    }

    .pull-xs-5-7 {
        right: calc(100% / 7 * 5);
    }

    .pull-xs-6-7 {
        right: calc(100% / 7 * 6);
    }

    .pull-xs-7-7 {
        right: 100%;
    }
}
