/* =========================================================================== *\
    Pull 5's
\* =========================================================================== */

@media (--c-bp-xs) {
    .pull-xs-1-5 {
        right: 20%;
    }

    .pull-xs-2-5 {
        right: 40%;
    }

    .pull-xs-3-5 {
        right: 60%;
    }

    .pull-xs-4-5 {
        right: 80%;
    }

    .pull-xs-5-5 {
        right: 100%;
    }
}
