/* =========================================================================== *\
    Pull 10's
\* =========================================================================== */

@media (--c-bp-xs) {
    .pull-xs-1-10 {
        right: 10%;
    }

    .pull-xs-2-10 {
        right: 20%;
    }

    .pull-xs-3-10 {
        right: 30%;
    }

    .pull-xs-4-10 {
        right: 40%;
    }

    .pull-xs-5-10 {
        right: 50%;
    }

    .pull-xs-6-10 {
        right: 60%;
    }

    .pull-xs-7-10 {
        right: 70%;
    }

    .pull-xs-8-10 {
        right: 80%;
    }

    .pull-xs-9-10 {
        right: 90%;
    }

    .pull-xs-10-10 {
        right: 100%;
    }
}
