/* =========================================================================== *\
    Pull 6's
\* =========================================================================== */

@media (--c-bp-xs) {
    .pull-xs-1-6 {
        right: calc(100% / 6);
    }

    .pull-xs-2-6 {
        right: calc(100% / 6 * 2);
    }

    .pull-xs-3-6 {
        right: 50%;
    }

    .pull-xs-4-6 {
        right: calc(100% / 6 * 4);
    }

    .pull-xs-5-6 {
        right: calc(100% / 6 * 5);
    }

    .pull-xs-6-6 {
        right: 100%;
    }
}
