/* =========================================================================== *\
    Pull 8's
\* =========================================================================== */

@media (--c-bp-xs) {
    .pull-xs-1-8 {
        right: calc(100% / 8);
    }

    .pull-xs-2-8 {
        right: 25%;
    }

    .pull-xs-3-8 {
        right: calc(100% / 8 * 3);
    }

    .pull-xs-4-8 {
        right: 50%;
    }

    .pull-xs-5-8 {
        right: calc(100% / 8 * 5);
    }

    .pull-xs-6-8 {
        right: 75%;
    }

    .pull-xs-7-8 {
        right: calc(100% / 8 * 7);
    }

    .pull-xs-8-8 {
        right: 100%;
    }
}
