/* =========================================================================== *\
    All sides padding utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .p-md-0 {
        padding: 0;
    }

    .p-md-1 {
        padding: 10px;
    }

    .p-md-2 {
        padding: 20px;
    }

    .p-md-3 {
        padding: 30px;
    }

    .p-md-4 {
        padding: 40px;
    }

    .p-md-5 {
        padding: 50px;
    }
}
