/* =========================================================================== *\
    End Padding Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .pe-md-0 {
        padding-right: 0;
    }
    
    .pe-md-1 {
        padding-right: 10px;
    }
    
    .pe-md-2 {
        padding-right: 20px;
    }
    
    .pe-md-3 {
        padding-right: 30px;
    }
    
    .pe-md-4 {
        padding-right: 40px;
    }
    
    .pe-md-5 {
        padding-right: 50px;
    }
}
