/* =========================================================================== *\
    Start Padding Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .ps-md-0 {
        padding-left: 0;
    }
    
    .ps-md-1 {
        padding-left: 10px;
    }
    
    .ps-md-2 {
        padding-left: 20px;
    }
    
    .ps-md-3 {
        padding-left: 30px;
    }
    
    .ps-md-4 {
        padding-left: 40px;
    }
    
    .ps-md-5 {
        padding-left: 50px;
    }
}
