/* =========================================================================== *\
    Vertical Padding Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .py-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .py-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .py-3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .py-4 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .py-5 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
