/*===========================================================================*\
  STATE SM
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";



@media (max-width: $margin-bottom-sm) {

    .u-sm-margBottom0 {
        margin-bottom: 0 !important;
    }

    .u-sm-margBottom1 {
        margin-bottom: $g-rhythm*1 !important;
    }

    .u-sm-margBottom2 {
        margin-bottom: $g-rhythm*2 !important;
    }

    .u-sm-margBottom3 {
        margin-bottom: $g-rhythm*3 !important;
    }

    .u-sm-margBottom4 {
        margin-bottom: $g-rhythm*4 !important;
    }

    .u-sm-margBottom5 {
        margin-bottom: $g-rhythm*5 !important;
    }

}

