/*===========================================================================*\
  STATE LG
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";



@media (max-width: $margin-bottom-lg) {

    .u-lg-margBottom0 {
        margin-bottom: 0 !important;
    }

    .u-lg-margBottom1 {
        margin-bottom: $g-rhythm*1 !important;
    }

    .u-lg-margBottom2 {
        margin-bottom: $g-rhythm*2 !important;
    }

    .u-lg-margBottom3 {
        margin-bottom: $g-rhythm*3 !important;
    }

    .u-lg-margBottom4 {
        margin-bottom: $g-rhythm*4 !important;
    }

    .u-lg-margBottom5 {
        margin-bottom: $g-rhythm*5 !important;
    }

}

