/*===========================================================================*\
  STATE MD
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";



@media (max-width: $margin-bottom-md) {

    .u-md-margBottom0 {
        margin-bottom: 0 !important;
    }

    .u-md-margBottom1 {
        margin-bottom: $g-rhythm*1 !important;
    }

    .u-md-margBottom2 {
        margin-bottom: $g-rhythm*2 !important;
    }

    .u-md-margBottom3 {
        margin-bottom: $g-rhythm*3 !important;
    }

    .u-md-margBottom4 {
        margin-bottom: $g-rhythm*4 !important;
    }

    .u-md-margBottom5 {
        margin-bottom: $g-rhythm*5 !important;
    }

}

