/* =========================================================================== *\
    All sides margin utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .m-xl-0 {
        margin: 0;
    }

    .m-xl-1 {
        margin: 10px;
    }

    .m-xl-2 {
        margin: 20px;
    }

    .m-xl-3 {
        margin: 30px;
    }

    .m-xl-4 {
        margin: 40px;
    }

    .m-xl-5 {
        margin: 50px;
    }
}
