/* =========================================================================== *\
    End margin utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .me-xl-0 {
        margin-right: 0;
    }

    .me-xl-1 {
        margin-right: 10px;
    }

    .me-xl-2 {
        margin-right: 20px;
    }

    .me-xl-3 {
        margin-right: 30px;
    }

    .me-xl-4 {
        margin-right: 40px;
    }

    .me-xl-5 {
        margin-right: 50px;
    }
}
