/* =========================================================================== *\
    Vertical margin utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .my-xl-0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .my-xl-1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .my-xl-2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .my-xl-3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .my-xl-4 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .my-xl-5 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
