/* =========================================================================== *\
    All Sides Margin Utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .m-xxl-0 {
        margin: 0;
    }

    .m-xxl-1 {
        margin: 10px;
    }

    .m-xxl-2 {
        margin: 20px;
    }

    .m-xxl-3 {
        margin: 30px;
    }

    .m-xxl-4 {
        margin: 40px;
    }

    .m-xxl-5 {
        margin: 50px;
    }
}
