/* =========================================================================== *\
    End Margin Utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .me-xxl-0 {
        margin-right: 0;
    }

    .me-xxl-1 {
        margin-right: 10px;
    }

    .me-xxl-2 {
        margin-right: 20px;
    }

    .me-xxl-3 {
        margin-right: 30px;
    }

    .me-xxl-4 {
        margin-right: 40px;
    }

    .me-xxl-5 {
        margin-right: 50px;
    }
}
