/* =========================================================================== *\
    Top margin utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .mt-xxl-0 {
        margin-top: 0;
    }

    .mt-xxl-1 {
        margin-top: 10px;
    }

    .mt-xxl-2 {
        margin-top: 20px;
    }

    .mt-xxl-3 {
        margin-top: 30px;
    }

    .mt-xxl-4 {
        margin-top: 40px;
    }

    .mt-xxl-5 {
        margin-top: 50px;
    }
}
