/* =========================================================================== *\
    Vertical margin utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .my-xxl-0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .my-xxl-1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .my-xxl-2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .my-xxl-3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .my-xxl-4 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .my-xxl-5 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
