/* =========================================================================== *\
    Grid 3's
\* =========================================================================== */

@media (--c-bp-lg) {
    .push-lg-1-3 {
        right: calc(100% / 3);
    }

    .push-lg-2-3 {
        right: calc(100% / 3 * 2);
    }

    .push-lg-3-3 {
        right: 100%;
    }
}
