/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-lg) {
    .push-lg-1-8 {
        left: calc(100% / 8);
    }

    .push-lg-2-8 {
        left: 25%;
    }

    .push-lg-3-8 {
        left: calc(100% / 8 * 3);
    }

    .push-lg-4-8 {
        left: 50%;
    }

    .push-lg-5-8 {
        left: calc(100% / 8 * 5);
    }

    .push-lg-6-8 {
        left: 75%;
    }

    .push-lg-7-8 {
        left: calc(100% / 8 * 7);
    }

    .push-lg-8-8 {
        left: 100%;
    }
}
