/* =========================================================================== *\
    Grid 12's
\* =========================================================================== */

@media (--c-bp-lg) {
    .push-lg-1-12 {
        left: calc(100% / 12);
    }

    .push-lg-2-12 {
        left: calc(100% / 12 * 2);
    }

    .push-lg-3-12 {
        left: 25%;
    }

    .push-lg-4-12 {
        left: calc(100% / 12 * 4);
    }

    .push-lg-5-12 {
        left: calc(100% / 12 * 5);
    }

    .push-lg-6-12 {
        left: 50%;
    }

    .push-lg-7-12 {
        left: calc(100% / 12 * 7);
    }

    .push-lg-8-12 {
        left: calc(100% / 12 * 8);
    }

    .push-lg-9-12 {
        left: 75%;
    }

    .push-lg-10-12 {
        left: calc(100% / 12 * 10);
    }

    .push-lg-11-12 {
        left: calc(100% / 12 * 11);
    }

    .push-lg-12-12 {
        left: 100%;
    }
}
