/* =========================================================================== *\
    Grid 7's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-7 {
        width: calc(100% / 7 - var(--gap));
    }
    
    .col-sm-2-7 {
        width: calc(100% / 7 * 2 - var(--gap));
    }
    
    .col-sm-3-7 {
        width: calc(100% / 7 * 3 - var(--gap));
    }
    
    .col-sm-4-7 {
        width: calc(100% / 7 * 4 - var(--gap));
    }
    
    .col-sm-5-7 {
        width: calc(100% / 7 * 5 - var(--gap));
    }
    
    .col-sm-6-7 {
        width: calc(100% / 7 * 6 - var(--gap));
    }
    
    .col-sm-7-7 {
        width: calc(100% - var(--gap));
    }
}
