/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-6 {
        width: calc(100% / 6 - var(--gap));
    }
    
    .col-sm-2-6 {
        width: calc(100% / 6 * 2 - var(--gap));
    }
    
    .col-sm-3-6 {
        width: calc(50% - var(--gap));
    }
    
    .col-sm-4-6 {
        width: calc(100% / 6 * 4 - var(--gap));
    }
    
    .col-sm-5-6 {
        width: calc(100% / 6 * 5 - var(--gap));
    }
    
    .col-sm-6-6 {
        width: calc(100% - var(--gap));
    }
}
