/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-4 {
        width: calc(25% - var(--gap));
    }
    
    .col-sm-2-4 {
        width: calc(50% - var(--gap));
    }
    
    .col-sm-3-4 {
        width: calc(75% - var(--gap));
    }
    
    .col-sm-4-4 {
        width: calc(100% - var(--gap));
    }
}
