/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-5 {
        width: calc(20% - var(--gap));
    }
    
    .col-sm-2-5 {
        width: calc(40% - var(--gap));
    }
    
    .col-sm-3-5 {
        width: calc(60% - var(--gap));
    }
    
    .col-sm-4-5 {
        width: calc(80% - var(--gap));
    }
    
    .col-sm-5-5 {
        width: calc(100% - var(--gap));
    }
}
