/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-6 {
        width: calc(100% / 6);
    }
    
    .col-sm-2-6 {
        width: calc(100% / 6 * 2);
    }
    
    .col-sm-3-6 {
        width: 50%;
    }
    
    .col-sm-4-6 {
        width: calc(100% / 6 * 4);
    }
    
    .col-sm-5-6 {
        width: calc(100% / 6 * 5);
    }
    
    .col-sm-6-6 {
        width: 100%;
    }
}
