/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-4 {
        width: 25%;
    }
    
    .col-sm-2-4 {
        width: 50%;
    }
    
    .col-sm-3-4 {
        width: 75%;
    }
    
    .col-sm-4-4 {
        width: 100%;
    }
}
