/* =========================================================================== *\
    Grid 11's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-11 {
        width: calc(100% / 11);
    }
    
    .col-sm-2-11 {
        width: calc(100% / 11 * 2);
    }
    
    .col-sm-3-11 {
        width: calc(100% / 11 * 3);
    }
    
    .col-sm-4-11 {
        width: calc(100% / 11 * 4);
    }
    
    .col-sm-5-11 {
        width: calc(100% / 11 * 5);
    }
    
    .col-sm-6-11 {
        width: calc(100% / 11 * 6);
    }
    
    .col-sm-7-11 {
        width: calc(100% / 11 * 7);
    }
    
    .col-sm-8-11 {
        width: calc(100% / 11 * 8);
    }
    
    .col-sm-9-11 {
        width: calc(100% / 11 * 9);
    }
    
    .col-sm-10-11 {
        width: calc(100% / 11 * 10);
    }
    
    .col-sm-11-11 {
        width: 100%;
    }
}
