/* =========================================================================== *\
    Grid 3's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-3 {
        width: calc(100% / 3 - var(--gap));
    }
    
    .col-sm-2-3 {
        width: calc(100% / 3 * 2 - var(--gap));
    }
    
    .col-sm-3-3 {
        width: calc(100% - var(--gap));
    }
}
