/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-9 {
        width: calc(100% / 9);
    }
    
    .col-sm-2-9 {
        width: calc(100% / 9 * 2);
    }
    
    .col-sm-3-9 {
        width: calc(100% / 9 * 3);
    }
    
    .col-sm-4-9 {
        width: calc(100% / 9 * 4);
    }
    
    .col-sm-5-9 {
        width: calc(100% / 9 * 5);
    }
    
    .col-sm-6-9 {
        width: calc(100% / 9 * 6);
    }
    
    .col-sm-7-9 {
        width: calc(100% / 9 * 7);
    }
    
    .col-sm-8-9 {
        width: calc(100% / 9 * 8);
    }
    
    .col-sm-9-9 {
        width: 100%;
    }
}
