/* =========================================================================== *\
    Grid 12's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-12 {
        width: calc(100% / 12);
    }
    
    .col-sm-2-12 {
        width: calc(100% / 12 * 2);
    }
    
    .col-sm-3-12 {
        width: 25%;
    }
    
    .col-sm-4-12 {
        width: calc(100% / 12 * 4);
    }
    
    .col-sm-5-12 {
        width: calc(100% / 12 * 5);
    }
    
    .col-sm-6-12 {
        width: 50%;
    }
    
    .col-sm-7-12 {
        width: calc(100% / 12 * 7);
    }
    
    .col-sm-8-12 {
        width: calc(100% / 12 * 8);
    }
    
    .col-sm-9-12 {
        width: 75%;
    }
    
    .col-sm-10-12 {
        width: calc(100% / 12 * 10);
    }
    
    .col-sm-11-12 {
        width: calc(100% / 12 * 11);
    }
    
    .col-sm-12-12 {
        width: 100%;
    }
}
