/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-10 {
        width: 10%;
    }
    
    .col-sm-2-10 {
        width: 20%;
    }
    
    .col-sm-3-10 {
        width: 30%;
    }
    
    .col-sm-4-10 {
        width: 40%;
    }
    
    .col-sm-5-10 {
        width: 50%;
    }
    
    .col-sm-6-10 {
        width: 60%;
    }
    
    .col-sm-7-10 {
        width: 70%;
    }
    
    .col-sm-8-10 {
        width: 80%;
    }
    
    .col-sm-9-10 {
        width: 90%;
    }
    
    .col-sm-10-10 {
        width: 100%;
    }
}
