/* =========================================================================== *\
    Grid 7's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-7 {
        width: calc(100% / 7);
    }
    
    .col-sm-2-7 {
        width: calc(100% / 7 * 2);
    }
    
    .col-sm-3-7 {
        width: calc(100% / 7 * 3);
    }
    
    .col-sm-4-7 {
        width: calc(100% / 7 * 4);
    }
    
    .col-sm-5-7 {
        width: calc(100% / 7 * 5);
    }
    
    .col-sm-6-7 {
        width: calc(100% / 7 * 6);
    }
    
    .col-sm-7-7 {
        width: 100%;
    }
}
