/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-sm) {
    .col-sm-1-8 {
        width: calc(100% / 8);
    }
    
    .col-sm-2-8 {
        width: 25%;
    }
    
    .col-sm-3-8 {
        width: calc(100% / 8 * 3);
    }
    
    .col-sm-4-8 {
        width: 50%;
    }
    
    .col-sm-5-8 {
        width: calc(100% / 8 * 5);
    }
    
    .col-sm-6-8 {
        width: 75%;
    }
    
    .col-sm-7-8 {
        width: calc(100% / 8 * 7);
    }
    
    .col-sm-8-8 {
        width: 100%;
    }
}
