/* =========================================================================== *\
    Flexbox Utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .flex-row-xxl {
        flex-direction: row;
    }

    .flex-reverse-xxl {
        flex-direction: row-reverse;
    }

    .flex-col-xxl {
        flex-direction: column;
    }

    .flex-col-reverse-xxl {
        flex-direction: column-reverse;
    }
}
