/* =========================================================================== *\
    Justification utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .justify-start-xxl {
        justify-content: flex-start;
    }

    .justify-center-xxl {
        justify-content: center;
    }

    .justify-end-xxl {
        justify-content: flex-end;
    }

    .justify-between-xxl {
        justify-content: space-between;
    }

    .justify-around-xxl {
        justify-content: space-around;
    }
}
