/*---------------------------------------------------------------------------*\
  GENERIC HELPERS
\*---------------------------------------------------------------------------*/

/**
 * Floats
 */
.l-left {
    float: left;
}

.l-right {
    float: right;
}



/**
 * Margins & padding
 */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}





/*---------------------------------------------------------------------------*\
  RESPONSIVE HELPERS
\*---------------------------------------------------------------------------*/

.img,
%img {
    max-width: 100%;
    height: auto;
}

.img-full {
    @extend %img;
    display: block;
    width: 100%;
}



