/*---------------------------------------------------------------------------*\
  GENERIC HELPERS
\*---------------------------------------------------------------------------*/

.clearfix,
%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}



/**
 * Floats
 */

.l-left {
    float: left;
}

.l-right {
    float: right;
}



/**
 * Margins & padding
 */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}





/*---------------------------------------------------------------------------*\
  TYPOGRAPHY HELPERS
\*---------------------------------------------------------------------------*/

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-upper {
    text-transform: uppercase;
}





/*---------------------------------------------------------------------------*\
  RESPONSIVE HELPERS
\*---------------------------------------------------------------------------*/

.img,
%img {
    max-width: 100%;
    height: auto;
}

.img-full {
    @extend %img;
    display: block;
    width: 100%;
}



