/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-8 {
        height: calc(100% / 8);
    }

    .h-md-2-8 {
        height: 25%;
    }

    .h-md-3-8 {
        height: calc(100% / 8 * 3);
    }

    .h-md-4-8 {
        height: 50%;
    }

    .h-md-5-8 {
        height: calc(100% / 8 * 5);
    }

    .h-md-6-8 {
        height: 75%;
    }

    .h-md-7-8 {
        height: calc(100% / 8 * 7);
    }

    .h-md-8-8 {
        height: 100%;
    }
}
