/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-12 {
        height: calc(100% / 12);
    }

    .h-md-2-12 {
        height: calc(100% / 12 * 2);
    }

    .h-md-3-12 {
        height: 25%;
    }

    .h-md-4-12 {
        height: calc(100% / 12 * 4);
    }

    .h-md-5-12 {
        height: calc(100% / 12 * 5);
    }

    .h-md-6-12 {
        height: 50%;
    }

    .h-md-7-12 {
        height: calc(100% / 12 * 7);
    }

    .h-md-8-12 {
        height: calc(100% / 12 * 8);
    }

    .h-md-9-12 {
        height: 75%;
    }

    .h-md-10-12 {
        height: calc(100% / 12 * 10);
    }

    .h-md-11-12 {
        height: calc(100% / 12 * 11);
    }

    .h-md-12-12 {
        height: 100%;
    }
}
