/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-4 {
        height: 25%;
    }

    .h-md-2-4 {
        height: 50%;
    }

    .h-md-3-4 {
        height: 75%;
    }

    .h-md-4-4 {
        height: 100%;
    }
}
