/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-7 {
        height: calc(100% / 7);
    }

    .h-md-2-7 {
        height: calc(100% / 7 * 2);
    }

    .h-md-3-7 {
        height: calc(100% / 7 * 3);
    }

    .h-md-4-7 {
        height: calc(100% / 7 * 4);
    }

    .h-md-5-7 {
        height: calc(100% / 7 * 5);
    }

    .h-md-6-7 {
        height: calc(100% / 7 * 6);
    }

    .h-md-7-7 {
        height: 100%;
    }
}
