/* =========================================================================== *\
    Width 3's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-3 {
        height: calc(100% / 3);
    }

    .h-md-2-3 {
        height: calc(100% / 3 * 2);
    }

    .h-md-3-3 {
        height: 100%;
    }
}
