/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-10 {
        height: calc(10%);
    }

    .h-md-2-10 {
        height: calc(20%);
    }

    .h-md-3-10 {
        height: calc(30%);
    }

    .h-md-4-10 {
        height: calc(40%);
    }

    .h-md-5-10 {
        height: 50%;
    }

    .h-md-6-10 {
        height: calc(60%);
    }

    .h-md-7-10 {
        height: calc(70%);
    }

    .h-md-8-10 {
        height: calc(80%);
    }

    .h-md-9-10 {
        height: calc(90%);
    }

    .h-md-10-10 {
        height: 100%;
    }
}
