/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-md) {
    .h-md-1-5 {
        height: calc(20%);
    }

    .h-md-2-5 {
        height: calc(40%);
    }

    .h-md-3-5 {
        height: calc(60%);
    }

    .h-md-4-5 {
        height: calc(80%);
    }

    .h-md-5-5 {
        height: 100%;
    }
}
