/* =========================================================================== *
   First child all sides margin and padding utilities
 * =========================================================================== */


.first-child-s-1 {
    margin: var(--child-spacing-1);
    padding: var(--child-spacing-1);
}

.first-child-s-2 {
    margin: var(--child-spacing-2);
    padding: var(--child-spacing-2);
}

.first-child-s-3 {
    margin: var(--child-spacing-3);
    padding: var(--child-spacing-3);
}

.first-child-s-4 {
    margin: var(--child-spacing-4);
    padding: var(--child-spacing-4);
}

.first-child-s-5 {
    margin: var(--child-spacing-5);
    padding: var(--child-spacing-5);
}

.first-child-s-6 {
    margin: var(--child-spacing-6);
    padding: var(--child-spacing-6);
}

.first-child-s-7 {
    margin: var(--child-spacing-7);
    padding: var(--child-spacing-7);
}

.first-child-s-8 {
    margin: var(--child-spacing-8);
    padding: var(--child-spacing-8);
}

.first-child-s-9 {
    margin: var(--child-spacing-9);
    padding: var(--child-spacing-9);
}

.first-child-s-10 {
    margin: var(--child-spacing-10);
    padding: var(--child-spacing-10);
}

.first-child-s-11 {
    margin: var(--child-spacing-11);
    padding: var(--child-spacing-11);
}

.first-child-s-12 {
    margin: var(--child-spacing-12);
    padding: var(--child-spacing-12);
}

.first-child-s-13 {
    margin: var(--child-spacing-13);
    padding: var(--child-spacing-13);
}

.first-child-s-14 {
    margin: var(--child-spacing-14);
    padding: var(--child-spacing-14);
}

.first-child-s-15 {
    margin: var(--child-spacing-15);
    padding: var(--child-spacing-15);
}
