/* =========================================================================== *
   First child bottom margin and padding utilities
 * =========================================================================== */


.first-child-sb-1 {
    margin-bottom: var(--child-spacing-1);
    padding-bottom: var(--child-spacing-1);
}

.first-child-sb-2 {
    margin-bottom: var(--child-spacing-2);
    padding-bottom: var(--child-spacing-2);
}

.first-child-sb-3 {
    margin-bottom: var(--child-spacing-3);
    padding-bottom: var(--child-spacing-3);
}

.first-child-sb-4 {
    margin-bottom: var(--child-spacing-4);
    padding-bottom: var(--child-spacing-4);
}

.first-child-sb-5 {
    margin-bottom: var(--child-spacing-5);
    padding-bottom: var(--child-spacing-5);
}

.first-child-sb-6 {
    margin-bottom: var(--child-spacing-6);
    padding-bottom: var(--child-spacing-6);
}

.first-child-sb-7 {
    margin-bottom: var(--child-spacing-7);
    padding-bottom: var(--child-spacing-7);
}

.first-child-sb-8 {
    margin-bottom: var(--child-spacing-8);
    padding-bottom: var(--child-spacing-8);
}

.first-child-sb-9 {
    margin-bottom: var(--child-spacing-9);
    padding-bottom: var(--child-spacing-9);
}

.first-child-sb-10 {
    margin-bottom: var(--child-spacing-10);
    padding-bottom: var(--child-spacing-10);
}

.first-child-sb-11 {
    margin-bottom: var(--child-spacing-11);
    padding-bottom: var(--child-spacing-11);
}

.first-child-sb-12 {
    margin-bottom: var(--child-spacing-12);
    padding-bottom: var(--child-spacing-12);
}

.first-child-sb-13 {
    margin-bottom: var(--child-spacing-13);
    padding-bottom: var(--child-spacing-13);
}

.first-child-sb-14 {
    margin-bottom: var(--child-spacing-14);
    padding-bottom: var(--child-spacing-14);
}

.first-child-sb-15 {
    margin-bottom: var(--child-spacing-15);
    padding-bottom: var(--child-spacing-15);
}
