/*---------------------------------------------------------------------------*\
  TYPOGRAPHY
\*---------------------------------------------------------------------------*/
/**
 * Set the base typography styles and vertical rhythm.
 * We use opt-in styles for links. These styles can be scoped or
 * set by other modules. This cuts down on the amount of overrides and
 * repeated resets needed in modules.
 * All colors and visual styles are defined in the theme file.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/** 
 * Font stack.
 * Use the same syntax as css font-family property.
 */
$base-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 14px !default;
$base-line-height: 21px !default;
$base-font-weight: normal !default;
$base-letter-spacing: 0 !default;
$base-rhythm: $base-line-height/2 !default;

$heading-font-stack: $base-font-stack !default;
$heading-font-weight: $base-font-weight !default;
$heading-letter-spacing: $base-letter-spacing !default;



/**
 * Font scale
 */
$giga: 96px !default;
$mega: 72px !default;
$kilo: 48px !default;
$alpha: 36px !default; // h1
$beta: 32px !default; // h2
$gamma: 28px !default; // h3
$delta: 24px !default; // h4
$epsilon: 20px !default; // h5
$zeta: 18px !default; // h6
$milli: 14px !default;
$micro: 12px !default;





/*---------------------------------------------------------------------------*\
  LIBRARY
\*---------------------------------------------------------------------------*/

@mixin font-size($font-size, $context: $base-font-size, $line-height: false){
    // remove units
    $font-size: $font-size / ($font-size * 0 + 1);
    $context: $context / ($context * 0 + 1);

    font-size: ($font-size)*1px;
    font-size: ($font-size / $context)*1em;

    @if $line-height == true {
        line-height: ceil($font-size / $base-rhythm) * ($base-rhythm / $font-size);
    }
}





/*---------------------------------------------------------------------------*\
  GENERAL TYPOGRAPHY
\*---------------------------------------------------------------------------*/

body {
    @extend %t-body;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: ceil($base-font-size / $base-rhythm) * ($base-rhythm / $base-font-size);
}

p {
    @include font-size($base-font-size, $line-height: true);
    margin: 0 0 $base-line-height;
}

a {
    color: inherit;
    text-decoration: inherit;
}

code,
pre {
    @include font-size($milli, $line-height: true);
    margin: 0 0 $base-line-height;
}

ul,
ol {
    margin: 0 0 $base-line-height;
    padding-left: 1em;
}





/*---------------------------------------------------------------------------*\
  HEADINGS
\*---------------------------------------------------------------------------*/

%heading {
    @extend %t-heading;
    margin: 0 0 $base-line-height;
    font-weight: $heading-font-weight;
}

h1,
.h1 {
    @extend %heading;
    @extend %alpha;
}

h2,
.h2 {
    @extend %heading;
    @extend %beta;
}

h3,
.h3 {
    @extend %heading;
    @extend %gamma;
}

h4,
.h4 {
    @extend %heading;
    @extend %delta;
}

h5,
.h5 {
    @extend %heading;
    @extend %epsilon;
}

h6,
.h6 {
    @extend %heading;
    @extend %zeta;
}





/*---------------------------------------------------------------------------*\
  FONT SCALE
\*---------------------------------------------------------------------------*/

.giga {
    @include font-size($giga, $line-height: true);
}

.mega {
    @include font-size($mega, $line-height: true);
}

.kilo {
    @include font-size($kilo, $line-height: true);
}

.alpha,
%alpha {
    @include font-size($alpha, $line-height: true);
}

.beta,
%beta {
    @include font-size($beta, $line-height: true);
}

.gamma,
%gamma {
    @include font-size($gamma, $line-height: true);
}

.delta,
%delta {
    @include font-size($delta, $line-height: true);
}

.epsilon,
%epsilon {
    @include font-size($epsilon, $line-height: true);
}

.zeta,
%zeta {
    @include font-size($zeta, $line-height: true);
}

.milli {
    @include font-size($milli, $line-height: true);
}

.micro {
    @include font-size($micro, $line-height: true);
}





/*---------------------------------------------------------------------------*\
  FONT STACKS
\*---------------------------------------------------------------------------*/

.t-body,
%t-body {
    font-family: $base-font-stack;
    letter-spacing: $base-letter-spacing;
}

.t-heading,
%t-heading {
    font-family: $heading-font-stack;
    letter-spacing: $heading-letter-spacing;
}





/*---------------------------------------------------------------------------*\
  TYPOGRAPHY HELPERS
\*---------------------------------------------------------------------------*/

/**
 * Horizonal Alignment
 */
.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-upper {
    text-transform: uppercase;
}



/**
 * Weight and Style
 */
.t-normal {
    font-weight: normal;
}

.t-strong {
    font-weight: bold;
}

.t-unstyled {
    font-style: none;
}

.t-em {
    font-style: italics;
}



