/* =========================================================================== *\
    Link utilities
\* =========================================================================== */

.link-subtle {
    color: inherit !important;
    text-decoration: none !important;
}

.link-subtle:focus-visible {
    text-decoration: underline !important;
}

@media (hover: hover) and (pointer: fine) {
    .link-subtle:hover {
        text-decoration: underline !important;
    }
}
