/* =========================================================================== *\
    Text Transform Utilities
\* =========================================================================== */

.text-lower {
    text-transform: lowercase;
}

.text-upper {
    text-transform: uppercase;
}

.text-capital {
    text-transform: capitalize;
}
