/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-md) {
    .pull-md-1-8 {
        left: calc(100% / 8);
    }

    .pull-md-2-8 {
        left: 25%;
    }

    .pull-md-3-8 {
        left: calc(100% / 8 * 3);
    }

    .pull-md-4-8 {
        left: 50%;
    }

    .pull-md-5-8 {
        left: calc(100% / 8 * 5);
    }

    .pull-md-6-8 {
        left: 75%;
    }

    .pull-md-7-8 {
        left: calc(100% / 8 * 7);
    }

    .pull-md-8-8 {
        left: 100%;
    }
}
