/* =========================================================================== *\
    Pull 5's
\* =========================================================================== */

@media (--c-bp-md) {
    .pull-md-1-5 {
        right: 20%;
    }

    .pull-md-2-5 {
        right: 40%;
    }

    .pull-md-3-5 {
        right: 60%;
    }

    .pull-md-4-5 {
        right: 80%;
    }

    .pull-md-5-5 {
        right: 100%;
    }
}
