/*===========================================================================*\
  COMPONENT
\*===========================================================================*/

@import "../../../cacao";



/**
 * Base.
 */

.Container {
    margin: 0 auto;
    max-width: $g-page-width;
}

/**
 * Non-fluid, fixed container.
 */

.Container--widthFixed {
    width: $g-page-width;
}

/**
 * Position container to the left.
 */

.Container--alignLeft {
    margin-left: 0;
    margin-right: 0;
}

