/*---------------------------------------------------------------------------*\
  PAGINATION
\*---------------------------------------------------------------------------*/
/**
 *
 */





/*---------------------------------------------------------------------------*\
  COMPONENT
\*---------------------------------------------------------------------------*/

/**
 * Base wrapper.
 */
.pagination {
    display: block;
    padding: $pagination-wrapper-padding;
}



/**
 * Generic item styles.
 */
%pagination_item,
.pagination_item {
    display: inline-block;
    margin-right: $pagination-item-spacing;
    vertical-align: middle;
}



/**
 * The page links.
 *
 * inherits pagination_item
 */
.pagination_item-page {
    @extend %pagination_item;
    padding: $pagination-page-padding;
}



/**
 * The navigation links.
 *
 * inherits pagination_item
 */
.pagination_item-nav {
    @extend %pagination_item;
    padding: $pagination-nav-padding;
}



