/*===========================================================================*\
  STATE MD
\*===========================================================================*/

@import "../../../cacao";



@media (max-width: $g-bp-md) {

    .u-md-margTop0 {
        margin-bottom: 0 !important;
    }

    .u-md-margTop1 {
        margin-bottom: $g-rhythm*1 !important;
    }

    .u-md-margTop2 {
        margin-bottom: $g-rhythm*2 !important;
    }

    .u-md-margTop3 {
        margin-bottom: $g-rhythm*3 !important;
    }

    .u-md-margTop4 {
        margin-bottom: $g-rhythm*4 !important;
    }

    .u-md-margTop5 {
        margin-bottom: $g-rhythm*5 !important;
    }

}

