/*===========================================================================*\
  STATE SM
\*===========================================================================*/

@import "../../../cacao";



@media (max-width: $g-bp-sm) {

    .u-sm-margTop0 {
        margin-bottom: 0 !important;
    }

    .u-sm-margTop1 {
        margin-bottom: $g-rhythm*1 !important;
    }

    .u-sm-margTop2 {
        margin-bottom: $g-rhythm*2 !important;
    }

    .u-sm-margTop3 {
        margin-bottom: $g-rhythm*3 !important;
    }

    .u-sm-margTop4 {
        margin-bottom: $g-rhythm*4 !important;
    }

    .u-sm-margTop5 {
        margin-bottom: $g-rhythm*5 !important;
    }

}

