/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-6 {
        width: calc(100% / 6);
    }
    
    .col-lg-2-6 {
        width: calc(100% / 6 * 2);
    }
    
    .col-lg-3-6 {
        width: 50%;
    }
    
    .col-lg-4-6 {
        width: calc(100% / 6 * 4);
    }
    
    .col-lg-5-6 {
        width: calc(100% / 6 * 5);
    }
    
    .col-lg-6-6 {
        width: 100%;
    }
}
