/* =========================================================================== *\
    Grid 11's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-11 {
        width: calc(100% / 11 - var(--gap));
    }
    
    .col-lg-2-11 {
        width: calc(100% / 11 * 2 - var(--gap));
    }
    
    .col-lg-3-11 {
        width: calc(100% / 11 * 3 - var(--gap));
    }
    
    .col-lg-4-11 {
        width: calc(100% / 11 * 4 - var(--gap));
    }
    
    .col-lg-5-11 {
        width: calc(100% / 11 * 5 - var(--gap));
    }
    
    .col-lg-6-11 {
        width: calc(100% / 11 * 6 - var(--gap));
    }
    
    .col-lg-7-11 {
        width: calc(100% / 11 * 7 - var(--gap));
    }
    
    .col-lg-8-11 {
        width: calc(100% / 11 * 8 - var(--gap));
    }
    
    .col-lg-9-11 {
        width: calc(100% / 11 * 9 - var(--gap));
    }
    
    .col-lg-10-11 {
        width: calc(100% / 11 * 10 - var(--gap));
    }
    
    .col-lg-11-11 {
        width: calc(100% - var(--gap));
    }
}
