/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-4 {
        width: calc(25% - var(--gap));
    }
    
    .col-lg-2-4 {
        width: calc(50% - var(--gap));
    }
    
    .col-lg-3-4 {
        width: calc(75% - var(--gap));
    }
    
    .col-lg-4-4 {
        width: calc(100% - var(--gap));
    }
}
