/* =========================================================================== *\
    Grid 11's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-11 {
        width: calc(100% / 11);
    }
    
    .col-lg-2-11 {
        width: calc(100% / 11 * 2);
    }
    
    .col-lg-3-11 {
        width: calc(100% / 11 * 3);
    }
    
    .col-lg-4-11 {
        width: calc(100% / 11 * 4);
    }
    
    .col-lg-5-11 {
        width: calc(100% / 11 * 5);
    }
    
    .col-lg-6-11 {
        width: calc(100% / 11 * 6);
    }
    
    .col-lg-7-11 {
        width: calc(100% / 11 * 7);
    }
    
    .col-lg-8-11 {
        width: calc(100% / 11 * 8);
    }
    
    .col-lg-9-11 {
        width: calc(100% / 11 * 9);
    }
    
    .col-lg-10-11 {
        width: calc(100% / 11 * 10);
    }
    
    .col-lg-11-11 {
        width: 100%;
    }
}
