/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-6 {
        width: calc(100% / 6 - var(--gap));
    }
    
    .col-lg-2-6 {
        width: calc(100% / 6 * 2 - var(--gap));
    }
    
    .col-lg-3-6 {
        width: calc(50% - var(--gap));
    }
    
    .col-lg-4-6 {
        width: calc(100% / 6 * 4 - var(--gap));
    }
    
    .col-lg-5-6 {
        width: calc(100% / 6 * 5 - var(--gap));
    }
    
    .col-lg-6-6 {
        width: calc(100% - var(--gap));
    }
}
