/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-1-5 {
        width: 20%;
    }
    
    .col-2-5 {
        width: 40%;
    }
    
    .col-3-5 {
        width: 60%;
    }
    
    .col-4-5 {
        width: 80%;
    }
    
    .col-5-5 {
        width: 100%;
    }
}
