/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-4 {
        width: 25%;
    }
    
    .col-lg-2-4 {
        width: 50%;
    }
    
    .col-lg-3-4 {
        width: 75%;
    }
    
    .col-lg-4-4 {
        width: 100%;
    }
}
