/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-1-4 {
        width: 25%;
    }
    
    .col-2-4 {
        width: 50%;
    }
    
    .col-3-4 {
        width: 75%;
    }
    
    .col-4-4 {
        width: 100%;
    }
}
