/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

@media (--c-bp-lg) {
    .col-lg-1-9 {
        width: calc(100% / 9);
    }
    
    .col-lg-2-9 {
        width: calc(100% / 9 * 2);
    }
    
    .col-lg-3-9 {
        width: calc(100% / 9 * 3);
    }
    
    .col-lg-4-9 {
        width: calc(100% / 9 * 4);
    }
    
    .col-lg-5-9 {
        width: calc(100% / 9 * 5);
    }
    
    .col-lg-6-9 {
        width: calc(100% / 9 * 6);
    }
    
    .col-lg-7-9 {
        width: calc(100% / 9 * 7);
    }
    
    .col-lg-8-9 {
        width: calc(100% / 9 * 8);
    }
    
    .col-lg-9-9 {
        width: 100%;
    }
}
