/* =========================================================================== *\
    Display Utilities
\* =========================================================================== */

.flex {
    display: flex;
}

.flex-inline {
    display: inline-flex;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.visually-hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
