/*---------------------------------------------------------------------------*\
  MAIN NAVIGATION & MOBILE DRILLDOWN
\*---------------------------------------------------------------------------*/

@import "settings";





/*---------------------------------------------------------------------------*\
  COMPONENTS
\*---------------------------------------------------------------------------*/

.ap-ddmenu-header,
.mainnav_item.-clone {
    display: none;
}

.ap-ddmenu-header {
    position: relative;
    height: $g-rhythm*2;
    padding-left: nth($ddmenu-item-padding, 2);
    padding-right: nth($ddmenu-item-padding, 2);
}

.ddmenu_current {
    text-align: center;
}

.ddmenu_back {
    position: absolute;
}





/*---------------------------------------------------------------------------*\
  STATE
\*---------------------------------------------------------------------------*/

@media (max-width: $ddmenu-bp) {
    .ap-ddmenu-header,
    .mainnav_item.-clone {
        display: block;
    }
    .mainnav,
    .mainnav.-root,
    .mainnav.-sub {
        display: block;
        padding: 0;
        margin: 0;
    }
    .mainnav.-sub,
    .mainnav_item.-root:hover > .mainnav.-sub,
    .mainnav_item.-sub:hover > .mainnav.-sub {
        display: none;
        top: 0;
        left: 100%;
    }
    .mainnav.-root {
        position: relative;
    }
    .mainnav.-sub {
    }
    .mainnav_item,
    .mainnav_item.-root,
    .mainnav_item.-sub {
        @include box-sizing(border-box);
        display: block;
        position: static;
        width: 100%;
        margin: 0;
    }
    .mainnav_link,
    .mainnav_link.-root,
    .mainnav_link.-sub {
        @include font-size($ddmenu-fontsize, $line-height: true);
        padding: $ddmenu-item-padding;
    }
}



