/*---------------------------------------------------------------------------*\
  MAIN NAVIGATION & MOBILE DRILLDOWN
\*---------------------------------------------------------------------------*/

@import "settings";





/*---------------------------------------------------------------------------*\
  COMPONENTS
\*---------------------------------------------------------------------------*/

.ap-ddmenu-header,
.#{$ddmenu-classname}_item.-clone {
    display: none;
}

.ap-ddmenu-header {
    position: relative;
    height: $g-rhythm*2;
    padding-left: nth($ddmenu-item-padding, 2);
    padding-right: nth($ddmenu-item-padding, 2);
}

.ddmenu_current {
    text-align: center;
}

.ddmenu_back {
    position: absolute;
}





/*---------------------------------------------------------------------------*\
  STATE
\*---------------------------------------------------------------------------*/

@media (max-width: $ddmenu-bp) {
    .ap-ddmenu-header,
    .#{$ddmenu-classname}_item.-clone {
        display: block;
    }
    .#{$ddmenu-classname},
    .#{$ddmenu-classname}.-root,
    .#{$ddmenu-classname}.-sub {
        display: block;
        padding: 0;
        margin: 0;
    }
    .#{$ddmenu-classname}.-sub,
    .#{$ddmenu-classname}_item.-root:hover > .#{$ddmenu-classname}.-sub,
    .#{$ddmenu-classname}_item.-sub:hover > .#{$ddmenu-classname}.-sub {
        display: none;
        top: 0;
        left: 100%;
    }
    .#{$ddmenu-classname}.-root {
        position: relative;
    }
    .#{$ddmenu-classname}.-sub {
    }
    .#{$ddmenu-classname}_item,
    .#{$ddmenu-classname}_item.-root,
    .#{$ddmenu-classname}_item.-sub {
        @include box-sizing(border-box);
        display: block;
        position: static;
        width: 100%;
        margin: 0;
    }
    .#{$ddmenu-classname}_link,
    .#{$ddmenu-classname}_link.-root,
    .#{$ddmenu-classname}_link.-sub {
        @include font-size($ddmenu-fontsize, $line-height: true);
        padding: $ddmenu-item-padding;
    }
}



