/*---------------------------------------------------------------------------*\
  MEDIA OBJECT
\*---------------------------------------------------------------------------*/

@import "settings";



/**
 * This is the media it self.
 * This generally contains an image but can be a wrapper for anything.
 */
.Media-subject {
    float: left;
    margin-right: $media-gutter;
}



/**
 * The main section of the media element.
 * This is generally where the content goes.
 *
 * [1] http://www.stubbornella.org/content/2009/07/23/overflow-a-secret-benefit/
 */
.Media-content {
    overflow: hidden; /* 1 */
}



