/* =========================================================================== *\
    All directions gutter utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .g-xxl-0 {
        --gap: 0px;
    }

    .g-xxl-1 {
        --gap: 10px;
    }

    .g-xxl-2 {
        --gap: 20px;
    }

    .g-xxl-3 {
        --gap: 30px;
    }

    .g-xxl-4 {
        --gap: 40px;
    }

    .g-xxl-5 {
        --gap: 50px;
    }

    .g-xxl-0,
    .g-xxl-1,
    .g-xxl-2,
    .g-xxl-3,
    .g-xxl-4,
    .g-xxl-5 {
        gap: var(--gap);
    }
}
