/* =========================================================================== *\
    Vertical gutter utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .gy-xxl-0 {
        --row-gap: 0px;
    }

    .gy-xxl-1 {
        --row-gap: 10px;
    }

    .gy-xxl-2 {
        --row-gap: 20px;
    }

    .gy-xxl-3 {
        --row-gap: 30px;
    }

    .gy-xxl-4 {
        --row-gap: 40px;
    }

    .gy-xxl-5 {
        --row-gap: 50px;
    }

    .gy-xxl-0,
    .gy-xxl-1,
    .gy-xxl-2,
    .gy-xxl-3,
    .gy-xxl-4,
    .gy-xxl-5 {
        row-gap: var(--row-gap);
    }
}
