/*---------------------------------------------------------------------------*\
  MAIN NAVIGATION
\*---------------------------------------------------------------------------*/

@import "settings";





/*---------------------------------------------------------------------------*\
  PLACEHOLDERS
\*---------------------------------------------------------------------------*/

/**
 * Base menu
 */
%mainnav {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

// root menu
%mainnav--root {
    display: $mainnav-root-display;
    margin-left: -$mainnav-root-item-spacing;
}

// sub menus
%mainnav--sub {
    display: none;
    position: absolute;
    z-index: $mainnav-sub-zindex;
    min-width: 100%;
    padding: $mainnav-sub-padding;
}



/**
 * Menu items
 */
%mainnav_item {
    position: relative;

    // display the submenu when it's parent is hovered
    &:hover > %mainnav--sub {
        display: block;
    }
}

// Root level items
%mainnav_item--root {
    display: inline-block;
    width: $mainnav-root-item-width;
    margin-left: $mainnav-root-item-spacing;

    // Position sub-menus to the bottom of their parent
    &:hover > %mainnav--sub {
        top: 100%;
        left: 0;
    }
}

// Sub menu items
%mainnav_item--sub {
    width: 100%;
    margin-bottom: $mainnav-sub-item-spacing;

    // Position sub-sub-menus to the right side of the parent
    // 1. Apply an optional vertical offset to negate borders, padding, etc.
    &:hover > %mainnav--sub {
        top: $mainnav-sub-sub-offset; /* 1 */
        left: 100%;
    }
}



/**
 * Menu links
 */
%mainnav_link {
    display: block;
}

// Root level links
%mainnav_link--root {
    @include font-size($mainnav-root-fontsize, $line-height: true);
    padding: $mainnav-root-item-padding;
}

// Sub menu links
%mainnav_link--sub {
    @include font-size($mainnav-sub-fontsize, $line-height: true);
    padding: $mainnav-sub-item-padding;
}





/*---------------------------------------------------------------------------*\
  MODULE
\*---------------------------------------------------------------------------*/

.mainnav {
    @extend %mainnav;
}

.mainnav.-root {
    @extend %mainnav--root;
}

.mainnav.-sub {
    @extend %mainnav--sub;
}



.mainnav_item {
    @extend %mainnav_item;
}

.mainnav_item.-root {
    @extend %mainnav_item--root;
}

.mainnav_item.-sub {
    @extend %mainnav_item--sub;
}



.mainnav_link {
    @extend %mainnav_link;
}

.mainnav_link.-root {
    @extend %mainnav_link--root;
}

.mainnav_link.-sub {
    @extend %mainnav_link--sub;
}



