/* =========================================================================== *
   First child end padding utilities
 * =========================================================================== */


.first-child-pe-1 {
    padding-right: var(--child-spacing-1);
}

.first-child-pe-2 {
    padding-right: var(--child-spacing-2);
}

.first-child-pe-3 {
    padding-right: var(--child-spacing-3);
}

.first-child-pe-4 {
    padding-right: var(--child-spacing-4);
}

.first-child-pe-5 {
    padding-right: var(--child-spacing-5);
}

.first-child-pe-6 {
    padding-right: var(--child-spacing-6);
}

.first-child-pe-7 {
    padding-right: var(--child-spacing-7);
}

.first-child-pe-8 {
    padding-right: var(--child-spacing-8);
}

.first-child-pe-9 {
    padding-right: var(--child-spacing-9);
}

.first-child-pe-10 {
    padding-right: var(--child-spacing-10);
}

.first-child-pe-11 {
    padding-right: var(--child-spacing-11);
}

.first-child-pe-12 {
    padding-right: var(--child-spacing-12);
}

.first-child-pe-13 {
    padding-right: var(--child-spacing-13);
}

.first-child-pe-14 {
    padding-right: var(--child-spacing-14);
}

.first-child-pe-15 {
    padding-right: var(--child-spacing-15);
}
