/* =========================================================================== *\
    FORM SUCCESS
\* =========================================================================== */

/** @define FormSuccess */

.FormSuccess {
    background: #fbec88;
    border: 1px solid #fad42e;
    border-radius: 8px;
    color: #363636;
    margin-bottom: 40px;
    padding: 10px;
}
