/* =========================================================================== *\
   Positioning utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .absolute-xxl {
        position: absolute;
    }

    .fixed-xxl {
        position: fixed;
    }

    .relative-xxl {
        position: relative;
    }

    .static-xxl {
        position: static;
    }

    .sticky-xxl {
        position: sticky;
    }
}
