/* =========================================================================== *\
    Grid Utilities
\* =========================================================================== */

.grid {
    --gap: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--gap) * -1);
}

/* Don't adjust margin if column justification is being used. */
.grid[class*=justify-] {
    margin-right: 0;
}
