/* =========================================================================== *\
    All sides margin utilities
\* =========================================================================== */

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}
