/* =========================================================================== *\
    Push 11's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-11 {
        left: calc(100% / 11);
    }

    .push-xxl-2-11 {
        left: calc(100% / 11 * 2);
    }

    .push-xxl-3-11 {
        left: calc(100% / 11 * 3);
    }

    .push-xxl-4-11 {
        left: calc(100% / 11 * 4);
    }

    .push-xxl-5-11 {
        left: calc(100% / 11 * 5);
    }

    .push-xxl-6-11 {
        left: calc(100% / 11 * 6);
    }

    .push-xxl-7-11 {
        left: calc(100% / 11 * 7);
    }

    .push-xxl-8-11 {
        left: calc(100% / 11 * 8);
    }

    .push-xxl-9-11 {
        left: calc(100% / 11 * 9);
    }

    .push-xxl-10-11 {
        left: calc(100% / 11 * 10);
    }

    .push-xxl-11-11 {
        left: 100%;
    }
}
