/* =========================================================================== *\
    Push 12's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-12 {
        left: calc(100% / 12);
    }

    .push-xxl-2-12 {
        left: calc(100% / 12 * 2);
    }

    .push-xxl-3-12 {
        left: 25%;
    }

    .push-xxl-4-12 {
        left: calc(100% / 12 * 4);
    }

    .push-xxl-5-12 {
        left: calc(100% / 12 * 5);
    }

    .push-xxl-6-12 {
        left: 50%;
    }

    .push-xxl-7-12 {
        left: calc(100% / 12 * 7);
    }

    .push-xxl-8-12 {
        left: calc(100% / 12 * 8);
    }

    .push-xxl-9-12 {
        left: 75%;
    }

    .push-xxl-10-12 {
        left: calc(100% / 12 * 10);
    }

    .push-xxl-11-12 {
        left: calc(100% / 12 * 11);
    }

    .push-xxl-12-12 {
        left: 100%;
    }
}
