/* =========================================================================== *\
    Push 9's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-9 {
        left: calc(100% / 9);
    }

    .push-xxl-2-9 {
        left: calc(100% / 9 * 2);
    }

    .push-xxl-3-9 {
        left: calc(100% / 9 * 3);
    }

    .push-xxl-4-9 {
        left: calc(100% / 9 * 4);
    }

    .push-xxl-5-9 {
        left: calc(100% / 9 * 5);
    }

    .push-xxl-6-9 {
        left: calc(100% / 9 * 6);
    }

    .push-xxl-7-9 {
        left: calc(100% / 9 * 7);
    }

    .push-xxl-8-9 {
        left: calc(100% / 9 * 8);
    }

    .push-xxl-9-9 {
        left: 100%;
    }
}
