/* =========================================================================== *\
    Push 4's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-4 {
        left: 25%;
    }

    .push-xxl-2-4 {
        left: 50%;
    }

    .push-xxl-3-4 {
        left: 75%;
    }

    .push-xxl-4-4 {
        left: 100%;
    }
}
