/* =========================================================================== *\
    Push 5's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-5 {
        left: 20%;
    }

    .push-xxl-2-5 {
        left: 40%;
    }

    .push-xxl-3-5 {
        left: 60%;
    }

    .push-xxl-4-5 {
        left: 80%;
    }

    .push-xxl-5-5 {
        left: 100%;
    }
}
