/* =========================================================================== *\
    Push 8's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-8 {
        left: calc(100% / 8);
    }

    .push-xxl-2-8 {
        left: 25%;
    }

    .push-xxl-3-8 {
        left: calc(100% / 8 * 3);
    }

    .push-xxl-4-8 {
        left: 50%;
    }

    .push-xxl-5-8 {
        left: calc(100% / 8 * 5);
    }

    .push-xxl-6-8 {
        left: 75%;
    }

    .push-xxl-7-8 {
        left: calc(100% / 8 * 7);
    }

    .push-xxl-8-8 {
        left: 100%;
    }
}
