/* =========================================================================== *\
    Push 7's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-7 {
        left: calc(100% / 7);
    }

    .push-xxl-2-7 {
        left: calc(100% / 7 * 2);
    }

    .push-xxl-3-7 {
        left: calc(100% / 7 * 3);
    }

    .push-xxl-4-7 {
        left: calc(100% / 7 * 4);
    }

    .push-xxl-5-7 {
        left: calc(100% / 7 * 5);
    }

    .push-xxl-6-7 {
        left: calc(100% / 7 * 6);
    }

    .push-xxl-7-7 {
        left: 100%;
    }
}
