/* =========================================================================== *\
    Push 6's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .push-xxl-1-6 {
        left: calc(100% / 6);
    }

    .push-xxl-2-6 {
        left: calc(100% / 6 * 2);
    }

    .push-xxl-3-6 {
        left: 50%;
    }

    .push-xxl-4-6 {
        left: calc(100% / 6 * 4);
    }

    .push-xxl-5-6 {
        left: calc(100% / 6 * 5);
    }

    .push-xxl-6-6 {
        left: 100%;
    }
}
