/* =========================================================================== *\
    Responsive embeds
    You must use this in conjuction with an aspect-ratio class or style.
\* =========================================================================== */

.embed {
    flex-shrink: 0;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.embed iframe,
.embed object,
.embed embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
