/* =========================================================================== *
   Last child vertical margin and padding utilities
 * =========================================================================== */


.last-child-sy-8 {
    margin-top: var(--child-spacing-8);
    margin-bottom: var(--child-spacing-8);
    padding-top: var(--child-spacing-8);
    padding-bottom: var(--child-spacing-8);
}
