/* =========================================================================== *
   Last child vertical margin and padding utilities
 * =========================================================================== */


.last-child-sy-4 {
    margin-top: var(--child-spacing-4);
    margin-bottom: var(--child-spacing-4);
    padding-top: var(--child-spacing-4);
    padding-bottom: var(--child-spacing-4);
}
