/* =========================================================================== *\
    Display utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .flex-xs {
        display: flex;
    }

    .flex-inline-xs {
        display: inline-flex;
    }

    .block-xs {
        display: block;
    }

    .inline-xs {
        display: inline;
    }

    .inline-block-xs {
        display: inline-block;
    }

    .hidden-xs {
        display: none;
    }
}
