/* =========================================================================== *\
    Justification utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .justify-start-xs {
        justify-content: flex-start;
    }

    .justify-center-xs {
        justify-content: center;
    }

    .justify-end-xs {
        justify-content: flex-end;
    }

    .justify-between-xs {
        justify-content: space-between;
    }

    .justify-around-xs {
        justify-content: space-around;
    }
}
