/* =========================================================================== *\
    Order Utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .order-xs-1 {
        order: 1;
    }

    .order-xs-2 {
        order: 2;
    }

    .order-xs-3 {
        order: 3;
    }

    .order-xs-4 {
        order: 4;
    }

    .order-xs-5 {
        order: 5;
    }
}
