/* =========================================================================== *\
    Vertical aspect ratio utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .aspect-sm-1-1 {
        aspect-ratio: 1 / 1; /* 1.0:1 */
    }

    .aspect-sm-4-5 {
        aspect-ratio: 4 / 5; /* 1:1.25 */
    }

    .aspect-sm-3-4 {
        aspect-ratio: 3 / 4; /* 1:1.3 */
    }

    .aspect-sm-5-7 {
        aspect-ratio: 5 / 7; /* 1:1.4 */
    }

    .aspect-sm-2-3 {
        aspect-ratio: 2 / 3; /* 1:1.5 */
    }

    .aspect-sm-9-16 {
        aspect-ratio: 9 / 16; /* 1:1.7 */
    }

    .aspect-sm-1-2 {
        aspect-ratio: 1 / 2; /* 1:2 */
    }

    .aspect-sm-3-7,
    .aspect-sm-9-21 {
        aspect-ratio: 3 / 7; /* 1:2.3 */
    }

    .aspect-sm-1-3 {
        aspect-ratio: 1 / 3; /* 1:3.0 */
    }
}
