/* =========================================================================== *\
    End Margin Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .me-sm-0 {
        margin-right: 0;
    }
    
    .me-sm-1 {
        margin-right: 10px;
    }
    
    .me-sm-2 {
        margin-right: 20px;
    }
    
    .me-sm-3 {
        margin-right: 30px;
    }
    
    .me-sm-4 {
        margin-right: 40px;
    }
    
    .me-sm-5 {
        margin-right: 50px;
    }
}
