/* =========================================================================== *\
    End Margin Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .me-0 {
        margin-right: 0;
    }
    
    .me-1 {
        margin-right: 10px;
    }
    
    .me-2 {
        margin-right: 20px;
    }
    
    .me-3 {
        margin-right: 30px;
    }
    
    .me-4 {
        margin-right: 40px;
    }
    
    .me-5 {
        margin-right: 50px;
    }
}
