/* =========================================================================== *\
    Horizontal Margin Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .mx-sm-0 {
        margin-left: 0;
        margin-right: 0;
    }
    
    .mx-sm-1 {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .mx-sm-2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .mx-sm-3 {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .mx-sm-4 {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .mx-sm-5 {
        margin-left: 50px;
        margin-right: 50px;
    }
}
