/* =========================================================================== *\
    Start Margin Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .ms-1 {
        margin-left: 10px;
    }
    
    .ms-2 {
        margin-left: 20px;
    }
    
    .ms-3 {
        margin-left: 30px;
    }
    
    .ms-4 {
        margin-left: 40px;
    }
    
    .ms-5 {
        margin-left: 50px;
    }
}
