/* =========================================================================== *\
    All Directions Gutter Utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .g-xl-0 {
        --gap: 0px;
    }
    
    .g-xl-1 {
        --gap: 10px;
    }
    
    .g-xl-2 {
        --gap: 20px;
    }
    
    .g-xl-3 {
        --gap: 30px;
    }
    
    .g-xl-4 {
        --gap: 40px;
    }
    
    .g-xl-5 {
        --gap: 50px;
    }
    
    .g-xl-0, .g-xl-1, .g-xl-2, .g-xl-3, .g-xl-4, .g-xl-5 {
        gap: var(--gap);
    }
}
