/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .gx-1 {
        column-gap: 10px;
    }
    
    .gx-2 {
        column-gap: 20px;
    }
    
    .gx-3 {
        column-gap: 30px;
    }
    
    .gx-4 {
        column-gap: 40px;
    }
    
    .gx-5 {
        column-gap: 50px;
    }
}
