/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .gx-xl-0 {
        --gap: 0px;
    }
    
    .gx-xl-1 {
        --gap: 10px;
    }
    
    .gx-xl-2 {
        --gap: 20px;
    }
    
    .gx-xl-3 {
        --gap: 30px;
    }
    
    .gx-xl-4 {
        --gap: 40px;
    }
    
    .gx-xl-5 {
        --gap: 50px;
    }
    
    .gx-xl-0, .gx-xl-1, .gx-xl-2, .gx-xl-3, .gx-xl-4, .gx-xl-5 {
        column-gap: var(--gap);
    }
}
