/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .gx-xl-0 {
        column-gap: 0;
    }
    
    .gx-xl-1 {
        column-gap: 10px-xl;
    }
    
    .gx-xl-2 {
        column-gap: 20px-xl;
    }
    
    .gx-xl-3 {
        column-gap: 30px-xl;
    }
    
    .gx-xl-4 {
        column-gap: 40px-xl;
    }
    
    .gx-xl-5 {
        column-gap: 50px-xl;
    }
}
