/* =========================================================================== *\
    Vertical Gutter Utilities
\* =========================================================================== */

@media (--c-bp-xl) {
    .gy-xl-0 {
        row-gap: 0;
    }
    
    .gy-xl-1 {
        row-gap: 10px;
    }
    
    .gy-xl-2 {
        row-gap: 20px;
    }
    
    .gy-xl-3 {
        row-gap: 30px;
    }
    
    .gy-xl-4 {
        row-gap: 40px;
    }
    
    .gy-xl-5 {
        row-gap: 50px;
    }
}
