/*===========================================================================*\
  TYPOGRAPHY
\*===========================================================================*/

/**
 * Set the base typography styles and vertical rhythm.
 * Link are reset to use opt-in styles. These styles can be scoped or
 * set by other modules. This cuts down on the amount of overrides and
 * repeated resets needed in modules.
 */

@import "../../../cacao";





/*===========================================================================*\
  BASE
\*===========================================================================*/

body {
    font-family: $g-font-stack;
    font-size: $g-textSize-base;
    font-weight: $g-font-weight;
    letter-spacing: $g-letter-spacing;
    line-height: ceil($g-textSize-base / $g-rhythm) * ($g-rhythm / $g-textSize-base);
}

p {
    @include cacao-font-size($g-textSize-base, $line-height: true);
    margin: 0 0 $g-line-height;
}

a {
    color: inherit;
    text-decoration: inherit;
}

code,
pre {
    @include cacao-font-size($g-textSize2, $line-height: true);
    margin: 0 0 $g-line-height;
}

ul,
ol {
    margin: 0 0 $g-line-height;
    padding-left: 1em;
}



/* Headings
  -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $g-heading-font-stack;
    font-weight: $g-heading-font-weight;
    letter-spacing: $g-heading-letter-spacing;
    margin: 0 0 $g-line-height;
}

h1 {
    @include cacao-font-size($g-textSize8, $line-height: true);
}

h2 {
    @include cacao-font-size($g-textSize7, $line-height: true);
}

h3 {
    @include cacao-font-size($g-textSize6, $line-height: true);
}

h4 {
    @include cacao-font-size($g-textSize5, $line-height: true);
}

h5 {
    @include cacao-font-size($g-textSize4, $line-height: true);
}

h6 {
    @include cacao-font-size($g-textSize3, $line-height: true);
}

