/*===========================================================================*\
  STATE MD
\*===========================================================================*/

@import "../../../cacao";

@media (max-width: $g-bp-md) {
    /* Horizontal Alignment
      -------------------------------------------------------------------------- */

    .u-md-textLeft {
        text-align: left !important;
    }

    .u-md-textRight {
        text-align: right !important;
    }

    .u-md-textCenter {
        text-align: center !important;
    }

    .u-md-textUpper {
        text-transform: uppercase !important;
    }



    /* Weight & Style
      -------------------------------------------------------------------------- */

    .u-md-textNormal {
        font-weight: normal !important;
    }

    .u-md-textStrong {
        font-weight: bold !important;
    }

    .u-md-textUnstyled {
        font-style: none !important;
    }

    .u-md-textEm {
        font-style: italics !important;
    }



    /* Font Stacks
      -------------------------------------------------------------------------- */

    .u-md-textBody {
        font-family: $g-font-stack !important;
    }

    .u-md-textHeading {
        font-family: $g-heading-font-stack !important;
    }



    /* Heading Styles
      -------------------------------------------------------------------------- */

    .u-md-textH1,
    .u-md-textH2,
    .u-md-textH3,
    .u-md-textH4,
    .u-md-textH5,
    .u-md-textH6 {
        font-family: $g-heading-font-stack;
        font-weight: $g-heading-font-weight;
        letter-spacing: $g-heading-letter-spacing;
        margin: 0 0 $g-line-height;
    }

    .u-md-textH1 {
        @include cacao-font-size($g-textSize8, $line-height: true, $important: true);
    }

    .u-md-textH2 {
        @include cacao-font-size($g-textSize7, $line-height: true, $important: true);
    }

    .u-md-textH3 {
        @include cacao-font-size($g-textSize6, $line-height: true, $important: true);
    }

    .u-md-textH4 {
        @include cacao-font-size($g-textSize5, $line-height: true, $important: true);
    }

    .u-md-textH5 {
        @include cacao-font-size($g-textSize4, $line-height: true, $important: true);
    }

    .u-md-textH6 {
        @include cacao-font-size($g-textSize3, $line-height: true, $important: true);
    }



    /* Font Scale
      -------------------------------------------------------------------------- */

    .u-md-textSize9 {
        @include cacao-font-size($g-textSize9, $line-height: true, $important: true);
    }

    .u-md-textSize8 {
        @include cacao-font-size($g-textSize8, $line-height: true, $important: true);
    }

    .u-md-textSize7 {
        @include cacao-font-size($g-textSize7, $line-height: true, $important: true);
    }

    .u-md-textSize6 {
        @include cacao-font-size($g-textSize6, $line-height: true, $important: true);
    }

    .u-md-textSize5 {
        @include cacao-font-size($g-textSize5, $line-height: true, $important: true);
    }

    .u-md-textSize4 {
        @include cacao-font-size($g-textSize4, $line-height: true, $important: true);
    }

    .u-md-textSize3 {
        @include cacao-font-size($g-textSize3, $line-height: true, $important: true);
    }

    .u-md-textSize2 {
        @include cacao-font-size($g-textSize2, $line-height: true, $important: true);
    }

    .u-md-textSize1 {
        @include cacao-font-size($g-textSize1, $line-height: true, $important: true);
    }
}