/*===========================================================================*\
  STATE LG
\*===========================================================================*/

@import "../../../cacao";

@media (max-width: $g-bp-lg) {
    /* Horizontal Alignment
      -------------------------------------------------------------------------- */

    .u-lg-textLeft {
        text-align: left !important;
    }

    .u-lg-textRight {
        text-align: right !important;
    }

    .u-lg-textCenter {
        text-align: center !important;
    }

    .u-lg-textUpper {
        text-transform: uppercase !important;
    }



    /* Weight & Style
      -------------------------------------------------------------------------- */

    .u-lg-textNormal {
        font-weight: normal !important;
    }

    .u-lg-textStrong {
        font-weight: bold !important;
    }

    .u-lg-textUnstyled {
        font-style: none !important;
    }

    .u-lg-textEm {
        font-style: italics !important;
    }



    /* Font Stacks
      -------------------------------------------------------------------------- */

    .u-lg-textBody {
        font-family: $g-font-stack !important;
    }

    .u-lg-textHeading {
        font-family: $g-heading-font-stack !important;
    }



    /* Heading Styles
      -------------------------------------------------------------------------- */

    .u-lg-textH1,
    .u-lg-textH2,
    .u-lg-textH3,
    .u-lg-textH4,
    .u-lg-textH5,
    .u-lg-textH6 {
        font-family: $g-heading-font-stack;
        font-weight: $g-heading-font-weight;
        letter-spacing: $g-heading-letter-spacing;
        margin: 0 0 $g-line-height;
    }

    .u-lg-textH1 {
        @include cacao-font-size($g-textSize8, $line-height: true, $important: true);
    }

    .u-lg-textH2 {
        @include cacao-font-size($g-textSize7, $line-height: true, $important: true);
    }

    .u-lg-textH3 {
        @include cacao-font-size($g-textSize6, $line-height: true, $important: true);
    }

    .u-lg-textH4 {
        @include cacao-font-size($g-textSize5, $line-height: true, $important: true);
    }

    .u-lg-textH5 {
        @include cacao-font-size($g-textSize4, $line-height: true, $important: true);
    }

    .u-lg-textH6 {
        @include cacao-font-size($g-textSize3, $line-height: true, $important: true);
    }



    /* Font Scale
      -------------------------------------------------------------------------- */

    .u-lg-textSize9 {
        @include cacao-font-size($g-textSize9, $line-height: true, $important: true);
    }

    .u-lg-textSize8 {
        @include cacao-font-size($g-textSize8, $line-height: true, $important: true);
    }

    .u-lg-textSize7 {
        @include cacao-font-size($g-textSize7, $line-height: true, $important: true);
    }

    .u-lg-textSize6 {
        @include cacao-font-size($g-textSize6, $line-height: true, $important: true);
    }

    .u-lg-textSize5 {
        @include cacao-font-size($g-textSize5, $line-height: true, $important: true);
    }

    .u-lg-textSize4 {
        @include cacao-font-size($g-textSize4, $line-height: true, $important: true);
    }

    .u-lg-textSize3 {
        @include cacao-font-size($g-textSize3, $line-height: true, $important: true);
    }

    .u-lg-textSize2 {
        @include cacao-font-size($g-textSize2, $line-height: true, $important: true);
    }

    .u-lg-textSize1 {
        @include cacao-font-size($g-textSize1, $line-height: true, $important: true);
    }
}