/* =========================================================================== *
   First child end margin utilities
 * =========================================================================== */


.first-child-me-1 {
    margin-right: var(--child-spacing-1);
}

.first-child-me-2 {
    margin-right: var(--child-spacing-2);
}

.first-child-me-3 {
    margin-right: var(--child-spacing-3);
}

.first-child-me-4 {
    margin-right: var(--child-spacing-4);
}

.first-child-me-5 {
    margin-right: var(--child-spacing-5);
}

.first-child-me-6 {
    margin-right: var(--child-spacing-6);
}

.first-child-me-7 {
    margin-right: var(--child-spacing-7);
}

.first-child-me-8 {
    margin-right: var(--child-spacing-8);
}

.first-child-me-9 {
    margin-right: var(--child-spacing-9);
}

.first-child-me-10 {
    margin-right: var(--child-spacing-10);
}

.first-child-me-11 {
    margin-right: var(--child-spacing-11);
}

.first-child-me-12 {
    margin-right: var(--child-spacing-12);
}

.first-child-me-13 {
    margin-right: var(--child-spacing-13);
}

.first-child-me-14 {
    margin-right: var(--child-spacing-14);
}

.first-child-me-15 {
    margin-right: var(--child-spacing-15);
}
