/* ==========================================================================
   Top margin utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-sm-top: 10px;
}

@media (--c-bp-sm) {
    .u-sm-margTop0 {
        margin-top: 0 !important;
    }

    .u-sm-margTop1 {
        margin-top: var(--utils-margin-sm-top) !important;
    }

    .u-sm-margTop2 {
        margin-top: calc(var(--utils-margin-sm-top) * 2) !important;
    }

    .u-sm-margTop3 {
        margin-top: calc(var(--utils-margin-sm-top) * 3) !important;
    }

    .u-sm-margTop4 {
        margin-top: calc(var(--utils-margin-sm-top) * 4) !important;
    }

    .u-sm-margTop5 {
        margin-top: calc(var(--utils-margin-sm-top) * 5) !important;
    }
}
