/* ==========================================================================
   Top margin utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-lg-top: 10px;
}

@media (--c-bp-lg) {
    .u-lg-margTop0 {
        margin-top: 0 !important;
    }

    .u-lg-margTop1 {
        margin-top: var(--utils-margin-lg-top) !important;
    }

    .u-lg-margTop2 {
        margin-top: calc(var(--utils-margin-lg-top) * 2) !important;
    }

    .u-lg-margTop3 {
        margin-top: calc(var(--utils-margin-lg-top) * 3) !important;
    }

    .u-lg-margTop4 {
        margin-top: calc(var(--utils-margin-lg-top) * 4) !important;
    }

    .u-lg-margTop5 {
        margin-top: calc(var(--utils-margin-lg-top) * 5) !important;
    }
}
