/* ==========================================================================
   Bottom margin utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-md-bottom: 10px;
}

@media (--c-bp-md) {
    .u-md-margBottom0 {
        margin-bottom: 0 !important;
    }

    .u-md-margBottom1 {
        margin-bottom: var(--utils-margin-md-bottom) !important;
    }

    .u-md-margBottom2 {
        margin-bottom: calc(var(--utils-margin-md-bottom) * 2) !important;
    }

    .u-md-margBottom3 {
        margin-bottom: calc(var(--utils-margin-md-bottom) * 3) !important;
    }

    .u-md-margBottom4 {
        margin-bottom: calc(var(--utils-margin-md-bottom) * 4) !important;
    }

    .u-md-margBottom5 {
        margin-bottom: calc(var(--utils-margin-md-bottom) * 5) !important;
    }
}
