/* ==========================================================================
   Bottom margin utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-lg-bottom: 10px;
}

@media (--c-bp-lg) {
    .u-lg-margBottom0 {
        margin-bottom: 0 !important;
    }

    .u-lg-margBottom1 {
        margin-bottom: var(--utils-margin-lg-bottom) !important;
    }

    .u-lg-margBottom2 {
        margin-bottom: calc(var(--utils-margin-lg-bottom) * 2) !important;
    }

    .u-lg-margBottom3 {
        margin-bottom: calc(var(--utils-margin-lg-bottom) * 3) !important;
    }

    .u-lg-margBottom4 {
        margin-bottom: calc(var(--utils-margin-lg-bottom) * 4) !important;
    }

    .u-lg-margBottom5 {
        margin-bottom: calc(var(--utils-margin-lg-bottom) * 5) !important;
    }
}
