/* ==========================================================================
   Right margin utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-sm-right: 10px;
}

@media (--c-bp-sm) {
    .u-sm-margRight0 {
        margin-right: 0 !important;
    }

    .u-sm-margRight1 {
        margin-right: var(--utils-margin-sm-right) !important;
    }

    .u-sm-margRight2 {
        margin-right: calc(var(--utils-margin-sm-right) * 2) !important;
    }

    .u-sm-margRight3 {
        margin-right: calc(var(--utils-margin-sm-right) * 3) !important;
    }

    .u-sm-margRight4 {
        margin-right: calc(var(--utils-margin-sm-right) * 4) !important;
    }

    .u-sm-margRight5 {
        margin-right: calc(var(--utils-margin-sm-right) * 5) !important;
    }
}
