/* ==========================================================================
   Left margin utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-sm-left: 10px;
}

@media (--c-bp-sm) {
    .u-sm-margLeft0 {
        margin-left: 0 !important;
    }

    .u-sm-margLeft1 {
        margin-left: var(--utils-margin-sm-left) !important;
    }

    .u-sm-margLeft2 {
        margin-left: calc(var(--utils-margin-sm-left) * 2) !important;
    }

    .u-sm-margLeft3 {
        margin-left: calc(var(--utils-margin-sm-left) * 3) !important;
    }

    .u-sm-margLeft4 {
        margin-left: calc(var(--utils-margin-sm-left) * 4) !important;
    }

    .u-sm-margLeft5 {
        margin-left: calc(var(--utils-margin-sm-left) * 5) !important;
    }
}
