/* ==========================================================================
   Vertical spacing utilities
   ========================================================================== */

/** @define utilities */

:root {
    --utils-margin-space-lg: 5px;
}

@media (--c-bp-lg) {
    .u-lg-spacedMarg0 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .u-lg-spacedMarg1 {
        margin-bottom: var(--utils-margin-space-lg) !important;
        margin-top: var(--utils-margin-space-lg) !important;
    }

    .u-lg-spacedMarg2 {
        margin-bottom: calc(var(--utils-margin-space-lg) * 2) !important;
        margin-top: calc(var(--utils-margin-space-lg) * 2) !important;
    }

    .u-lg-spacedMarg3 {
        margin-bottom: calc(var(--utils-margin-space-lg) * 3) !important;
        margin-top: calc(var(--utils-margin-space-lg) * 3) !important;
    }

    .u-lg-spacedMarg4 {
        margin-bottom: calc(var(--utils-margin-space-lg) * 4) !important;
        margin-top: calc(var(--utils-margin-space-lg) * 4) !important;
    }

    .u-lg-spacedMarg5 {
        margin-bottom: calc(var(--utils-margin-space-lg) * 5) !important;
        margin-top: calc(var(--utils-margin-space-lg) * 5) !important;
    }
}
