/* =========================================================================== *\
    All Sides Margin Utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .m-xs-0 {
        margin: 0;
    }

    .m-xs-1 {
        margin: 10px;
    }

    .m-xs-2 {
        margin: 20px;
    }

    .m-xs-3 {
        margin: 30px;
    }

    .m-xs-4 {
        margin: 40px;
    }

    .m-xs-5 {
        margin: 50px;
    }
}
