/* =========================================================================== *\
    Bottom Margin Utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .mb-xs-0 {
        margin-bottom: 0;
    }

    .mb-xs-1 {
        margin-bottom: 10px;
    }

    .mb-xs-2 {
        margin-bottom: 20px;
    }

    .mb-xs-3 {
        margin-bottom: 30px;
    }

    .mb-xs-4 {
        margin-bottom: 40px;
    }

    .mb-xs-5 {
        margin-bottom: 50px;
    }
}
