/* =========================================================================== *\
    End margin utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .me-xs-0 {
        margin-right: 0;
    }

    .me-xs-1 {
        margin-right: 10px;
    }

    .me-xs-2 {
        margin-right: 20px;
    }

    .me-xs-3 {
        margin-right: 30px;
    }

    .me-xs-4 {
        margin-right: 40px;
    }

    .me-xs-5 {
        margin-right: 50px;
    }
}
