/* =========================================================================== *\
    Start margin utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .ms-xs-0 {
        margin-left: 0;
    }

    .ms-xs-1 {
        margin-left: 10px;
    }

    .ms-xs-2 {
        margin-left: 20px;
    }

    .ms-xs-3 {
        margin-left: 30px;
    }

    .ms-xs-4 {
        margin-left: 40px;
    }

    .ms-xs-5 {
        margin-left: 50px;
    }
}
