/* =========================================================================== *\
    Top margin utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .mt-xs-0 {
        margin-top: 0;
    }

    .mt-xs-1 {
        margin-top: 10px;
    }

    .mt-xs-2 {
        margin-top: 20px;
    }

    .mt-xs-3 {
        margin-top: 30px;
    }

    .mt-xs-4 {
        margin-top: 40px;
    }

    .mt-xs-5 {
        margin-top: 50px;
    }
}
