/* =========================================================================== *\
    Width 3's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-3 {
        width: calc(100% / 3);
    }

    .w-xs-2-3 {
        width: calc(100% / 3 * 2);
    }

    .w-xs-3-3 {
        width: 100%;
    }
}
