/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-4 {
        width: 25%;
    }

    .w-xs-2-4 {
        width: 50%;
    }

    .w-xs-3-4 {
        width: 75%;
    }

    .w-xs-4-4 {
        width: 100%;
    }
}
