/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-12 {
        width: calc(100% / 12);
    }

    .w-xs-2-12 {
        width: calc(100% / 12 * 2);
    }

    .w-xs-3-12 {
        width: 25%;
    }

    .w-xs-4-12 {
        width: calc(100% / 12 * 4);
    }

    .w-xs-5-12 {
        width: calc(100% / 12 * 5);
    }

    .w-xs-6-12 {
        width: 50%;
    }

    .w-xs-7-12 {
        width: calc(100% / 12 * 7);
    }

    .w-xs-8-12 {
        width: calc(100% / 12 * 8);
    }

    .w-xs-9-12 {
        width: 75%;
    }

    .w-xs-10-12 {
        width: calc(100% / 12 * 10);
    }

    .w-xs-11-12 {
        width: calc(100% / 12 * 11);
    }

    .w-xs-12-12 {
        width: 100%;
    }
}
