/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-8 {
        width: calc(100% / 8);
    }

    .w-xs-2-8 {
        width: 25%;
    }

    .w-xs-3-8 {
        width: calc(100% / 8 * 3);
    }

    .w-xs-4-8 {
        width: 50%;
    }

    .w-xs-5-8 {
        width: calc(100% / 8 * 5);
    }

    .w-xs-6-8 {
        width: 75%;
    }

    .w-xs-7-8 {
        width: calc(100% / 8 * 7);
    }

    .w-xs-8-8 {
        width: 100%;
    }
}
