/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-7 {
        width: calc(100% / 7);
    }

    .w-xs-2-7 {
        width: calc(100% / 7 * 2);
    }

    .w-xs-3-7 {
        width: calc(100% / 7 * 3);
    }

    .w-xs-4-7 {
        width: calc(100% / 7 * 4);
    }

    .w-xs-5-7 {
        width: calc(100% / 7 * 5);
    }

    .w-xs-6-7 {
        width: calc(100% / 7 * 6);
    }

    .w-xs-7-7 {
        width: 100%;
    }
}
