/* =========================================================================== *\
    Width 9's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-9 {
        width: calc(100% / 9);
    }

    .w-xs-2-9 {
        width: calc(100% / 9 * 2);
    }

    .w-xs-3-9 {
        width: calc(100% / 9 * 3);
    }

    .w-xs-4-9 {
        width: calc(100% / 9 * 4);
    }

    .w-xs-5-9 {
        width: calc(100% / 9 * 5);
    }

    .w-xs-6-9 {
        width: calc(100% / 9 * 6);
    }

    .w-xs-7-9 {
        width: calc(100% / 9 * 7);
    }

    .w-xs-8-9 {
        width: calc(100% / 9 * 8);
    }

    .w-xs-9-9 {
        width: 100%;
    }
}
