/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-10 {
        width: calc(10%);
    }

    .w-xs-2-10 {
        width: calc(20%);
    }

    .w-xs-3-10 {
        width: calc(30%);
    }

    .w-xs-4-10 {
        width: calc(40%);
    }

    .w-xs-5-10 {
        width: 50%;
    }

    .w-xs-6-10 {
        width: calc(60%);
    }

    .w-xs-7-10 {
        width: calc(70%);
    }

    .w-xs-8-10 {
        width: calc(80%);
    }

    .w-xs-9-10 {
        width: calc(90%);
    }

    .w-xs-10-10 {
        width: 100%;
    }
}
