/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-xs) {
    .w-xs-1-5 {
        width: calc(20%);
    }

    .w-xs-2-5 {
        width: calc(40%);
    }

    .w-xs-3-5 {
        width: calc(60%);
    }

    .w-xs-4-5 {
        width: calc(80%);
    }

    .w-xs-5-5 {
        width: 100%;
    }
}
