/* =========================================================================== *\
    Width 6's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-6 {
        height: calc(100% / 6);
    }

    .h-xl-2-6 {
        height: calc(100% / 6 * 2);
    }

    .h-xl-3-6 {
        height: 50%;
    }

    .h-xl-4-6 {
        height: calc(100% / 6 * 4);
    }

    .h-xl-5-6 {
        height: calc(100% / 6 * 5);
    }

    .h-xl-6-6 {
        height: 100%;
    }
}
