/* =========================================================================== *\
    Width 3's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-3 {
        height: calc(100% / 3);
    }

    .h-xl-2-3 {
        height: calc(100% / 3 * 2);
    }

    .h-xl-3-3 {
        height: 100%;
    }
}
