/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-8 {
        height: calc(100% / 8);
    }

    .h-xl-2-8 {
        height: 25%;
    }

    .h-xl-3-8 {
        height: calc(100% / 8 * 3);
    }

    .h-xl-4-8 {
        height: 50%;
    }

    .h-xl-5-8 {
        height: calc(100% / 8 * 5);
    }

    .h-xl-6-8 {
        height: 75%;
    }

    .h-xl-7-8 {
        height: calc(100% / 8 * 7);
    }

    .h-xl-8-8 {
        height: 100%;
    }
}
