/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-11 {
        height: calc(100% / 11);
    }

    .h-xl-2-11 {
        height: calc(100% / 11 * 2);
    }

    .h-xl-3-11 {
        height: calc(100% / 11 * 3);
    }

    .h-xl-4-11 {
        height: calc(100% / 11 * 4);
    }

    .h-xl-5-11 {
        height: calc(100% / 11 * 5);
    }

    .h-xl-6-11 {
        height: calc(100% / 11 * 6);
    }

    .h-xl-7-11 {
        height: calc(100% / 11 * 7);
    }

    .h-xl-8-11 {
        height: calc(100% / 11 * 8);
    }

    .h-xl-9-11 {
        height: calc(100% / 11 * 9);
    }

    .h-xl-10-11 {
        height: calc(100% / 11 * 10);
    }

    .h-xl-11-11 {
        height: 100%;
    }
}
