/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-12 {
        height: calc(100% / 12);
    }

    .h-xl-2-12 {
        height: calc(100% / 12 * 2);
    }

    .h-xl-3-12 {
        height: 25%;
    }

    .h-xl-4-12 {
        height: calc(100% / 12 * 4);
    }

    .h-xl-5-12 {
        height: calc(100% / 12 * 5);
    }

    .h-xl-6-12 {
        height: 50%;
    }

    .h-xl-7-12 {
        height: calc(100% / 12 * 7);
    }

    .h-xl-8-12 {
        height: calc(100% / 12 * 8);
    }

    .h-xl-9-12 {
        height: 75%;
    }

    .h-xl-10-12 {
        height: calc(100% / 12 * 10);
    }

    .h-xl-11-12 {
        height: calc(100% / 12 * 11);
    }

    .h-xl-12-12 {
        height: 100%;
    }
}
