/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-4 {
        height: 25%;
    }

    .h-xl-2-4 {
        height: 50%;
    }

    .h-xl-3-4 {
        height: 75%;
    }

    .h-xl-4-4 {
        height: 100%;
    }
}
