/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-10 {
        height: calc(10%);
    }

    .h-xl-2-10 {
        height: calc(20%);
    }

    .h-xl-3-10 {
        height: calc(30%);
    }

    .h-xl-4-10 {
        height: calc(40%);
    }

    .h-xl-5-10 {
        height: 50%;
    }

    .h-xl-6-10 {
        height: calc(60%);
    }

    .h-xl-7-10 {
        height: calc(70%);
    }

    .h-xl-8-10 {
        height: calc(80%);
    }

    .h-xl-9-10 {
        height: calc(90%);
    }

    .h-xl-10-10 {
        height: 100%;
    }
}
