/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-xl) {
    .h-xl-1-7 {
        height: calc(100% / 7);
    }

    .h-xl-2-7 {
        height: calc(100% / 7 * 2);
    }

    .h-xl-3-7 {
        height: calc(100% / 7 * 3);
    }

    .h-xl-4-7 {
        height: calc(100% / 7 * 4);
    }

    .h-xl-5-7 {
        height: calc(100% / 7 * 5);
    }

    .h-xl-6-7 {
        height: calc(100% / 7 * 6);
    }

    .h-xl-7-7 {
        height: 100%;
    }
}
