/* =========================================================================== *\
    Pull 10's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-10 {
        right: 10%;
    }

    .pull-xxl-2-10 {
        right: 20%;
    }

    .pull-xxl-3-10 {
        right: 30%;
    }

    .pull-xxl-4-10 {
        right: 40%;
    }

    .pull-xxl-5-10 {
        right: 50%;
    }

    .pull-xxl-6-10 {
        right: 60%;
    }

    .pull-xxl-7-10 {
        right: 70%;
    }

    .pull-xxl-8-10 {
        right: 80%;
    }

    .pull-xxl-9-10 {
        right: 90%;
    }

    .pull-xxl-10-10 {
        right: 100%;
    }
}
