/* =========================================================================== *\
    Pull 8's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-8 {
        right: calc(100% / 8);
    }

    .pull-xxl-2-8 {
        right: 25%;
    }

    .pull-xxl-3-8 {
        right: calc(100% / 8 * 3);
    }

    .pull-xxl-4-8 {
        right: 50%;
    }

    .pull-xxl-5-8 {
        right: calc(100% / 8 * 5);
    }

    .pull-xxl-6-8 {
        right: 75%;
    }

    .pull-xxl-7-8 {
        right: calc(100% / 8 * 7);
    }

    .pull-xxl-8-8 {
        right: 100%;
    }
}
