/* =========================================================================== *\
    Pull 5's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-5 {
        right: 20%;
    }

    .pull-xxl-2-5 {
        right: 40%;
    }

    .pull-xxl-3-5 {
        right: 60%;
    }

    .pull-xxl-4-5 {
        right: 80%;
    }

    .pull-xxl-5-5 {
        right: 100%;
    }
}
