/* =========================================================================== *\
    Pull 11's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-11 {
        right: calc(100% / 11);
    }

    .pull-xxl-2-11 {
        right: calc(100% / 11 * 2);
    }

    .pull-xxl-3-11 {
        right: calc(100% / 11 * 3);
    }

    .pull-xxl-4-11 {
        right: calc(100% / 11 * 4);
    }

    .pull-xxl-5-11 {
        right: calc(100% / 11 * 5);
    }

    .pull-xxl-6-11 {
        right: calc(100% / 11 * 6);
    }

    .pull-xxl-7-11 {
        right: calc(100% / 11 * 7);
    }

    .pull-xxl-8-11 {
        right: calc(100% / 11 * 8);
    }

    .pull-xxl-9-11 {
        right: calc(100% / 11 * 9);
    }

    .pull-xxl-10-11 {
        right: calc(100% / 11 * 10);
    }

    .pull-xxl-11-11 {
        right: 100%;
    }
}
