/* =========================================================================== *\
    Pull 4's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-4 {
        right: 25%;
    }

    .pull-xxl-2-4 {
        right: 50%;
    }

    .pull-xxl-3-4 {
        right: 75%;
    }

    .pull-xxl-4-4 {
        right: 100%;
    }
}
