/* =========================================================================== *\
    Pull 12's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-12 {
        right: calc(100% / 12);
    }

    .pull-xxl-2-12 {
        right: calc(100% / 12 * 2);
    }

    .pull-xxl-3-12 {
        right: 25%;
    }

    .pull-xxl-4-12 {
        right: calc(100% / 12 * 4);
    }

    .pull-xxl-5-12 {
        right: calc(100% / 12 * 5);
    }

    .pull-xxl-6-12 {
        right: 50%;
    }

    .pull-xxl-7-12 {
        right: calc(100% / 12 * 7);
    }

    .pull-xxl-8-12 {
        right: calc(100% / 12 * 8);
    }

    .pull-xxl-9-12 {
        right: 75%;
    }

    .pull-xxl-10-12 {
        right: calc(100% / 12 * 10);
    }

    .pull-xxl-11-12 {
        right: calc(100% / 12 * 11);
    }

    .pull-xxl-12-12 {
        right: 100%;
    }
}
