/* =========================================================================== *\
    Pull 7's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .pull-xxl-1-7 {
        right: calc(100% / 7);
    }

    .pull-xxl-2-7 {
        right: calc(100% / 7 * 2);
    }

    .pull-xxl-3-7 {
        right: calc(100% / 7 * 3);
    }

    .pull-xxl-4-7 {
        right: calc(100% / 7 * 4);
    }

    .pull-xxl-5-7 {
        right: calc(100% / 7 * 5);
    }

    .pull-xxl-6-7 {
        right: calc(100% / 7 * 6);
    }

    .pull-xxl-7-7 {
        right: 100%;
    }
}
