/* =========================================================================== *\
    Grid 12's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-12 {
        left: calc(100% / 12);
    }

    .push-sm-2-12 {
        left: calc(100% / 12 * 2);
    }

    .push-sm-3-12 {
        left: 25%;
    }

    .push-sm-4-12 {
        left: calc(100% / 12 * 4);
    }

    .push-sm-5-12 {
        left: calc(100% / 12 * 5);
    }

    .push-sm-6-12 {
        left: 50%;
    }

    .push-sm-7-12 {
        left: calc(100% / 12 * 7);
    }

    .push-sm-8-12 {
        left: calc(100% / 12 * 8);
    }

    .push-sm-9-12 {
        left: 75%;
    }

    .push-sm-10-12 {
        left: calc(100% / 12 * 10);
    }

    .push-sm-11-12 {
        left: calc(100% / 12 * 11);
    }

    .push-sm-12-12 {
        left: 100%;
    }
}
