/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-8 {
        left: calc(100% / 8);
    }

    .push-sm-2-8 {
        left: 25%;
    }

    .push-sm-3-8 {
        left: calc(100% / 8 * 3);
    }

    .push-sm-4-8 {
        left: 50%;
    }

    .push-sm-5-8 {
        left: calc(100% / 8 * 5);
    }

    .push-sm-6-8 {
        left: 75%;
    }

    .push-sm-7-8 {
        left: calc(100% / 8 * 7);
    }

    .push-sm-8-8 {
        left: 100%;
    }
}
