/* =========================================================================== *\
    Grid 7's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-7 {
        left: calc(100% / 7);
    }

    .push-sm-2-7 {
        left: calc(100% / 7 * 2);
    }

    .push-sm-3-7 {
        left: calc(100% / 7 * 3);
    }

    .push-sm-4-7 {
        left: calc(100% / 7 * 4);
    }

    .push-sm-5-7 {
        left: calc(100% / 7 * 5);
    }

    .push-sm-6-7 {
        left: calc(100% / 7 * 6);
    }

    .push-sm-7-7 {
        left: 100%;
    }
}
