/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-10 {
        right: 10%;
    }

    .push-sm-2-10 {
        right: 20%;
    }

    .push-sm-3-10 {
        right: 30%;
    }

    .push-sm-4-10 {
        right: 40%;
    }

    .push-sm-5-10 {
        right: 50%;
    }

    .push-sm-6-10 {
        right: 60%;
    }

    .push-sm-7-10 {
        right: 70%;
    }

    .push-sm-8-10 {
        right: 80%;
    }

    .push-sm-9-10 {
        right: 90%;
    }

    .push-sm-10-10 {
        right: 100%;
    }
}
