/* =========================================================================== *\
    Push 5's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-5 {
        left: 20%;
    }

    .push-sm-2-5 {
        left: 40%;
    }

    .push-sm-3-5 {
        left: 60%;
    }

    .push-sm-4-5 {
        left: 80%;
    }

    .push-sm-5-5 {
        left: 100%;
    }
}
