/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-4 {
        right: 25%;
    }

    .push-sm-2-4 {
        right: 50%;
    }

    .push-sm-3-4 {
        right: 75%;
    }

    .push-sm-4-4 {
        right: 100%;
    }
}
