/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-5 {
        right: 20%;
    }

    .push-sm-2-5 {
        right: 40%;
    }

    .push-sm-3-5 {
        right: 60%;
    }

    .push-sm-4-5 {
        right: 80%;
    }

    .push-sm-5-5 {
        right: 100%;
    }
}
