/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-8 {
        right: calc(100% / 8);
    }

    .push-sm-2-8 {
        right: 25%;
    }

    .push-sm-3-8 {
        right: calc(100% / 8 * 3);
    }

    .push-sm-4-8 {
        right: 50%;
    }

    .push-sm-5-8 {
        right: calc(100% / 8 * 5);
    }

    .push-sm-6-8 {
        right: 75%;
    }

    .push-sm-7-8 {
        right: calc(100% / 8 * 7);
    }

    .push-sm-8-8 {
        right: 100%;
    }
}
