/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-sm) {
    .push-sm-1-6 {
        left: calc(100% / 6);
    }

    .push-sm-2-6 {
        left: calc(100% / 6 * 2);
    }

    .push-sm-3-6 {
        left: 50%;
    }

    .push-sm-4-6 {
        left: calc(100% / 6 * 4);
    }

    .push-sm-5-6 {
        left: calc(100% / 6 * 5);
    }

    .push-sm-6-6 {
        left: 100%;
    }
}
