/*===========================================================================*\
  COMPONENT
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";



.ap-ddmenu-header,
.DDMenu-toggle,
.DDMenu-clone {
    display: none;
}

.ap-ddmenu-header {
    @include cacao-font-size($ddmenu-header-fontsize, $line-height: true);
    height: $ddmenu-header-height;
    padding: $ddmenu-header-padding;
    position: relative;
}

.DDMenu-current {
    text-align: center;
}

.DDMenu-back {
    position: absolute;
}

