/*---------------------------------------------------------------------------*\
  MOBILE DRILLDOWN
\*---------------------------------------------------------------------------*/

@import "../../../cacao";
@import "settings";





/*---------------------------------------------------------------------------*\
  COMPONENTS
\*---------------------------------------------------------------------------*/

.ap-ddmenu-header,
.DDMenu-toggle,
.#{$ddmenu-classname}-item.clone {
    display: none;
}

.ap-ddmenu-header {
    @include font-size($ddmenu-header-fontsize, $line-height: true);
    position: relative;
    height: $ddmenu-header-height;
    padding: $ddmenu-header-padding;
}

.DDMenu-current {
    text-align: center;
}

.DDMenu-back {
    position: absolute;
}



