/*===========================================================================*\
  DEFAULTS
\*===========================================================================*/

@import "../../../cacao";



/**
 * Breakpoint that the ddmenu becomes active.
 */

$ddmenu-bp: $g-bp-md !default;

/**
 * Header
 */

$ddmenu-header-padding: $g-rhythm $g-page-gutter !default;
$ddmenu-header-height: $g-rhythm*2 !default;
$ddmenu-header-fontsize: $g-textSize3 !default;

