/*===========================================================================*\
  STATE
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";





@media (max-width: $ddmenu-bp) {
    .DDMenu-toggle,
    .ap-ddmenu-header,
    .#{$ddmenu-classname}-item.clone {
        display: block;
    }
    .#{$ddmenu-classname} {
        display: block;
        padding: $ddmenu-menu-padding;
        margin: 0;
    }
    .#{$ddmenu-classname}--sub,
    .#{$ddmenu-classname}-item:hover > .#{$ddmenu-classname}--sub {
        display: none;
        top: 0;
        left: 100%;
    }
    .#{$ddmenu-classname}--root {
        position: relative;
    }
    .#{$ddmenu-classname}-item {
        @include box-sizing(border-box);
        display: block;
        position: static;
        width: 100%;
        margin: 0 0 $ddmenu-item-spacing;
    }
    .#{$ddmenu-classname}-link {
        @include font-size($ddmenu-fontsize, $line-height: true);
        padding: $ddmenu-item-padding;
    }
}

