{% import "macros/macros.html" as macro %}
<!DOCTYPE html>
<!--[if lt IE 10]>
<html class="lt-ie10 no-flexbox no-flexwrap"><![endif]-->
<!--[if gt IE 9]><!-->
<html><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cacao Cracker</title>
    {% block head %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ site.server }}layout/css/index.css">
    {% endblock %}
    {% block inlinestyles %}
    {% endblock %}
    {% endblock %}
</head>
<body>
    <div class="Container">
        {% block header %}
            <h1><a href="https://github.com/aptuitiv/cacao">Cacao</a></h1>
            <div class="NavBar">
                <a href="#" class="SmScBtn js-ssNavBtn"><span class="SmScBtn-icon"></span>Menu</a>
                {{ macro.buildMenu(data.menu) }}
            </div>

        {% endblock %}

        <div class="u-padTop3">
            {% block page %}
            {% endblock %}
        </div>

        {% block footer %}
        {% endblock %}

        {% block scripts %}
            <script src="{{ site.serverRoot }}layout/js/index.js"></script>
        {% endblock %}
    </div>
</body>
</html>
