/* =========================================================================== *
   Last child top margin utilities
 * =========================================================================== */


.last-child-mt-1 {
    margin-top: var(--child-spacing-1);
}

.last-child-mt-2 {
    margin-top: var(--child-spacing-2);
}

.last-child-mt-3 {
    margin-top: var(--child-spacing-3);
}

.last-child-mt-4 {
    margin-top: var(--child-spacing-4);
}

.last-child-mt-5 {
    margin-top: var(--child-spacing-5);
}

.last-child-mt-6 {
    margin-top: var(--child-spacing-6);
}

.last-child-mt-7 {
    margin-top: var(--child-spacing-7);
}

.last-child-mt-8 {
    margin-top: var(--child-spacing-8);
}

.last-child-mt-9 {
    margin-top: var(--child-spacing-9);
}

.last-child-mt-10 {
    margin-top: var(--child-spacing-10);
}

.last-child-mt-11 {
    margin-top: var(--child-spacing-11);
}

.last-child-mt-12 {
    margin-top: var(--child-spacing-12);
}

.last-child-mt-13 {
    margin-top: var(--child-spacing-13);
}

.last-child-mt-14 {
    margin-top: var(--child-spacing-14);
}

.last-child-mt-15 {
    margin-top: var(--child-spacing-15);
}
