/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-lg) {
    .h-lg-1-7 {
        height: calc(100% / 7);
    }

    .h-lg-2-7 {
        height: calc(100% / 7 * 2);
    }

    .h-lg-3-7 {
        height: calc(100% / 7 * 3);
    }

    .h-lg-4-7 {
        height: calc(100% / 7 * 4);
    }

    .h-lg-5-7 {
        height: calc(100% / 7 * 5);
    }

    .h-lg-6-7 {
        height: calc(100% / 7 * 6);
    }

    .h-lg-7-7 {
        height: 100%;
    }
}
