/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-lg) {
    .h-lg-1-12 {
        height: calc(100% / 12);
    }

    .h-lg-2-12 {
        height: calc(100% / 12 * 2);
    }

    .h-lg-3-12 {
        height: 25%;
    }

    .h-lg-4-12 {
        height: calc(100% / 12 * 4);
    }

    .h-lg-5-12 {
        height: calc(100% / 12 * 5);
    }

    .h-lg-6-12 {
        height: 50%;
    }

    .h-lg-7-12 {
        height: calc(100% / 12 * 7);
    }

    .h-lg-8-12 {
        height: calc(100% / 12 * 8);
    }

    .h-lg-9-12 {
        height: 75%;
    }

    .h-lg-10-12 {
        height: calc(100% / 12 * 10);
    }

    .h-lg-11-12 {
        height: calc(100% / 12 * 11);
    }

    .h-lg-12-12 {
        height: 100%;
    }
}
