/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-lg) {
    .h-lg-1-11 {
        height: calc(100% / 11);
    }

    .h-lg-2-11 {
        height: calc(100% / 11 * 2);
    }

    .h-lg-3-11 {
        height: calc(100% / 11 * 3);
    }

    .h-lg-4-11 {
        height: calc(100% / 11 * 4);
    }

    .h-lg-5-11 {
        height: calc(100% / 11 * 5);
    }

    .h-lg-6-11 {
        height: calc(100% / 11 * 6);
    }

    .h-lg-7-11 {
        height: calc(100% / 11 * 7);
    }

    .h-lg-8-11 {
        height: calc(100% / 11 * 8);
    }

    .h-lg-9-11 {
        height: calc(100% / 11 * 9);
    }

    .h-lg-10-11 {
        height: calc(100% / 11 * 10);
    }

    .h-lg-11-11 {
        height: 100%;
    }
}
