/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-lg) {
    .h-lg-1-4 {
        height: 25%;
    }

    .h-lg-2-4 {
        height: 50%;
    }

    .h-lg-3-4 {
        height: 75%;
    }

    .h-lg-4-4 {
        height: 100%;
    }
}
