/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-lg) {
    .h-lg-1-10 {
        height: calc(10%);
    }

    .h-lg-2-10 {
        height: calc(20%);
    }

    .h-lg-3-10 {
        height: calc(30%);
    }

    .h-lg-4-10 {
        height: calc(40%);
    }

    .h-lg-5-10 {
        height: 50%;
    }

    .h-lg-6-10 {
        height: calc(60%);
    }

    .h-lg-7-10 {
        height: calc(70%);
    }

    .h-lg-8-10 {
        height: calc(80%);
    }

    .h-lg-9-10 {
        height: calc(90%);
    }

    .h-lg-10-10 {
        height: 100%;
    }
}
