{% macro buildMenu(menu, sub) %}
    {% if menu.children %}
    <ul class="{% if sub === 1 %}Dropdown-menu{% else %}MainNav js-mainNav{% endif %}">
        {% for item in menu.children %}
        <li class="{% if sub === 1 %}Dropdown-item{% else %}MainNav-item{% endif %}{% if item.children %} Dropdown{% endif %}">
            <a href="{{ site.server }}{{ item.href }}" class="{% if sub === 1 %}
                Dropdown-link
            {% else %}
                MainNav-link
            {% endif %}
            {% if item.children %}
                {% if sub === 1 %}
                    Dropdown-link--parent
                {% else %}
                    is-dropdown
                {% endif %}
                js-dropdown
            {% endif %}">{{ item.text }}</a>
            {{ buildMenu(item, 1) }}
        </li>
        {% endfor %}
        {% if sub !== 1 %}
            <li class="MainNav-item MainNav-item--smallScreen"><a href="#" class="MainNav-link">Small Screen Item</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endmacro %}
