/*---------------------------------------------------------------------------*\
  GRID STATE
\*---------------------------------------------------------------------------*/
/**
 * Setup responsive media queries with columns, and modifiers.
 */

@import "defaults";
@import "globals";



$grid-media: max-width;

/**
 * Reverse the direction media queries cascade if mobile first.
 */
@if $grid-mobile-first {
    $grid-media: min-width;
    $grid-breakpoints: grid-reverse($grid-breakpoints);
}

/**
 * Loop through the breakpoint map and make responsive column/modifier
 * classes using the breakpoint extension.
 */
@each $ext, $bp in $grid-breakpoints {

    @media ($grid-media: $bp) {

        @for $i from 0 through $grid-column-count {
            @include grid-create-width($i, $ext);
        }

    }

}



