/* =========================================================================== *\
    Width 9's
\* =========================================================================== */

@media (--c-bp-lg) {
    .w-lg-1-9 {
        width: calc(100% / 9);
    }

    .w-lg-2-9 {
        width: calc(100% / 9 * 2);
    }

    .w-lg-3-9 {
        width: calc(100% / 9 * 3);
    }

    .w-lg-4-9 {
        width: calc(100% / 9 * 4);
    }

    .w-lg-5-9 {
        width: calc(100% / 9 * 5);
    }

    .w-lg-6-9 {
        width: calc(100% / 9 * 6);
    }

    .w-lg-7-9 {
        width: calc(100% / 9 * 7);
    }

    .w-lg-8-9 {
        width: calc(100% / 9 * 8);
    }

    .w-lg-9-9 {
        width: 100%;
    }
}
