/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-lg) {
    .w-lg-1-8 {
        width: calc(100% / 8);
    }

    .w-lg-2-8 {
        width: 25%;
    }

    .w-lg-3-8 {
        width: calc(100% / 8 * 3);
    }

    .w-lg-4-8 {
        width: 50%;
    }

    .w-lg-5-8 {
        width: calc(100% / 8 * 5);
    }

    .w-lg-6-8 {
        width: 75%;
    }

    .w-lg-7-8 {
        width: calc(100% / 8 * 7);
    }

    .w-lg-8-8 {
        width: 100%;
    }
}
