/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-lg) {
    .w-lg-1-12 {
        width: calc(100% / 12);
    }

    .w-lg-2-12 {
        width: calc(100% / 12 * 2);
    }

    .w-lg-3-12 {
        width: 25%;
    }

    .w-lg-4-12 {
        width: calc(100% / 12 * 4);
    }

    .w-lg-5-12 {
        width: calc(100% / 12 * 5);
    }

    .w-lg-6-12 {
        width: 50%;
    }

    .w-lg-7-12 {
        width: calc(100% / 12 * 7);
    }

    .w-lg-8-12 {
        width: calc(100% / 12 * 8);
    }

    .w-lg-9-12 {
        width: 75%;
    }

    .w-lg-10-12 {
        width: calc(100% / 12 * 10);
    }

    .w-lg-11-12 {
        width: calc(100% / 12 * 11);
    }

    .w-lg-12-12 {
        width: 100%;
    }
}
