/* =========================================================================== *\
    Width 6's
\* =========================================================================== */

@media (--c-bp-lg) {
    .w-lg-1-6 {
        width: calc(100% / 6);
    }

    .w-lg-2-6 {
        width: calc(100% / 6 * 2);
    }

    .w-lg-3-6 {
        width: 50%;
    }

    .w-lg-4-6 {
        width: calc(100% / 6 * 4);
    }

    .w-lg-5-6 {
        width: calc(100% / 6 * 5);
    }

    .w-lg-6-6 {
        width: 100%;
    }
}
