/* =========================================================================== *\
    Width 3's
\* =========================================================================== */

@media (--c-bp-lg) {
    .w-lg-1-3 {
        width: calc(100% / 3);
    }

    .w-lg-2-3 {
        width: calc(100% / 3 * 2);
    }

    .w-lg-3-3 {
        width: 100%;
    }
}
