/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-lg) {
    .w-lg-1-10 {
        width: calc(10%);
    }

    .w-lg-2-10 {
        width: calc(20%);
    }

    .w-lg-3-10 {
        width: calc(30%);
    }

    .w-lg-4-10 {
        width: calc(40%);
    }

    .w-lg-5-10 {
        width: 50%;
    }

    .w-lg-6-10 {
        width: calc(60%);
    }

    .w-lg-7-10 {
        width: calc(70%);
    }

    .w-lg-8-10 {
        width: calc(80%);
    }

    .w-lg-9-10 {
        width: calc(90%);
    }

    .w-lg-10-10 {
        width: 100%;
    }
}
