/*===========================================================================*\
  STATE MD
\*===========================================================================*/

@import "../../../cacao";



@media (max-width: $g-bp-md) {

    .u-md-padBottom0 {
        padding-top: 0 !important;
    }

    .u-md-padBottom1 {
        padding-top: $g-rhythm*1 !important;
    }

    .u-md-padBottom2 {
        padding-top: $g-rhythm*2 !important;
    }

    .u-md-padBottom3 {
        padding-top: $g-rhythm*3 !important;
    }

    .u-md-padBottom4 {
        padding-top: $g-rhythm*4 !important;
    }

    .u-md-padBottom5 {
        padding-top: $g-rhythm*5 !important;
    }

}

