/*===========================================================================*\
  STATE SM
\*===========================================================================*/

@import "../../../cacao";



@media (max-width: $g-bp-sm) {

    .u-sm-padBottom0 {
        padding-top: 0 !important;
    }

    .u-sm-padBottom1 {
        padding-top: $g-rhythm*1 !important;
    }

    .u-sm-padBottom2 {
        padding-top: $g-rhythm*2 !important;
    }

    .u-sm-padBottom3 {
        padding-top: $g-rhythm*3 !important;
    }

    .u-sm-padBottom4 {
        padding-top: $g-rhythm*4 !important;
    }

    .u-sm-padBottom5 {
        padding-top: $g-rhythm*5 !important;
    }

}

