/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-xs) {
    .h-xs-1-10 {
        height: calc(10%);
    }

    .h-xs-2-10 {
        height: calc(20%);
    }

    .h-xs-3-10 {
        height: calc(30%);
    }

    .h-xs-4-10 {
        height: calc(40%);
    }

    .h-xs-5-10 {
        height: 50%;
    }

    .h-xs-6-10 {
        height: calc(60%);
    }

    .h-xs-7-10 {
        height: calc(70%);
    }

    .h-xs-8-10 {
        height: calc(80%);
    }

    .h-xs-9-10 {
        height: calc(90%);
    }

    .h-xs-10-10 {
        height: 100%;
    }
}
