/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-xs) {
    .h-xs-1-5 {
        height: calc(20%);
    }

    .h-xs-2-5 {
        height: calc(40%);
    }

    .h-xs-3-5 {
        height: calc(60%);
    }

    .h-xs-4-5 {
        height: calc(80%);
    }

    .h-xs-5-5 {
        height: 100%;
    }
}
