/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-xs) {
    .h-xs-1-11 {
        height: calc(100% / 11);
    }

    .h-xs-2-11 {
        height: calc(100% / 11 * 2);
    }

    .h-xs-3-11 {
        height: calc(100% / 11 * 3);
    }

    .h-xs-4-11 {
        height: calc(100% / 11 * 4);
    }

    .h-xs-5-11 {
        height: calc(100% / 11 * 5);
    }

    .h-xs-6-11 {
        height: calc(100% / 11 * 6);
    }

    .h-xs-7-11 {
        height: calc(100% / 11 * 7);
    }

    .h-xs-8-11 {
        height: calc(100% / 11 * 8);
    }

    .h-xs-9-11 {
        height: calc(100% / 11 * 9);
    }

    .h-xs-10-11 {
        height: calc(100% / 11 * 10);
    }

    .h-xs-11-11 {
        height: 100%;
    }
}
