/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-xs) {
    .h-xs-1-4 {
        height: 25%;
    }

    .h-xs-2-4 {
        height: 50%;
    }

    .h-xs-3-4 {
        height: 75%;
    }

    .h-xs-4-4 {
        height: 100%;
    }
}
