/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-xs) {
    .h-xs-1-12 {
        height: calc(100% / 12);
    }

    .h-xs-2-12 {
        height: calc(100% / 12 * 2);
    }

    .h-xs-3-12 {
        height: 25%;
    }

    .h-xs-4-12 {
        height: calc(100% / 12 * 4);
    }

    .h-xs-5-12 {
        height: calc(100% / 12 * 5);
    }

    .h-xs-6-12 {
        height: 50%;
    }

    .h-xs-7-12 {
        height: calc(100% / 12 * 7);
    }

    .h-xs-8-12 {
        height: calc(100% / 12 * 8);
    }

    .h-xs-9-12 {
        height: 75%;
    }

    .h-xs-10-12 {
        height: calc(100% / 12 * 10);
    }

    .h-xs-11-12 {
        height: calc(100% / 12 * 11);
    }

    .h-xs-12-12 {
        height: 100%;
    }
}
