/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-xs) {
    .h-xs-1-7 {
        height: calc(100% / 7);
    }

    .h-xs-2-7 {
        height: calc(100% / 7 * 2);
    }

    .h-xs-3-7 {
        height: calc(100% / 7 * 3);
    }

    .h-xs-4-7 {
        height: calc(100% / 7 * 4);
    }

    .h-xs-5-7 {
        height: calc(100% / 7 * 5);
    }

    .h-xs-6-7 {
        height: calc(100% / 7 * 6);
    }

    .h-xs-7-7 {
        height: 100%;
    }
}
