/* =========================================================================== *\
    Push 5's
\* =========================================================================== */

@media (--c-bp-xs) {
    .push-xs-1-5 {
        left: 20%;
    }

    .push-xs-2-5 {
        left: 40%;
    }

    .push-xs-3-5 {
        left: 60%;
    }

    .push-xs-4-5 {
        left: 80%;
    }

    .push-xs-5-5 {
        left: 100%;
    }
}
