/* =========================================================================== *\
    Push 4's
\* =========================================================================== */

@media (--c-bp-xs) {
    .push-xs-1-4 {
        left: 25%;
    }

    .push-xs-2-4 {
        left: 50%;
    }

    .push-xs-3-4 {
        left: 75%;
    }

    .push-xs-4-4 {
        left: 100%;
    }
}
