/* =========================================================================== *\
    Push 8's
\* =========================================================================== */

@media (--c-bp-xs) {
    .push-xs-1-8 {
        left: calc(100% / 8);
    }

    .push-xs-2-8 {
        left: 25%;
    }

    .push-xs-3-8 {
        left: calc(100% / 8 * 3);
    }

    .push-xs-4-8 {
        left: 50%;
    }

    .push-xs-5-8 {
        left: calc(100% / 8 * 5);
    }

    .push-xs-6-8 {
        left: 75%;
    }

    .push-xs-7-8 {
        left: calc(100% / 8 * 7);
    }

    .push-xs-8-8 {
        left: 100%;
    }
}
