/* =========================================================================== *\
    Push 10's
\* =========================================================================== */

@media (--c-bp-xs) {
    .push-xs-1-10 {
        left: 10%;
    }

    .push-xs-2-10 {
        left: 20%;
    }

    .push-xs-3-10 {
        left: 30%;
    }

    .push-xs-4-10 {
        left: 40%;
    }

    .push-xs-5-10 {
        left: 50%;
    }

    .push-xs-6-10 {
        left: 60%;
    }

    .push-xs-7-10 {
        left: 70%;
    }

    .push-xs-8-10 {
        left: 80%;
    }

    .push-xs-9-10 {
        left: 90%;
    }

    .push-xs-10-10 {
        left: 100%;
    }
}
