/* =========================================================================== *\
    Push 12's
\* =========================================================================== */

@media (--c-bp-xs) {
    .push-xs-1-12 {
        left: calc(100% / 12);
    }

    .push-xs-2-12 {
        left: calc(100% / 12 * 2);
    }

    .push-xs-3-12 {
        left: 25%;
    }

    .push-xs-4-12 {
        left: calc(100% / 12 * 4);
    }

    .push-xs-5-12 {
        left: calc(100% / 12 * 5);
    }

    .push-xs-6-12 {
        left: 50%;
    }

    .push-xs-7-12 {
        left: calc(100% / 12 * 7);
    }

    .push-xs-8-12 {
        left: calc(100% / 12 * 8);
    }

    .push-xs-9-12 {
        left: 75%;
    }

    .push-xs-10-12 {
        left: calc(100% / 12 * 10);
    }

    .push-xs-11-12 {
        left: calc(100% / 12 * 11);
    }

    .push-xs-12-12 {
        left: 100%;
    }
}
