/* =========================================================================== *\
    Push 9's
\* =========================================================================== */

@media (--c-bp-xs) {
    .push-xs-1-9 {
        left: calc(100% / 9);
    }

    .push-xs-2-9 {
        left: calc(100% / 9 * 2);
    }

    .push-xs-3-9 {
        left: calc(100% / 9 * 3);
    }

    .push-xs-4-9 {
        left: calc(100% / 9 * 4);
    }

    .push-xs-5-9 {
        left: calc(100% / 9 * 5);
    }

    .push-xs-6-9 {
        left: calc(100% / 9 * 6);
    }

    .push-xs-7-9 {
        left: calc(100% / 9 * 7);
    }

    .push-xs-8-9 {
        left: calc(100% / 9 * 8);
    }

    .push-xs-9-9 {
        left: 100%;
    }
}
