{{>site-header}}

{{>page-header}}

<div id="main">
  <div class="container container-gutterless clearfix">

    <div class="grid grid-full">
      <div class="col-12">

        <div class="content">
          {{>body}}
        </div>

      </div>
    </div>

    <div class="grid grid-full">
      <div class="col-12">

        <div class="footer padded-sm clearfix">
          {{>page-footer}}
        </div>

      </div>
    </div>

  </div>
</div>

{{>site-footer}}
