{{>site-header}}

{{>page-header}}

<div class="section-main">
  <div class="container container-main">

    <div class="content type">
      
      {{>body}}

    </div>

    {{>page-footer}}

  </div>
</div>

{{>site-footer}}
