{{>site-header}}

{{>page-header}}

<div class="section-main">
  <div class="container container-main">

    <div class="content">
      
      {{>body}}

    </div>

  </div>
</div>

{{>page-footer}}

{{>site-footer}}
