{{>site-header}}

{{>page-header}}

<div class="section section-main">
  <div class="container container-main">
    <div class="row">
      <div class="col-9 push-3">


        <div class="content type">
            {{>body}}
        </div>


      </div>
      <div class="col-3 pull-9">


        <div class="sidebar">
          <div class="sidebar_item">
            <h4>Menu</h4>
            <ul>
              <li><a href="/grid.html">Grid</a></li>
              <li><a href="/media.html">Media Object</a></li>
              <li><a href="/lists.html">Lists</a></li>
              <li><a href="/breadcrumbs.html">Breadcrumbs</a></li>
              <li><a href="/pagination.html">Pagination</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-12">

        {{>page-footer}}

      </div>
    </div>
  </div>
</div>

{{>site-footer}}

