{{>site-header}}

{{>page-header}}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-9 push-3">


        <div class="content">
            {{>body}}
        </div>


      </div>
      <div class="col-3 pull-9">


        <div class="sidebar">
          <div class="sidebar-item">
            <h4>Sidebar</h4>
            <p>Sidebar content.</p>
          </div>
          <div class="sidebar-item">
            <h5>Sidebar</h5>
            <p>More sidebar content.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{{>page-footer}}

{{>site-footer}}

