/* =========================================================================== *\
    All Directions Gutter Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .g-sm-0 {
        gap: 0;
    }
    
    .g-sm-1 {
        gap: 10px;
    }
    
    .g-sm-2 {
        gap: 20px;
    }
    
    .g-sm-3 {
        gap: 30px;
    }
    
    .g-sm-4 {
        gap: 40px;
    }
    
    .g-sm-5 {
        gap: 50px;
    }
}
