/* =========================================================================== *\
    Horizontal Gutter Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .gx-sm-0 {
        column-gap: 0;
    }
    
    .gx-sm-1 {
        column-gap: 10px-sm;
    }
    
    .gx-sm-2 {
        column-gap: 20px-sm;
    }
    
    .gx-sm-3 {
        column-gap: 30px-sm;
    }
    
    .gx-sm-4 {
        column-gap: 40px-sm;
    }
    
    .gx-sm-5 {
        column-gap: 50px-sm;
    }
}
