/* ==========================================================================
   Responsive display utilities
   ========================================================================== */

/* large */

@media (--c-bp-lg) {
    .u-lg-block {
        display: block !important;
    }

    .u-lg-show {
        display: block !important;
    }

    .u-lg-hide {
        display: none !important;
    }
}

/* medium */

@media (--c-bp-md) {
    .u-md-block {
        display: block !important;
    }

    .u-md-show {
        display: block !important;
    }

    .u-md-hide {
        display: none !important;
    }
}

/* small */

@media (--c-bp-sm) {
    .u-sm-block {
        display: block !important;
    }

    .u-sm-show {
        display: block !important;
    }

    .u-sm-hide {
        display: none !important;
    }
}

