/* =========================================================================== *\
    Grid column size: 5's
\* =========================================================================== */

.col-1-5 {
    width: calc(20% - var(--col-width-adjust));
}

.col-2-5 {
    width: calc(40% - var(--col-width-adjust));
}

.col-3-5 {
    width: calc(60% - var(--col-width-adjust));
}

.col-4-5 {
    width: calc(80% - var(--col-width-adjust));
}

.col-5-5 {
    width: calc(100% - var(--col-width-adjust));
}
