/* =========================================================================== *\
    All sides padding utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .p-lg-0 {
        padding: 0;
    }

    .p-lg-1 {
        padding: 10px;
    }

    .p-lg-2 {
        padding: 20px;
    }

    .p-lg-3 {
        padding: 30px;
    }

    .p-lg-4 {
        padding: 40px;
    }

    .p-lg-5 {
        padding: 50px;
    }
}
