/* =========================================================================== *\
    Bottom Padding Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .pb-lg-0 {
        padding-bottom: 0;
    }
    
    .pb-lg-1 {
        padding-bottom: 10px;
    }
    
    .pb-lg-2 {
        padding-bottom: 20px;
    }
    
    .pb-lg-3 {
        padding-bottom: 30px;
    }
    
    .pb-lg-4 {
        padding-bottom: 40px;
    }
    
    .pb-lg-5 {
        padding-bottom: 50px;
    }
}
