/* =========================================================================== *\
    End padding utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .pe-lg-0 {
        padding-right: 0;
    }

    .pe-lg-1 {
        padding-right: 10px;
    }

    .pe-lg-2 {
        padding-right: 20px;
    }

    .pe-lg-3 {
        padding-right: 30px;
    }

    .pe-lg-4 {
        padding-right: 40px;
    }

    .pe-lg-5 {
        padding-right: 50px;
    }
}
