/* =========================================================================== *\
    Horizontal Padding Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .px-lg-0 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .px-lg-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .px-lg-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .px-lg-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .px-lg-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .px-lg-5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}
