/* =========================================================================== *\
    Start padding utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .ps-lg-0 {
        padding-left: 0;
    }

    .ps-lg-1 {
        padding-left: 10px;
    }

    .ps-lg-2 {
        padding-left: 20px;
    }

    .ps-lg-3 {
        padding-left: 30px;
    }

    .ps-lg-4 {
        padding-left: 40px;
    }

    .ps-lg-5 {
        padding-left: 50px;
    }
}
