/* =========================================================================== *\
    Top Padding Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .pt-0 {
        padding-top: 0;
    }
    
    .pt-1 {
        padding-top: 10px;
    }
    
    .pt-2 {
        padding-top: 20px;
    }
    
    .pt-3 {
        padding-top: 30px;
    }
    
    .pt-4 {
        padding-top: 40px;
    }
    
    .pt-5 {
        padding-top: 50px;
    }
}
