/*---------------------------------------------------------------------------*\
  SETTINGS
\*---------------------------------------------------------------------------*/
/**
 * Global and module settings go here.
 */





/*---------------------------------------------------------------------------*\
  GLOBAL VARIABLES
\*---------------------------------------------------------------------------*/
/**
 * The variables below may be used throughout the site the same way mixins are.
 */



/**
 * Typography
 */
$base-font-stack: "Merriweather", serif;
$base-font-size: 15px;
$base-font-weight: normal;
$base-line-height: 22px;
$base-letter-spacing: 0px;
$base-rhythm: $base-line-height/2;

$heading-font-stack: $base-font-stack;
$heading-font-weight: 900;
$heading-letter-spacing: -.5px;

$giga: 74px;
$mega: 62px;
$kilo: 48px;
$alpha: 36px; // h1
$beta: 28px; // h2
$gamma: 24px; // h3
$delta: 20px; // h4
$epsilon: 18px; // h5
$zeta: 15px; // h6
$milli: 13px;
$micro: 11px;



/**
 * Breakpoints
 * Used globally and to configure the grid module below.
 */
$bp-xl: 1200px;
$bp-lg: 1000px;
$bp-md: 850px;
$bp-sm: 600px;
$bp-xs: 400px;





/*---------------------------------------------------------------------------*\
  LAYOUT SETTINGS
\*---------------------------------------------------------------------------*/

/**
 * Page container
 */
$container-width: 960px;
$container-gutter: 1.5em;

/**
 * Media layout
 */
$media-gutter: $base-rhythm*2;





/*---------------------------------------------------------------------------*\
  MODULE SETTINGS
\*---------------------------------------------------------------------------*/

/**
 * Grid
 */
$grid-breakpoints: (
    xl: $bp-xl,
    lg: $bp-lg,
    md: $bp-md,
    sm: $bp-sm,
    xs: $bp-xs,
);



/**
 * Breadcrumbs
 */
$crumbs-wrapper-padding: $base-rhythm/2 .5em;
$crumbs-crumb-padding: 0 .5em;
$crumbs-separator-padding: $base-rhythm/2 .5em;



