/*---------------------------------------------------------------------------*\
  SETTINGS
\*---------------------------------------------------------------------------*/
/**
 * Global and module settings go here.
 */





/*---------------------------------------------------------------------------*\
  GLOBAL VARIABLES
\*---------------------------------------------------------------------------*/
/**
 * The variables below may be used throughout the site the same way mixins are.
 */



/**
 * Typography
 */
$base-font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 21px;

$heading-font-stack: $base-font-stack;
$heading-font-weight: bold;

$giga: 74px;
$mega: 62px;
$kilo: 48px;
$alpha: 36px; // h1
$beta: 28px; // h2
$gamma: 24px; // h3
$delta: 20px; // h4
$epsilon: 18px; // h5
$zeta: 16px; // h6
$milli: 14px;
$micro: 12px;



/**
 * Breakpoints
 * Used globally and to configure the grid module below.
 */
$bp-xl: 1200px;
$bp-lg: 1000px;
$bp-md: 850px;
$bp-sm: 600px;
$bp-xs: 400px;





/*---------------------------------------------------------------------------*\
  MODULE SETTINGS
\*---------------------------------------------------------------------------*/

/**
 * Grid
 */
$grid-container-width: 960px;
$grid-breakpoints: (
    xl: $bp-xl,
    lg: $bp-lg,
    md: $bp-md,
    sm: $bp-sm,
    xs: $bp-xs,
);



/**
 * Breadcrumbs
 */
$crumbs-separator-padding: 0 4px;



