/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-8 {
        width: calc(100% / 8);
    }
    
    .col-md-2-8 {
        width: 25%;
    }
    
    .col-md-3-8 {
        width: calc(100% / 8 * 3);
    }
    
    .col-md-4-8 {
        width: 50%;
    }
    
    .col-md-5-8 {
        width: calc(100% / 8 * 5);
    }
    
    .col-md-6-8 {
        width: 75%;
    }
    
    .col-md-7-8 {
        width: calc(100% / 8 * 7);
    }
    
    .col-md-8-8 {
        width: 100%;
    }
}
