/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-6 {
        width: calc(100% / 6 - var(--gap));
    }
    
    .col-md-2-6 {
        width: calc(100% / 6 * 2 - var(--gap));
    }
    
    .col-md-3-6 {
        width: calc(50% - var(--gap));
    }
    
    .col-md-4-6 {
        width: calc(100% / 6 * 4 - var(--gap));
    }
    
    .col-md-5-6 {
        width: calc(100% / 6 * 5 - var(--gap));
    }
    
    .col-md-6-6 {
        width: calc(100% - var(--gap));
    }
}
