/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-9 {
        width: calc(100% / 9);
    }
    
    .col-md-2-9 {
        width: calc(100% / 9 * 2);
    }
    
    .col-md-3-9 {
        width: calc(100% / 9 * 3);
    }
    
    .col-md-4-9 {
        width: calc(100% / 9 * 4);
    }
    
    .col-md-5-9 {
        width: calc(100% / 9 * 5);
    }
    
    .col-md-6-9 {
        width: calc(100% / 9 * 6);
    }
    
    .col-md-7-9 {
        width: calc(100% / 9 * 7);
    }
    
    .col-md-8-9 {
        width: calc(100% / 9 * 8);
    }
    
    .col-md-9-9 {
        width: 100%;
    }
}
