/* =========================================================================== *\
    Grid 11's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-11 {
        width: calc(100% / 11);
    }
    
    .col-md-2-11 {
        width: calc(100% / 11 * 2);
    }
    
    .col-md-3-11 {
        width: calc(100% / 11 * 3);
    }
    
    .col-md-4-11 {
        width: calc(100% / 11 * 4);
    }
    
    .col-md-5-11 {
        width: calc(100% / 11 * 5);
    }
    
    .col-md-6-11 {
        width: calc(100% / 11 * 6);
    }
    
    .col-md-7-11 {
        width: calc(100% / 11 * 7);
    }
    
    .col-md-8-11 {
        width: calc(100% / 11 * 8);
    }
    
    .col-md-9-11 {
        width: calc(100% / 11 * 9);
    }
    
    .col-md-10-11 {
        width: calc(100% / 11 * 10);
    }
    
    .col-md-11-11 {
        width: 100%;
    }
}
