/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-4 {
        width: calc(25% - var(--gap));
    }
    
    .col-md-2-4 {
        width: calc(50% - var(--gap));
    }
    
    .col-md-3-4 {
        width: calc(75% - var(--gap));
    }
    
    .col-md-4-4 {
        width: calc(100% - var(--gap));
    }
}
