/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-5 {
        width: 20%;
    }
    
    .col-md-2-5 {
        width: 40%;
    }
    
    .col-md-3-5 {
        width: 60%;
    }
    
    .col-md-4-5 {
        width: 80%;
    }
    
    .col-md-5-5 {
        width: 100%;
    }
}
