/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-10 {
        width: calc(10% - var(--gap));
    }
    
    .col-md-2-10 {
        width: calc(20% - var(--gap));
    }
    
    .col-md-3-10 {
        width: calc(30% - var(--gap));
    }
    
    .col-md-4-10 {
        width: calc(40% - var(--gap));
    }
    
    .col-md-5-10 {
        width: calc(50% - var(--gap));
    }
    
    .col-md-6-10 {
        width: calc(60% - var(--gap));
    }
    
    .col-md-7-10 {
        width: calc(70% - var(--gap));
    }
    
    .col-md-8-10 {
        width: calc(80% - var(--gap));
    }
    
    .col-md-9-10 {
        width: calc(90% - var(--gap));
    }
    
    .col-md-10-10 {
        width: calc(100% - var(--gap));
    }
}
