/* =========================================================================== *\
    Grid 7's
\* =========================================================================== */

@media (--c-bp-md) {
    .col-md-1-7 {
        width: calc(100% / 7);
    }
    
    .col-md-2-7 {
        width: calc(100% / 7 * 2);
    }
    
    .col-md-3-7 {
        width: calc(100% / 7 * 3);
    }
    
    .col-md-4-7 {
        width: calc(100% / 7 * 4);
    }
    
    .col-md-5-7 {
        width: calc(100% / 7 * 5);
    }
    
    .col-md-6-7 {
        width: calc(100% / 7 * 6);
    }
    
    .col-md-7-7 {
        width: 100%;
    }
}
