/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .col-xxl-1-5 {
        width: calc(20% - var(--gap));
    }

    .col-xxl-2-5 {
        width: calc(40% - var(--gap));
    }

    .col-xxl-3-5 {
        width: calc(60% - var(--gap));
    }

    .col-xxl-4-5 {
        width: calc(80% - var(--gap));
    }

    .col-xxl-5-5 {
        width: calc(100% - var(--gap));
    }
}
