/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .col-xxl-1-9 {
        width: calc(100% / 9 - var(--gap));
    }

    .col-xxl-2-9 {
        width: calc(100% / 9 * 2 - var(--gap));
    }

    .col-xxl-3-9 {
        width: calc(100% / 9 * 3 - var(--gap));
    }

    .col-xxl-4-9 {
        width: calc(100% / 9 * 4 - var(--gap));
    }

    .col-xxl-5-9 {
        width: calc(100% / 9 * 5 - var(--gap));
    }

    .col-xxl-6-9 {
        width: calc(100% / 9 * 6 - var(--gap));
    }

    .col-xxl-7-9 {
        width: calc(100% / 9 * 7 - var(--gap));
    }

    .col-xxl-8-9 {
        width: calc(100% / 9 * 8 - var(--gap));
    }

    .col-xxl-9-9 {
        width: calc(100% - var(--gap));
    }
}
