/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .col-xxl-1-4 {
        width: calc(25% - var(--gap));
    }

    .col-xxl-2-4 {
        width: calc(50% - var(--gap));
    }

    .col-xxl-3-4 {
        width: calc(75% - var(--gap));
    }

    .col-xxl-4-4 {
        width: calc(100% - var(--gap));
    }
}
