/*===========================================================================*\
  DEFAULTS
\*===========================================================================*/

@import "../../../cacao";



/**
 * Size between columns when a gutter modifier is used.
 */

$suitGrid-gutter-size: 20px !default;

/**
 * The grid sets font-size to 0 in order to negate whitespace between columns.
 * Set this variable to the font-size you wish each column to be reset to.
 * Typically this is the base font size.
 */

$suitGrid-font-size: $g-font-size !default;

/**
 * Letter Ssacing also gets set to 0, so provide a default for it.
 */

$suitGrid-letter-spacing: $g-letter-spacing !default;

