/* =========================================================================== *\
    PAGINATION
\* =========================================================================== */


/**  @define Pagination */

.Pagination {
    margin-top: 30px;
    text-align: center;
}

.Pagination-item {
    display: inline-block;
    margin: 0 4px;
    padding: 0 12px;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .Pagination-item:hover {
        background: #666;
        color: #fff;
        text-decoration: none;
    }
}

.Pagination-item:focus-visible {
    background: #666;
    color: #fff;
    text-decoration: none;
}

.Pagination-item--previous {
    margin-left: 0;
}

.Pagination-item--isActive {
    background: #333;
    color: #fff;
}
