/*---------------------------------------------------------------------------*\
  DEFAULT THEME
\*---------------------------------------------------------------------------*/
/**
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

$dark-brown: #604830;
$light-brown: #c0a878;
$off-white: #f0f0cf;

$dark-plum: #483030;
$deep-red: #481818;





/*---------------------------------------------------------------------------*\
  CONTENT
\*---------------------------------------------------------------------------*/

body {
    background: $off-white;
}



#header {
    @include linear-gradient($dark-brown, darken($dark-brown, 5%));
    border-bottom: 1px solid #333;
}



#main > .container {
    background: white;
    border: 1px solid #dfdfdf;
    border-top: 0;
}


.example-col {
    background: #9f9f9f;
    border: 1px solid #333;
}






/*---------------------------------------------------------------------------*\
  MODULES
\*---------------------------------------------------------------------------*/

/**
 * Logo
 */
.logo {
    color: white;
    font-family: 'Pacifico', $heading-font-stack;
    letter-spacing: 0px;
    text-shadow: 2px 2px 1px rgba(#000, .75);
}



/**
 * Breadcrumbs
 */
.breadcrumbs {
    background: $off-white;
    border-radius: 6px;
}

.breadcrumbs_item {
    border: 1px solid transparent;
    border-radius: 4px;
}

.breadcrumbs_item.-separator {
    background: $dark-plum;
    color: white;
}

.breadcrumbs_item.-crumb.-is-current,
.breadcrumbs_item.-crumb:active:not(.-is-disabled):not(.-is-current) {
    background: $light-brown;
}

.breadcrumbs_item.-crumb:not(.-is-disabled):not(.-is-current) {
    background: white;
}

.breadcrumbs_item.-crumb:hover:not(.-is-disabled):not(.-is-current),
.breadcrumbs_item.-crumb:active:not(.-is-disabled):not(.-is-current) {
    border: 1px solid black;
}



/**
 * Hero
 */
.hero {
    color: white;
}

.hero_title,
.hero_subtitle,
.hero_button {
    text-shadow: 1px 1px 3px rgba(#000, .8);
}

.hero_button {
    @include box-shadow(0, 0, 3px, 1px, rgba(#000, .8));
    border: 2px solid white;
    border-radius: .35em;

    &:hover {
        background: white;
        color: $dark-brown;
        text-shadow: none;
    }
}



/**
 * Slider
 */
.slider_pager_item {
    @include box-shadow(0, 0, 6px, 2px, rgba(#000, .8));
    border: 3px solid white;
    border-radius: 100%;
}

.slider_pager_item.current {
    background: white;
}

.slider_pager_item:hover {
    border-width: 2px;
    background: none;
}



