/* =========================================================================== *\
    All Sides Margin Utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .m-lg-0 {
        margin: 0;
    }
    
    .m-lg-1 {
        margin: 10px;
    }
    
    .m-lg-2 {
        margin: 20px;
    }
    
    .m-lg-3 {
        margin: 30px;
    }
    
    .m-lg-4 {
        margin: 40px;
    }
    
    .m-lg-5 {
        margin: 50px;
    }
}
