/* =========================================================================== *\
    All Sides Margin Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .m-md-0 {
        margin: 0;
    }
    
    .m-md-1 {
        margin: 10px;
    }
    
    .m-md-2 {
        margin: 20px;
    }
    
    .m-md-3 {
        margin: 30px;
    }
    
    .m-md-4 {
        margin: 40px;
    }
    
    .m-md-5 {
        margin: 50px;
    }
}
