/* =========================================================================== *\
    End margin utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .me-md-0 {
        margin-right: 0;
    }

    .me-md-1 {
        margin-right: 10px;
    }

    .me-md-2 {
        margin-right: 20px;
    }

    .me-md-3 {
        margin-right: 30px;
    }

    .me-md-4 {
        margin-right: 40px;
    }

    .me-md-5 {
        margin-right: 50px;
    }
}
