/* =========================================================================== *\
    Start Margin Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .ms-md-0 {
        margin-left: 0;
    }
    
    .ms-md-1 {
        margin-left: 10px;
    }
    
    .ms-md-2 {
        margin-left: 20px;
    }
    
    .ms-md-3 {
        margin-left: 30px;
    }
    
    .ms-md-4 {
        margin-left: 40px;
    }
    
    .ms-md-5 {
        margin-left: 50px;
    }
}
