/* =========================================================================== *\
    Top Margin Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .mt-md-0 {
        margin-top: 0;
    }
    
    .mt-md-1 {
        margin-top: 10px;
    }
    
    .mt-md-2 {
        margin-top: 20px;
    }
    
    .mt-md-3 {
        margin-top: 30px;
    }
    
    .mt-md-4 {
        margin-top: 40px;
    }
    
    .mt-md-5 {
        margin-top: 50px;
    }
}
