/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-5 {
        width: calc(20%);
    }

    .w-xxl-2-5 {
        width: calc(40%);
    }

    .w-xxl-3-5 {
        width: calc(60%);
    }

    .w-xxl-4-5 {
        width: calc(80%);
    }

    .w-xxl-5-5 {
        width: 100%;
    }
}
