/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-8 {
        width: calc(100% / 8);
    }

    .w-xxl-2-8 {
        width: 25%;
    }

    .w-xxl-3-8 {
        width: calc(100% / 8 * 3);
    }

    .w-xxl-4-8 {
        width: 50%;
    }

    .w-xxl-5-8 {
        width: calc(100% / 8 * 5);
    }

    .w-xxl-6-8 {
        width: 75%;
    }

    .w-xxl-7-8 {
        width: calc(100% / 8 * 7);
    }

    .w-xxl-8-8 {
        width: 100%;
    }
}
