/* =========================================================================== *\
    Width 6's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-6 {
        width: calc(100% / 6);
    }

    .w-xxl-2-6 {
        width: calc(100% / 6 * 2);
    }

    .w-xxl-3-6 {
        width: 50%;
    }

    .w-xxl-4-6 {
        width: calc(100% / 6 * 4);
    }

    .w-xxl-5-6 {
        width: calc(100% / 6 * 5);
    }

    .w-xxl-6-6 {
        width: 100%;
    }
}
