/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-10 {
        width: calc(10%);
    }

    .w-xxl-2-10 {
        width: calc(20%);
    }

    .w-xxl-3-10 {
        width: calc(30%);
    }

    .w-xxl-4-10 {
        width: calc(40%);
    }

    .w-xxl-5-10 {
        width: 50%;
    }

    .w-xxl-6-10 {
        width: calc(60%);
    }

    .w-xxl-7-10 {
        width: calc(70%);
    }

    .w-xxl-8-10 {
        width: calc(80%);
    }

    .w-xxl-9-10 {
        width: calc(90%);
    }

    .w-xxl-10-10 {
        width: 100%;
    }
}
