/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-12 {
        width: calc(100% / 12);
    }

    .w-xxl-2-12 {
        width: calc(100% / 12 * 2);
    }

    .w-xxl-3-12 {
        width: 25%;
    }

    .w-xxl-4-12 {
        width: calc(100% / 12 * 4);
    }

    .w-xxl-5-12 {
        width: calc(100% / 12 * 5);
    }

    .w-xxl-6-12 {
        width: 50%;
    }

    .w-xxl-7-12 {
        width: calc(100% / 12 * 7);
    }

    .w-xxl-8-12 {
        width: calc(100% / 12 * 8);
    }

    .w-xxl-9-12 {
        width: 75%;
    }

    .w-xxl-10-12 {
        width: calc(100% / 12 * 10);
    }

    .w-xxl-11-12 {
        width: calc(100% / 12 * 11);
    }

    .w-xxl-12-12 {
        width: 100%;
    }
}
