/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-11 {
        width: calc(100% / 11);
    }

    .w-xxl-2-11 {
        width: calc(100% / 11 * 2);
    }

    .w-xxl-3-11 {
        width: calc(100% / 11 * 3);
    }

    .w-xxl-4-11 {
        width: calc(100% / 11 * 4);
    }

    .w-xxl-5-11 {
        width: calc(100% / 11 * 5);
    }

    .w-xxl-6-11 {
        width: calc(100% / 11 * 6);
    }

    .w-xxl-7-11 {
        width: calc(100% / 11 * 7);
    }

    .w-xxl-8-11 {
        width: calc(100% / 11 * 8);
    }

    .w-xxl-9-11 {
        width: calc(100% / 11 * 9);
    }

    .w-xxl-10-11 {
        width: calc(100% / 11 * 10);
    }

    .w-xxl-11-11 {
        width: 100%;
    }
}
