/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-xxl) {
    .w-xxl-1-7 {
        width: calc(100% / 7);
    }

    .w-xxl-2-7 {
        width: calc(100% / 7 * 2);
    }

    .w-xxl-3-7 {
        width: calc(100% / 7 * 3);
    }

    .w-xxl-4-7 {
        width: calc(100% / 7 * 4);
    }

    .w-xxl-5-7 {
        width: calc(100% / 7 * 5);
    }

    .w-xxl-6-7 {
        width: calc(100% / 7 * 6);
    }

    .w-xxl-7-7 {
        width: 100%;
    }
}
