/*===========================================================================*\
  STATE SM
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";



@media (max-width: $padding-top-sm) {

    .u-sm-padTop0 {
        padding-top: 0 !important;
    }

    .u-sm-padTop1 {
        padding-top: $g-rhythm*1 !important;
    }

    .u-sm-padTop2 {
        padding-top: $g-rhythm*2 !important;
    }

    .u-sm-padTop3 {
        padding-top: $g-rhythm*3 !important;
    }

    .u-sm-padTop4 {
        padding-top: $g-rhythm*4 !important;
    }

    .u-sm-padTop5 {
        padding-top: $g-rhythm*5 !important;
    }

}

