/* ==========================================================================
   Link utilities
   ========================================================================== */

/** @define utilities */

/**
 * Clean links
 * Reset all link styles
 */

@media (hover: hover) and (pointer: fine) {
    .u-linkClean:hover {
        color: inherit !important;
        text-decoration: none !important;
    }
}

.u-linkClean,
.u-linkClean:focus-visible {
    color: inherit !important;
    text-decoration: none !important;
}

/**
 * Obvious links
 * Ensure the link has an underline in order to standout as an obvious link.
 */

.u-linkObvious {
    text-decoration: underline !important;
}

/**
 * Natural links
 * Link will inherit the text color of it's parent but will have an underline
 * to standout as an obvious link.
 */

.u-linkNatural {
    color: inherit !important;
    text-decoration: underline !important;
}

/**
 * Subtle links
 * Similar to a natural link but the underline is only shown on hover.
 */

.u-linkSubtle {
    color: inherit !important;
    text-decoration: none !important;
}

.u-linkSubtle:hover {
    text-decoration: underline !important;
}

/**
 * Link complex
 *
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should display the underline when the
 * link is the subject of user interaction.
 *
 * Example HTML:
 *
 * <a class="u-linkComplex" href="#">
 *   Link complex
 *   <span class="u-linkComplexTarget">target</span>
 * </a>
 */

@media (hover: hover) and (pointer: fine) {
    .u-linkComplex:hover {
        text-decoration: none !important;
    }
}

.u-linkComplex,
.u-linkComplex:focus-visible {
    text-decoration: none !important;
}

@media (hover: hover) and (pointer: fine) {
    .u-linkComplex:hover .u-linkComplexTarget {
        text-decoration: underline !important;
    }
}

.u-linkComplex:focus-visible .u-linkComplexTarget {
    text-decoration: underline !important;
}
