/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-10 {
        height: calc(10%);
    }

    .h-sm-2-10 {
        height: calc(20%);
    }

    .h-sm-3-10 {
        height: calc(30%);
    }

    .h-sm-4-10 {
        height: calc(40%);
    }

    .h-sm-5-10 {
        height: 50%;
    }

    .h-sm-6-10 {
        height: calc(60%);
    }

    .h-sm-7-10 {
        height: calc(70%);
    }

    .h-sm-8-10 {
        height: calc(80%);
    }

    .h-sm-9-10 {
        height: calc(90%);
    }

    .h-sm-10-10 {
        height: 100%;
    }
}
