/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-4 {
        height: 25%;
    }

    .h-sm-2-4 {
        height: 50%;
    }

    .h-sm-3-4 {
        height: 75%;
    }

    .h-sm-4-4 {
        height: 100%;
    }
}
