/* =========================================================================== *\
    Width 9's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-9 {
        height: calc(100% / 9);
    }

    .h-sm-2-9 {
        height: calc(100% / 9 * 2);
    }

    .h-sm-3-9 {
        height: calc(100% / 9 * 3);
    }

    .h-sm-4-9 {
        height: calc(100% / 9 * 4);
    }

    .h-sm-5-9 {
        height: calc(100% / 9 * 5);
    }

    .h-sm-6-9 {
        height: calc(100% / 9 * 6);
    }

    .h-sm-7-9 {
        height: calc(100% / 9 * 7);
    }

    .h-sm-8-9 {
        height: calc(100% / 9 * 8);
    }

    .h-sm-9-9 {
        height: 100%;
    }
}
