/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-7 {
        height: calc(100% / 7);
    }

    .h-sm-2-7 {
        height: calc(100% / 7 * 2);
    }

    .h-sm-3-7 {
        height: calc(100% / 7 * 3);
    }

    .h-sm-4-7 {
        height: calc(100% / 7 * 4);
    }

    .h-sm-5-7 {
        height: calc(100% / 7 * 5);
    }

    .h-sm-6-7 {
        height: calc(100% / 7 * 6);
    }

    .h-sm-7-7 {
        height: 100%;
    }
}
