/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-11 {
        height: calc(100% / 11);
    }

    .h-sm-2-11 {
        height: calc(100% / 11 * 2);
    }

    .h-sm-3-11 {
        height: calc(100% / 11 * 3);
    }

    .h-sm-4-11 {
        height: calc(100% / 11 * 4);
    }

    .h-sm-5-11 {
        height: calc(100% / 11 * 5);
    }

    .h-sm-6-11 {
        height: calc(100% / 11 * 6);
    }

    .h-sm-7-11 {
        height: calc(100% / 11 * 7);
    }

    .h-sm-8-11 {
        height: calc(100% / 11 * 8);
    }

    .h-sm-9-11 {
        height: calc(100% / 11 * 9);
    }

    .h-sm-10-11 {
        height: calc(100% / 11 * 10);
    }

    .h-sm-11-11 {
        height: 100%;
    }
}
