/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-5 {
        height: calc(20%);
    }

    .h-sm-2-5 {
        height: calc(40%);
    }

    .h-sm-3-5 {
        height: calc(60%);
    }

    .h-sm-4-5 {
        height: calc(80%);
    }

    .h-sm-5-5 {
        height: 100%;
    }
}
