/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-8 {
        height: calc(100% / 8);
    }

    .h-sm-2-8 {
        height: 25%;
    }

    .h-sm-3-8 {
        height: calc(100% / 8 * 3);
    }

    .h-sm-4-8 {
        height: 50%;
    }

    .h-sm-5-8 {
        height: calc(100% / 8 * 5);
    }

    .h-sm-6-8 {
        height: 75%;
    }

    .h-sm-7-8 {
        height: calc(100% / 8 * 7);
    }

    .h-sm-8-8 {
        height: 100%;
    }
}
