/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-sm) {
    .h-sm-1-12 {
        height: calc(100% / 12);
    }

    .h-sm-2-12 {
        height: calc(100% / 12 * 2);
    }

    .h-sm-3-12 {
        height: 25%;
    }

    .h-sm-4-12 {
        height: calc(100% / 12 * 4);
    }

    .h-sm-5-12 {
        height: calc(100% / 12 * 5);
    }

    .h-sm-6-12 {
        height: 50%;
    }

    .h-sm-7-12 {
        height: calc(100% / 12 * 7);
    }

    .h-sm-8-12 {
        height: calc(100% / 12 * 8);
    }

    .h-sm-9-12 {
        height: 75%;
    }

    .h-sm-10-12 {
        height: calc(100% / 12 * 10);
    }

    .h-sm-11-12 {
        height: calc(100% / 12 * 11);
    }

    .h-sm-12-12 {
        height: 100%;
    }
}
