/* =========================================================================== *\
    Content
\* =========================================================================== */


/* @define Content */

.Content {
    background: #fff;
    padding: 20px;
}


@media (--c-bp-sm) {
    .Content {
        padding: 20px 10px;
    }
}
