/* =========================================================================== *\
    Content
\* =========================================================================== */


/* @define Content */

.Content {
    background: #fff;
    padding: 2rem;
}


@media (--c-bp-sm) {
    .Content {
        padding: 2rem 1rem;
    }
}
