/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

.pull-1-8 {
    right: calc(100% / 8);
}

.pull-2-8 {
    right: 25%;
}

.pull-3-8 {
    right: calc(100% / 8 * 3);
}

.pull-4-8 {
    right: 50%;
}

.pull-5-8 {
    right: calc(100% / 8 * 5);
}

.pull-6-8 {
    right: 75%;
}

.pull-7-8 {
    right: calc(100% / 8 * 7);
}

.pull-8-8 {
    right: 100%;
}
