/* =========================================================================== *\
    Pull 10's
\* =========================================================================== */

.pull-1-10 {
    right: 10%;
}

.pull-2-10 {
    right: 20%;
}

.pull-3-10 {
    right: 30%;
}

.pull-4-10 {
    right: 40%;
}

.pull-5-10 {
    right: 50%;
}

.pull-6-10 {
    right: 60%;
}

.pull-7-10 {
    right: 70%;
}

.pull-8-10 {
    right: 80%;
}

.pull-9-10 {
    right: 90%;
}

.pull-10-10 {
    right: 100%;
}
