/* =========================================================================== *\
    Pull 7's
\* =========================================================================== */

.pull-1-7 {
    right: calc(100% / 7);
}

.pull-2-7 {
    right: calc(100% / 7 * 2);
}

.pull-3-7 {
    right: calc(100% / 7 * 3);
}

.pull-4-7 {
    right: calc(100% / 7 * 4);
}

.pull-5-7 {
    right: calc(100% / 7 * 5);
}

.pull-6-7 {
    right: calc(100% / 7 * 6);
}

.pull-7-7 {
    right: 100%;
}
