/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

.pull-1-5 {
    right: 20%;
}

.pull-2-5 {
    right: 40%;
}

.pull-3-5 {
    right: 60%;
}

.pull-4-5 {
    right: 80%;
}

.pull-5-5 {
    right: 100%;
}
