/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

.pull-1-10 {
    left: 10%;
}

.pull-2-10 {
    left: 20%;
}

.pull-3-10 {
    left: 30%;
}

.pull-4-10 {
    left: 40%;
}

.pull-5-10 {
    left: 50%;
}

.pull-6-10 {
    left: 60%;
}

.pull-7-10 {
    left: 70%;
}

.pull-8-10 {
    left: 80%;
}

.pull-9-10 {
    left: 90%;
}

.pull-10-10 {
    left: 100%;
}
