/* =========================================================================== *\
    Pull 4's
\* =========================================================================== */

.pull-1-4 {
    right: 25%;
}

.pull-2-4 {
    right: 50%;
}

.pull-3-4 {
    right: 75%;
}

.pull-4-4 {
    right: 100%;
}
