/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

.pull-1-4 {
    left: 25%;
}

.pull-2-4 {
    left: 50%;
}

.pull-3-4 {
    left: 75%;
}

.pull-4-4 {
    left: 100%;
}
