/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

.pull-1-5 {
    left: 20%;
}

.pull-2-5 {
    left: 40%;
}

.pull-3-5 {
    left: 60%;
}

.pull-4-5 {
    left: 80%;
}

.pull-5-5 {
    left: 100%;
}
