/* =========================================================================== *\
    Grid 3's
\* =========================================================================== */

.pull-1-3 {
    right: calc(100% / 3);
}

.pull-2-3 {
    right: calc(100% / 3 * 2);
}

.pull-3-3 {
    right: 100%;
}
