/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Base settings
 */
$hero-content-gutter: 75px !default;

$hero-title-size: 62px !default;
$hero-title-margin: 64px !default;

$hero-subtitle-size: 28px !default;
$hero-subtitle-margin: 74px !default;

$hero-button-size: $hero-subtitle-size !default;
$hero-button-padding: .5em 1em !default;



/**
 * First breakpoint
 */
$hero-bp-md: 1200px !default;

$hero-title-size-md: 48px !default;
$hero-title-margin-md: 32px !default;
$hero-subtitle-size-md: 24px !default;
$hero-subtitle-margin-md: 64px !default;
$hero-button-size-md: $hero-subtitle-size-md !default;
$hero-button-padding-md: $hero-button-padding !default;



/**
 * Second breakpoint
 */
$hero-bp-sm: 1000px !default;

$hero-title-size-sm: 36px !default;
$hero-title-margin-sm: 32px !default;
$hero-subtitle-size-sm: 18px !default;
$hero-subtitle-margin-sm: 48px !default;
$hero-button-size-sm: $hero-subtitle-size-sm !default;
$hero-button-padding-sm: $hero-button-padding !default;



/**
 * When to hide the hero
 */
$hero-bp-hidden: 750px !default;





