/* =========================================================================== *\
    Text Align Utilities - large screens
\* =========================================================================== */

@media (--c-bp-md) {
    .text-center-md {
        text-align: center;
    }

    .text-start-md {
        text-align: start;
    }

    .text-end-md {
        text-align: end;
    }

    .text-justify-md {
        text-align: justify;
    }
}
