/* =========================================================================== *\
    Text transform utilities - large screens
\* =========================================================================== */

@media (--c-bp-md) {
    .text-lower-md {
        text-transform: lowercase;
    }

    .text-upper-md {
        text-transform: uppercase;
    }

    .text-capital-md {
        text-transform: capitalize;
    }
}
