/* =========================================================================== *\
    Push 6's
\* =========================================================================== */

.push-1-6 {
    left: calc(100% / 6);
}

.push-2-6 {
    left: calc(100% / 6 * 2);
}

.push-3-6 {
    left: 50%;
}

.push-4-6 {
    left: calc(100% / 6 * 4);
}

.push-5-6 {
    left: calc(100% / 6 * 5);
}

.push-6-6 {
    left: 100%;
}
