/* ==========================================================================
   Main Navigation
   ========================================================================== */

/** @define MainNav */

:root {
    --MainNav-fontFamily: inherit;
    --MainNav-fontSize: 15px;
    --MainNav-lineHeight: 1.5;
    --MainNav-link-background: transparent;
    --MainNav-link-backgroundHover: transparent;
    --MainNav-link-color: #333;
    --MainNav-link-colorHover: #000;
}

/**
 * Base menu
 */

.MainNav {
    box-sizing: border-box;
    display: inline-block;
    font-family: var(--MainNav-fontFamily);
    font-size: var(--MainNav-fontSize);
    line-height: var(--MainNav-lineHeight);
    list-style: none;
    margin: 0 0 0 -1em;
    padding: 0;
}

/**
 * Items
 */

.MainNav-item {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 1em;
}

/** Item that should only be shown in the small screen navigation **/

.MainNav-item--smallScreen {
    display: none;
}

@media (--c-bp-smallScreenNav) {
    .MainNav-item--smallScreen {
        display: block;
    }
}

/**
 * Links
 */

.MainNav-link {
    background: var(--MainNav-link-background);
    box-sizing: border-box;
    color: var(--MainNav-link-color);
    display: block;
    padding: .5em 1.5rem;
    position: relative;
    text-decoration: none;
}

@media (--c-bp-largeScreenNav) {
    .MainNav-item.is-current > .MainNav-link,
    .MainNav-item.is-currentParent > .MainNav-link,
    .MainNav-item:hover > .MainNav-link {
        background: var(--MainNav-link-backgroundHover);
        color: var(--MainNav-link-colorHover);
        text-decoration: none;
    }
}
