/* =========================================================================== *\
   Positioning utilities
\* =========================================================================== */

@media (--c-bp-lg) {
    .absolute-lg {
        position: absolute;
    }

    .fixed-lg {
        position: fixed;
    }

    .relative-lg {
        position: relative;
    }

    .static-lg {
        position: static;
    }

    .sticky-lg {
        position: sticky;
    }
}
