<div class="Grid Grid--withGutterLg">
    {% for column in columns %}
        <div class="Grid-cell u-size1of2 u-sm-sizeFull u-sm-margBottom2">
            {% for element in column.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
