<div class="Grid Grid--withGutterLg">
    <div class="Grid-cell u-size2of4 u-lg-size1of3 u-md-sizeFull u-md-margBottom2">
        {% for element in columns.0.elements %}
            {{ element.content }}
        {% endfor %}
    </div>
    <div class="Grid-cell u-size1of4 u-lg-size1of3 u-md-sizeFull u-md-margBottom2">
        {% for element in columns.1.elements %}
            {{ element.content }}
        {% endfor %}
    </div>
    <div class="Grid-cell u-size1of4 u-lg-size1of3 u-md-sizeFull u-md-margBottom2">
        {% for element in columns.2.elements %}
            {{ element.content }}
        {% endfor %}
    </div>
</div>
