<div class="Grid Grid--withGutterLg u-margBottom2 u-md-margBottom0">
    {% for column in columns %}
        <div class="Grid-cell u-size1of3 u-md-sizeFull u-md-margBottom2">
            {% for element in column.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
