<div class="Grid Grid--withGutterLg">
    {% for column in columns %}
        <div class="Grid-cell u-size1of6 u-lg-size1of3 u-md-sizeFull u-lg-margBottom2">
            {% for element in column.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
