<h1>Checkout - Error</h1>
<p>There was an error while trying to process your credit card.</p>
<p>The most common causes are:</p>
<ul>
    <li>Mistyped billing information</li>
    <li>Unavailable funds</li>
</ul>
<p>Please <a href="{{ error.urls.checkoutBilling }}">return to the billing page</a> and check your information.</p>
<p>If you're still having problems please <a href="/contact">contact us</a>.</p>
<p>Thank you.</p>
