/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Base settings
 */
$slider-nav-gutter: 75px !default;

$slider-pager-bottom-margin: 8px !default;
$slider-pager-item-width: auto !default;
$slider-pager-item-height: auto !default;
$slider-pager-item-margin: 0 !default;
$slider-pager-item-padding: 0 !default;



/**
 * When to hide the slider
 */
$slider-bp-hidden: 750px !default;





