/*===========================================================================*\
  STATE
\*===========================================================================*/

@import "../../../cacao";
@import "defaults";



@media (max-width: $mainnav-bp) {

    .MainNav {
        @include cacao-clearfix();
        display: block;
        margin: 0;
        padding: $mainnav-mobile-menu-padding;
    }

    .MainNav--root {
        position: relative;
    }

    .MainNav--sub,
    .MainNav-item.last .MainNav--sub,
    .MainNav-item:hover > .MainNav--sub {
        display: none;
        left: 100%;
        right: auto;
        top: 0;
    }

    .MainNav-item {
        box-sizing: border-box;
        display: block;
        margin: 0 0 $mainnav-mobile-item-spacing;
        position: static;
        width: 100%;
    }

    .MainNav-link {
        @include cacao-font-size($mainnav-mobile-fontsize, $line-height: true);
        padding: $mainnav-mobile-item-padding;
    }

}

