/* =========================================================================== *\
    Text Align Utilities - large screens
\* =========================================================================== */

@media (--c-bp-xl) {
    .text-center-xl {
        text-align: center;
    }

    .text-start-xl {
        text-align: start;
    }

    .text-end-xl {
        text-align: end;
    }

    .text-justify-xl {
        text-align: justify;
    }
}
