/*---------------------------------------------------------------------------*\
  SETTINGS
\*---------------------------------------------------------------------------*/
/**
 * CONTENT
 * Base Variables...........
 *   Typography.............
 * Layout Settings..........
 *   Grid...................
 * Module Settings..........
 */





/*---------------------------------------------------------------------------*\
  BASE VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Typography
 */

$base-font-color: #333;
$base-font-size: 16px;
$base-font-stack: sans-serif;
$base-font-weight: normal;

$heading-font-stack: $base-font-stack;
$heading-font-weight: bold;

$giga: 74px;
$mega: 62px;
$kilo: 48px;
$alpha: 36px; // h1
$beta: 28px; // h2
$gamma: 24px; // h3
$delta: 20px; // h4
$epsilon: 18px; // h5
$zeta: 16px; // h6
$milli: 14px;
$micro: 12px;





/*---------------------------------------------------------------------------*\
  LAYOUT SETTINGS
\*---------------------------------------------------------------------------*/

/**
 * Grid
 */

$grid-type: inline-block;
$container-width: 1024px;





/*---------------------------------------------------------------------------*\
  MODULE SETTINGS
\*---------------------------------------------------------------------------*/



