/* =========================================================================== *\
    All sides padding utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .p-xs-0 {
        padding: 0;
    }

    .p-xs-1 {
        padding: 10px;
    }

    .p-xs-2 {
        padding: 20px;
    }

    .p-xs-3 {
        padding: 30px;
    }

    .p-xs-4 {
        padding: 40px;
    }

    .p-xs-5 {
        padding: 50px;
    }
}
