/* =========================================================================== *\
    End Padding Utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .pe-xs-0 {
        padding-right: 0;
    }

    .pe-xs-1 {
        padding-right: 10px;
    }

    .pe-xs-2 {
        padding-right: 20px;
    }

    .pe-xs-3 {
        padding-right: 30px;
    }

    .pe-xs-4 {
        padding-right: 40px;
    }

    .pe-xs-5 {
        padding-right: 50px;
    }
}
