/* =========================================================================== *\
    Horizontal padding utilities
\* =========================================================================== */

@media (--c-bp-xs) {
    .px-xs-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .px-xs-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .px-xs-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .px-xs-3 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .px-xs-4 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .px-xs-5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}
