/*===========================================================================*\
  COMPONENT
\*===========================================================================*/

@import "defaults";



/**
 * Base wrapper.
 */

.Slider {
    overflow: hidden;
    position: relative;
}

/**
 * Slide
 */

.Slider-slide {
    position: relative;
}

/**
 * Navigation arrows
 */

.Slider-nav {
    left: $slider-nav-gutter;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: $slider-nav-gutter;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.Slider-nav-prev {
    float: left;
}

.Slider-nav-next {
    float: right;
}

/**
 * Pager
 */

.Slider-pager {
    bottom: $slider-pager-bottom-margin;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 4;
}

.Slider-pager-item {
    display: inline-block;
    height: $slider-pager-item-height;
    margin: $slider-pager-item-margin;
    padding: $slider-pager-item-padding;
    width: $slider-pager-item-width;
}

