/* =========================================================================== *\
    Vertical Gutter Utilities
\* =========================================================================== */

.gy-1 {
    row-gap: 10px;
}

.gy-2 {
    row-gap: 20px;
}

.gy-3 {
    row-gap: 30px;
}

.gy-4 {
    row-gap: 40px;
}

.gy-5 {
    row-gap: 50px;
}
