/* =========================================================================== *\
    Alignment Utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .align-start-md {
        align-items: flex-start;
    }
    
    .align-center-md {
        align-items: center;
    }
    
    .align-end-md {
        align-items: flex-end;
    }
}
