/* =========================================================================== *\
    Justification utilities
\* =========================================================================== */

@media (--c-bp-md) {
    .justify-start-md {
        justify-content: flex-start;
    }

    .justify-center-md {
        justify-content: center;
    }

    .justify-end-md {
        justify-content: flex-end;
    }

    .justify-between-md {
        justify-content: space-between;
    }

    .justify-around-md {
        justify-content: space-around;
    }
}
