/* =========================================================================== *\
    Pull 12's
\* =========================================================================== */

@media (--c-bp-lg) {
    .pull-lg-1-12 {
        right: calc(100% / 12);
    }

    .pull-lg-2-12 {
        right: calc(100% / 12 * 2);
    }

    .pull-lg-3-12 {
        right: 25%;
    }

    .pull-lg-4-12 {
        right: calc(100% / 12 * 4);
    }

    .pull-lg-5-12 {
        right: calc(100% / 12 * 5);
    }

    .pull-lg-6-12 {
        right: 50%;
    }

    .pull-lg-7-12 {
        right: calc(100% / 12 * 7);
    }

    .pull-lg-8-12 {
        right: calc(100% / 12 * 8);
    }

    .pull-lg-9-12 {
        right: 75%;
    }

    .pull-lg-10-12 {
        right: calc(100% / 12 * 10);
    }

    .pull-lg-11-12 {
        right: calc(100% / 12 * 11);
    }

    .pull-lg-12-12 {
        right: 100%;
    }
}
