/* =========================================================================== *\
    Pull 8's
\* =========================================================================== */

@media (--c-bp-lg) {
    .pull-lg-1-8 {
        right: calc(100% / 8);
    }

    .pull-lg-2-8 {
        right: 25%;
    }

    .pull-lg-3-8 {
        right: calc(100% / 8 * 3);
    }

    .pull-lg-4-8 {
        right: 50%;
    }

    .pull-lg-5-8 {
        right: calc(100% / 8 * 5);
    }

    .pull-lg-6-8 {
        right: 75%;
    }

    .pull-lg-7-8 {
        right: calc(100% / 8 * 7);
    }

    .pull-lg-8-8 {
        right: 100%;
    }
}
