/* =========================================================================== *\
    Pull 7's
\* =========================================================================== */

@media (--c-bp-lg) {
    .pull-lg-1-7 {
        right: calc(100% / 7);
    }

    .pull-lg-2-7 {
        right: calc(100% / 7 * 2);
    }

    .pull-lg-3-7 {
        right: calc(100% / 7 * 3);
    }

    .pull-lg-4-7 {
        right: calc(100% / 7 * 4);
    }

    .pull-lg-5-7 {
        right: calc(100% / 7 * 5);
    }

    .pull-lg-6-7 {
        right: calc(100% / 7 * 6);
    }

    .pull-lg-7-7 {
        right: 100%;
    }
}
