/* =========================================================================== *\
    Pull 3's
\* =========================================================================== */

@media (--c-bp-lg) {
    .pull-lg-1-3 {
        right: calc(100% / 3);
    }

    .pull-lg-2-3 {
        right: calc(100% / 3 * 2);
    }

    .pull-lg-3-3 {
        right: 100%;
    }
}
