/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

@media (--c-bp-lg) {
    .pull-lg-1-10 {
        right: 10%;
    }

    .pull-lg-2-10 {
        right: 20%;
    }

    .pull-lg-3-10 {
        right: 30%;
    }

    .pull-lg-4-10 {
        right: 40%;
    }

    .pull-lg-5-10 {
        right: 50%;
    }

    .pull-lg-6-10 {
        right: 60%;
    }

    .pull-lg-7-10 {
        right: 70%;
    }

    .pull-lg-8-10 {
        right: 80%;
    }

    .pull-lg-9-10 {
        right: 90%;
    }

    .pull-lg-10-10 {
        right: 100%;
    }
}
