/* =========================================================================== *\
    Pull 4's
\* =========================================================================== */

@media (--c-bp-lg) {
    .pull-lg-1-4 {
        right: 25%;
    }

    .pull-lg-2-4 {
        right: 50%;
    }

    .pull-lg-3-4 {
        right: 75%;
    }

    .pull-lg-4-4 {
        right: 100%;
    }
}
