/*---------------------------------------------------------------------------*\
  CONTAINER
\*---------------------------------------------------------------------------*/
/**
 * 
 */





/*---------------------------------------------------------------------------*\
  PLACEHOLDERS
\*---------------------------------------------------------------------------*/
/**
 * Experimental.
 * See: http://viget.com/extend/bem-sass-modifiers
 */



%container {
    max-width: $container-width;
    margin: 0 auto;
    padding-left: $container-gutter;
    padding-right: $container-gutter;
}



/**
 * Non-fluid, fixed container.
 */
%container--fixed {
    width: $container-width;
}



/**
 * Remove gutters from container.
 */
%container--gutter-none {
    padding-left: 0;
    padding-right: 0;
}



/**
 * Position container to the left.
 */
%container--align-left {
    margin-left: 0;
    margin-right: 0;
}





/*---------------------------------------------------------------------------*\
  COMPONENT
\*---------------------------------------------------------------------------*/

.container {
    @extend %container;
}

.container.-fixed {
    @extend %container--fixed;
}

.container.-gutter-none {
    @extend %container--gutter-none;
}

.container.-align-left {
    @extend %container--align-left;
}



