/* =========================================================================== *\
    Grid 6's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-6 {
        right: calc(100% / 6);
    }

    .pull-sm-2-6 {
        right: calc(100% / 6 * 2);
    }

    .pull-sm-3-6 {
        right: 50%;
    }

    .pull-sm-4-6 {
        right: calc(100% / 6 * 4);
    }

    .pull-sm-5-6 {
        right: calc(100% / 6 * 5);
    }

    .pull-sm-6-6 {
        right: 100%;
    }
}
