/* =========================================================================== *\
    Pull 8's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-8 {
        right: calc(100% / 8);
    }

    .pull-sm-2-8 {
        right: 25%;
    }

    .pull-sm-3-8 {
        right: calc(100% / 8 * 3);
    }

    .pull-sm-4-8 {
        right: 50%;
    }

    .pull-sm-5-8 {
        right: calc(100% / 8 * 5);
    }

    .pull-sm-6-8 {
        right: 75%;
    }

    .pull-sm-7-8 {
        right: calc(100% / 8 * 7);
    }

    .pull-sm-8-8 {
        right: 100%;
    }
}
