/* =========================================================================== *\
    Pull 5's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-5 {
        right: 20%;
    }

    .pull-sm-2-5 {
        right: 40%;
    }

    .pull-sm-3-5 {
        right: 60%;
    }

    .pull-sm-4-5 {
        right: 80%;
    }

    .pull-sm-5-5 {
        right: 100%;
    }
}
