/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-10 {
        left: 10%;
    }

    .pull-sm-2-10 {
        left: 20%;
    }

    .pull-sm-3-10 {
        left: 30%;
    }

    .pull-sm-4-10 {
        left: 40%;
    }

    .pull-sm-5-10 {
        left: 50%;
    }

    .pull-sm-6-10 {
        left: 60%;
    }

    .pull-sm-7-10 {
        left: 70%;
    }

    .pull-sm-8-10 {
        left: 80%;
    }

    .pull-sm-9-10 {
        left: 90%;
    }

    .pull-sm-10-10 {
        left: 100%;
    }
}
