/* =========================================================================== *\
    Pull 9's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-9 {
        right: calc(100% / 9);
    }

    .pull-sm-2-9 {
        right: calc(100% / 9 * 2);
    }

    .pull-sm-3-9 {
        right: calc(100% / 9 * 3);
    }

    .pull-sm-4-9 {
        right: calc(100% / 9 * 4);
    }

    .pull-sm-5-9 {
        right: calc(100% / 9 * 5);
    }

    .pull-sm-6-9 {
        right: calc(100% / 9 * 6);
    }

    .pull-sm-7-9 {
        right: calc(100% / 9 * 7);
    }

    .pull-sm-8-9 {
        right: calc(100% / 9 * 8);
    }

    .pull-sm-9-9 {
        right: 100%;
    }
}
