/* =========================================================================== *\
    Pull 4's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-4 {
        right: 25%;
    }

    .pull-sm-2-4 {
        right: 50%;
    }

    .pull-sm-3-4 {
        right: 75%;
    }

    .pull-sm-4-4 {
        right: 100%;
    }
}
