/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-sm) {
    .pull-sm-1-5 {
        left: 20%;
    }

    .pull-sm-2-5 {
        left: 40%;
    }

    .pull-sm-3-5 {
        left: 60%;
    }

    .pull-sm-4-5 {
        left: 80%;
    }

    .pull-sm-5-5 {
        left: 100%;
    }
}
