/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-md) {
    .w-md-1-12 {
        width: calc(100% / 12);
    }

    .w-md-2-12 {
        width: calc(100% / 12 * 2);
    }

    .w-md-3-12 {
        width: 25%;
    }

    .w-md-4-12 {
        width: calc(100% / 12 * 4);
    }

    .w-md-5-12 {
        width: calc(100% / 12 * 5);
    }

    .w-md-6-12 {
        width: 50%;
    }

    .w-md-7-12 {
        width: calc(100% / 12 * 7);
    }

    .w-md-8-12 {
        width: calc(100% / 12 * 8);
    }

    .w-md-9-12 {
        width: 75%;
    }

    .w-md-10-12 {
        width: calc(100% / 12 * 10);
    }

    .w-md-11-12 {
        width: calc(100% / 12 * 11);
    }

    .w-md-12-12 {
        width: 100%;
    }
}
