/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-md) {
    .w-md-1-10 {
        width: calc(10%);
    }

    .w-md-2-10 {
        width: calc(20%);
    }

    .w-md-3-10 {
        width: calc(30%);
    }

    .w-md-4-10 {
        width: calc(40%);
    }

    .w-md-5-10 {
        width: 50%;
    }

    .w-md-6-10 {
        width: calc(60%);
    }

    .w-md-7-10 {
        width: calc(70%);
    }

    .w-md-8-10 {
        width: calc(80%);
    }

    .w-md-9-10 {
        width: calc(90%);
    }

    .w-md-10-10 {
        width: 100%;
    }
}
