/* =========================================================================== *\
    Width 8's
\* =========================================================================== */

@media (--c-bp-md) {
    .w-md-1-8 {
        width: calc(100% / 8);
    }

    .w-md-2-8 {
        width: 25%;
    }

    .w-md-3-8 {
        width: calc(100% / 8 * 3);
    }

    .w-md-4-8 {
        width: 50%;
    }

    .w-md-5-8 {
        width: calc(100% / 8 * 5);
    }

    .w-md-6-8 {
        width: 75%;
    }

    .w-md-7-8 {
        width: calc(100% / 8 * 7);
    }

    .w-md-8-8 {
        width: 100%;
    }
}
