/* =========================================================================== *\
    Width 5's
\* =========================================================================== */

@media (--c-bp-md) {
    .w-md-1-5 {
        width: calc(20%);
    }

    .w-md-2-5 {
        width: calc(40%);
    }

    .w-md-3-5 {
        width: calc(60%);
    }

    .w-md-4-5 {
        width: calc(80%);
    }

    .w-md-5-5 {
        width: 100%;
    }
}
