/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-md) {
    .w-md-1-4 {
        width: 25%;
    }

    .w-md-2-4 {
        width: 50%;
    }

    .w-md-3-4 {
        width: 75%;
    }

    .w-md-4-4 {
        width: 100%;
    }
}
