/* =========================================================================== *\
    Width 11's
\* =========================================================================== */

@media (--c-bp-xl) {
    .w-xl-1-11 {
        width: calc(100% / 11);
    }

    .w-xl-2-11 {
        width: calc(100% / 11 * 2);
    }

    .w-xl-3-11 {
        width: calc(100% / 11 * 3);
    }

    .w-xl-4-11 {
        width: calc(100% / 11 * 4);
    }

    .w-xl-5-11 {
        width: calc(100% / 11 * 5);
    }

    .w-xl-6-11 {
        width: calc(100% / 11 * 6);
    }

    .w-xl-7-11 {
        width: calc(100% / 11 * 7);
    }

    .w-xl-8-11 {
        width: calc(100% / 11 * 8);
    }

    .w-xl-9-11 {
        width: calc(100% / 11 * 9);
    }

    .w-xl-10-11 {
        width: calc(100% / 11 * 10);
    }

    .w-xl-11-11 {
        width: 100%;
    }
}
