/* =========================================================================== *\
    Width 12's
\* =========================================================================== */

@media (--c-bp-xl) {
    .w-xl-1-12 {
        width: calc(100% / 12);
    }

    .w-xl-2-12 {
        width: calc(100% / 12 * 2);
    }

    .w-xl-3-12 {
        width: 25%;
    }

    .w-xl-4-12 {
        width: calc(100% / 12 * 4);
    }

    .w-xl-5-12 {
        width: calc(100% / 12 * 5);
    }

    .w-xl-6-12 {
        width: 50%;
    }

    .w-xl-7-12 {
        width: calc(100% / 12 * 7);
    }

    .w-xl-8-12 {
        width: calc(100% / 12 * 8);
    }

    .w-xl-9-12 {
        width: 75%;
    }

    .w-xl-10-12 {
        width: calc(100% / 12 * 10);
    }

    .w-xl-11-12 {
        width: calc(100% / 12 * 11);
    }

    .w-xl-12-12 {
        width: 100%;
    }
}
