/* =========================================================================== *\
    Width 9's
\* =========================================================================== */

@media (--c-bp-xl) {
    .w-xl-1-9 {
        width: calc(100% / 9);
    }

    .w-xl-2-9 {
        width: calc(100% / 9 * 2);
    }

    .w-xl-3-9 {
        width: calc(100% / 9 * 3);
    }

    .w-xl-4-9 {
        width: calc(100% / 9 * 4);
    }

    .w-xl-5-9 {
        width: calc(100% / 9 * 5);
    }

    .w-xl-6-9 {
        width: calc(100% / 9 * 6);
    }

    .w-xl-7-9 {
        width: calc(100% / 9 * 7);
    }

    .w-xl-8-9 {
        width: calc(100% / 9 * 8);
    }

    .w-xl-9-9 {
        width: 100%;
    }
}
