/* =========================================================================== *\
    Width 10's
\* =========================================================================== */

@media (--c-bp-xl) {
    .w-xl-1-10 {
        width: calc(10%);
    }

    .w-xl-2-10 {
        width: calc(20%);
    }

    .w-xl-3-10 {
        width: calc(30%);
    }

    .w-xl-4-10 {
        width: calc(40%);
    }

    .w-xl-5-10 {
        width: 50%;
    }

    .w-xl-6-10 {
        width: calc(60%);
    }

    .w-xl-7-10 {
        width: calc(70%);
    }

    .w-xl-8-10 {
        width: calc(80%);
    }

    .w-xl-9-10 {
        width: calc(90%);
    }

    .w-xl-10-10 {
        width: 100%;
    }
}
