/* =========================================================================== *\
    Width 4's
\* =========================================================================== */

@media (--c-bp-xl) {
    .w-xl-1-4 {
        width: 25%;
    }

    .w-xl-2-4 {
        width: 50%;
    }

    .w-xl-3-4 {
        width: 75%;
    }

    .w-xl-4-4 {
        width: 100%;
    }
}
