/* =========================================================================== *\
    Width 7's
\* =========================================================================== */

@media (--c-bp-xl) {
    .w-xl-1-7 {
        width: calc(100% / 7);
    }

    .w-xl-2-7 {
        width: calc(100% / 7 * 2);
    }

    .w-xl-3-7 {
        width: calc(100% / 7 * 3);
    }

    .w-xl-4-7 {
        width: calc(100% / 7 * 4);
    }

    .w-xl-5-7 {
        width: calc(100% / 7 * 5);
    }

    .w-xl-6-7 {
        width: calc(100% / 7 * 6);
    }

    .w-xl-7-7 {
        width: 100%;
    }
}
