/* =========================================================================== *\
    All sides padding utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .p-sm-0 {
        padding: 0;
    }

    .p-sm-1 {
        padding: 10px;
    }

    .p-sm-2 {
        padding: 20px;
    }

    .p-sm-3 {
        padding: 30px;
    }

    .p-sm-4 {
        padding: 40px;
    }

    .p-sm-5 {
        padding: 50px;
    }
}
