/* =========================================================================== *\
    Horizontal Padding Utilities
\* =========================================================================== */

@media (--c-bp-sm) {
    .px-sm-0 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .px-sm-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .px-sm-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .px-sm-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .px-sm-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .px-sm-5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}
