/* =========================================================================== *\
    Grid 12's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-12 {
        left: calc(100% / 12);
    }

    .push-xl-2-12 {
        left: calc(100% / 12 * 2);
    }

    .push-xl-3-12 {
        left: 25%;
    }

    .push-xl-4-12 {
        left: calc(100% / 12 * 4);
    }

    .push-xl-5-12 {
        left: calc(100% / 12 * 5);
    }

    .push-xl-6-12 {
        left: 50%;
    }

    .push-xl-7-12 {
        left: calc(100% / 12 * 7);
    }

    .push-xl-8-12 {
        left: calc(100% / 12 * 8);
    }

    .push-xl-9-12 {
        left: 75%;
    }

    .push-xl-10-12 {
        left: calc(100% / 12 * 10);
    }

    .push-xl-11-12 {
        left: calc(100% / 12 * 11);
    }

    .push-xl-12-12 {
        left: 100%;
    }
}
