/* =========================================================================== *\
    Grid 3's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-3 {
        right: calc(100% / 3);
    }

    .push-xl-2-3 {
        right: calc(100% / 3 * 2);
    }

    .push-xl-3-3 {
        right: 100%;
    }
}
