/* =========================================================================== *\
    Push 10's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-10 {
        left: 10%;
    }

    .push-xl-2-10 {
        left: 20%;
    }

    .push-xl-3-10 {
        left: 30%;
    }

    .push-xl-4-10 {
        left: 40%;
    }

    .push-xl-5-10 {
        left: 50%;
    }

    .push-xl-6-10 {
        left: 60%;
    }

    .push-xl-7-10 {
        left: 70%;
    }

    .push-xl-8-10 {
        left: 80%;
    }

    .push-xl-9-10 {
        left: 90%;
    }

    .push-xl-10-10 {
        left: 100%;
    }
}
