/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-8 {
        left: calc(100% / 8);
    }

    .push-xl-2-8 {
        left: 25%;
    }

    .push-xl-3-8 {
        left: calc(100% / 8 * 3);
    }

    .push-xl-4-8 {
        left: 50%;
    }

    .push-xl-5-8 {
        left: calc(100% / 8 * 5);
    }

    .push-xl-6-8 {
        left: 75%;
    }

    .push-xl-7-8 {
        left: calc(100% / 8 * 7);
    }

    .push-xl-8-8 {
        left: 100%;
    }
}
