/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-4 {
        right: 25%;
    }

    .push-xl-2-4 {
        right: 50%;
    }

    .push-xl-3-4 {
        right: 75%;
    }

    .push-xl-4-4 {
        right: 100%;
    }
}
