/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-9 {
        right: calc(100% / 9);
    }

    .push-xl-2-9 {
        right: calc(100% / 9 * 2);
    }

    .push-xl-3-9 {
        right: calc(100% / 9 * 3);
    }

    .push-xl-4-9 {
        right: calc(100% / 9 * 4);
    }

    .push-xl-5-9 {
        right: calc(100% / 9 * 5);
    }

    .push-xl-6-9 {
        right: calc(100% / 9 * 6);
    }

    .push-xl-7-9 {
        right: calc(100% / 9 * 7);
    }

    .push-xl-8-9 {
        right: calc(100% / 9 * 8);
    }

    .push-xl-9-9 {
        right: 100%;
    }
}
