/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-xl) {
    .push-xl-1-5 {
        left: 20%;
    }

    .push-xl-2-5 {
        left: 40%;
    }

    .push-xl-3-5 {
        left: 60%;
    }

    .push-xl-4-5 {
        left: 80%;
    }

    .push-xl-5-5 {
        left: 100%;
    }
}
