/* =========================================================================== *\
    Grid 9's
\* =========================================================================== */

.push-1-9 {
    left: calc(100% / 9);
}

.push-2-9 {
    left: calc(100% / 9 * 2);
}

.push-3-9 {
    left: calc(100% / 9 * 3);
}

.push-4-9 {
    left: calc(100% / 9 * 4);
}

.push-5-9 {
    left: calc(100% / 9 * 5);
}

.push-6-9 {
    left: calc(100% / 9 * 6);
}

.push-7-9 {
    left: calc(100% / 9 * 7);
}

.push-8-9 {
    left: calc(100% / 9 * 8);
}

.push-9-9 {
    left: 100%;
}
