/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

.push-1-10 {
    right: 10%;
}

.push-2-10 {
    right: 20%;
}

.push-3-10 {
    right: 30%;
}

.push-4-10 {
    right: 40%;
}

.push-5-10 {
    right: 50%;
}

.push-6-10 {
    right: 60%;
}

.push-7-10 {
    right: 70%;
}

.push-8-10 {
    right: 80%;
}

.push-9-10 {
    right: 90%;
}

.push-10-10 {
    right: 100%;
}
