/* =========================================================================== *\
    Grid 4's
\* =========================================================================== */

.push-1-4 {
    right: 25%;
}

.push-2-4 {
    right: 50%;
}

.push-3-4 {
    right: 75%;
}

.push-4-4 {
    right: 100%;
}
