/* =========================================================================== *\
    Grid 10's
\* =========================================================================== */

.push-1-10 {
    left: 10%;
}

.push-2-10 {
    left: 20%;
}

.push-3-10 {
    left: 30%;
}

.push-4-10 {
    left: 40%;
}

.push-5-10 {
    left: 50%;
}

.push-6-10 {
    left: 60%;
}

.push-7-10 {
    left: 70%;
}

.push-8-10 {
    left: 80%;
}

.push-9-10 {
    left: 90%;
}

.push-10-10 {
    left: 100%;
}
