/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

.push-1-5 {
    right: 20%;
}

.push-2-5 {
    right: 40%;
}

.push-3-5 {
    right: 60%;
}

.push-4-5 {
    right: 80%;
}

.push-5-5 {
    right: 100%;
}
