/* =========================================================================== *\
    Push 8's
\* =========================================================================== */

.push-1-8 {
    left: calc(100% / 8);
}

.push-2-8 {
    left: 25%;
}

.push-3-8 {
    left: calc(100% / 8 * 3);
}

.push-4-8 {
    left: 50%;
}

.push-5-8 {
    left: calc(100% / 8 * 5);
}

.push-6-8 {
    left: 75%;
}

.push-7-8 {
    left: calc(100% / 8 * 7);
}

.push-8-8 {
    left: 100%;
}
