/* =========================================================================== *\
    All sides padding utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .p-xxl-0 {
        padding: 0;
    }

    .p-xxl-1 {
        padding: 10px;
    }

    .p-xxl-2 {
        padding: 20px;
    }

    .p-xxl-3 {
        padding: 30px;
    }

    .p-xxl-4 {
        padding: 40px;
    }

    .p-xxl-5 {
        padding: 50px;
    }
}
