/* =========================================================================== *\
    Start padding utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .ps-xxl-0 {
        padding-left: 0;
    }

    .ps-xxl-1 {
        padding-left: 10px;
    }

    .ps-xxl-2 {
        padding-left: 20px;
    }

    .ps-xxl-3 {
        padding-left: 30px;
    }

    .ps-xxl-4 {
        padding-left: 40px;
    }

    .ps-xxl-5 {
        padding-left: 50px;
    }
}
