/* =========================================================================== *\
    Vertical Padding Utilities
\* =========================================================================== */

@media (--c-bp-xxl) {
    .py-xxl-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .py-xxl-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .py-xxl-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .py-xxl-3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .py-xxl-4 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .py-xxl-5 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
