/* =========================================================================== *
   First child vertical margin and padding utilities
 * =========================================================================== */


.first-child-sy-11 {
    margin-top: var(--child-spacing-11);
    margin-bottom: var(--child-spacing-11);
    padding-top: var(--child-spacing-11);
    padding-bottom: var(--child-spacing-11);
}
