/* =========================================================================== *\
    Grid 12's
\* =========================================================================== */

@media (--c-bp-xl) {
    .col-xl-1-12 {
        width: calc(100% / 12);
    }
    
    .col-xl-2-12 {
        width: calc(100% / 12 * 2);
    }
    
    .col-xl-3-12 {
        width: 25%;
    }
    
    .col-xl-4-12 {
        width: calc(100% / 12 * 4);
    }
    
    .col-xl-5-12 {
        width: calc(100% / 12 * 5);
    }
    
    .col-xl-6-12 {
        width: 50%;
    }
    
    .col-xl-7-12 {
        width: calc(100% / 12 * 7);
    }
    
    .col-xl-8-12 {
        width: calc(100% / 12 * 8);
    }
    
    .col-xl-9-12 {
        width: 75%;
    }
    
    .col-xl-10-12 {
        width: calc(100% / 12 * 10);
    }
    
    .col-xl-11-12 {
        width: calc(100% / 12 * 11);
    }
    
    .col-xl-12-12 {
        width: 100%;
    }
}
