/* =========================================================================== *\
    Grid 5's
\* =========================================================================== */

@media (--c-bp-xl) {
    .col-xl-1-5 {
        width: 20%;
    }
    
    .col-xl-2-5 {
        width: 40%;
    }
    
    .col-xl-3-5 {
        width: 60%;
    }
    
    .col-xl-4-5 {
        width: 80%;
    }
    
    .col-xl-5-5 {
        width: 100%;
    }
}
