/* =========================================================================== *\
    Grid 8's
\* =========================================================================== */

@media (--c-bp-xl) {
    .col-xl-1-8 {
        width: calc(100% / 8 - var(--gap));
    }
    
    .col-xl-2-8 {
        width: calc(25% - var(--gap));
    }
    
    .col-xl-3-8 {
        width: calc(100% / 8 * 3 - var(--gap));
    }
    
    .col-xl-4-8 {
        width: calc(50% - var(--gap));
    }
    
    .col-xl-5-8 {
        width: calc(100% / 8 * 5 - var(--gap));
    }
    
    .col-xl-6-8 {
        width: calc(75% - var(--gap));
    }
    
    .col-xl-7-8 {
        width: calc(100% / 8 * 7 - var(--gap));
    }
    
    .col-xl-8-8 {
        width: calc(100% - var(--gap));
    }
}
