/* =========================================================================== *\
    Grid 11's
\* =========================================================================== */

@media (--c-bp-xl) {
    .col-xl-1-11 {
        width: calc(100% / 11);
    }
    
    .col-xl-2-11 {
        width: calc(100% / 11 * 2);
    }
    
    .col-xl-3-11 {
        width: calc(100% / 11 * 3);
    }
    
    .col-xl-4-11 {
        width: calc(100% / 11 * 4);
    }
    
    .col-xl-5-11 {
        width: calc(100% / 11 * 5);
    }
    
    .col-xl-6-11 {
        width: calc(100% / 11 * 6);
    }
    
    .col-xl-7-11 {
        width: calc(100% / 11 * 7);
    }
    
    .col-xl-8-11 {
        width: calc(100% / 11 * 8);
    }
    
    .col-xl-9-11 {
        width: calc(100% / 11 * 9);
    }
    
    .col-xl-10-11 {
        width: calc(100% / 11 * 10);
    }
    
    .col-xl-11-11 {
        width: 100%;
    }
}
