/* =========================================================================== *\
    Grid 7's
\* =========================================================================== */

@media (--c-bp-xl) {
    .col-xl-1-7 {
        width: calc(100% / 7);
    }
    
    .col-xl-2-7 {
        width: calc(100% / 7 * 2);
    }
    
    .col-xl-3-7 {
        width: calc(100% / 7 * 3);
    }
    
    .col-xl-4-7 {
        width: calc(100% / 7 * 4);
    }
    
    .col-xl-5-7 {
        width: calc(100% / 7 * 5);
    }
    
    .col-xl-6-7 {
        width: calc(100% / 7 * 6);
    }
    
    .col-xl-7-7 {
        width: 100%;
    }
}
